$roboto: "Roboto", Helvetica Neue, Helvetica, Arial, sans-serif;
$nimbus: "Nimbus", sans-serif;
$default: "Helvetica Neue", Helvetica, Arial, sans-serif;
$arial: "Arial", sans-serif;
$helvetica: "HelveticaNeue", sans-serif;
$graphik: "Graphik", sans-serif;

$md-width: 1024px;
$sm-width: 768px;
$xs-width: 767px;
$screen_width: 1280px;
$screen_height: 702px;

$header_height: 92px;
$menu_height: 44px;
$panel_height: 88px;

$black: #28282A;
$black_soft: #292f33;
$black_light: #37474f;
$black_dark: #070e19;
$gray: #6e8593;
$gray_dark: #52646f;
$gray_darken: #48555e;
$gray_light: #8b9ea9;
$gray_lighten: #a8b6bf;
$smoke: #e0e6ed;
$smoke_dark: #dae2e8;
$smoke_darken: #c9d7df;
$snow: #fbfbfc;
$snow_dark: #f2f5f7;
$snow_darken: #e3eaf0;
$blue: #1289FE;
$blue_light: #2C93FF;
$blue_lighten: #2CA8FF;
$azure: #00aff2;
$azure_light: #1FB6FF;
$azure_dark: #00a7eb;
$frozen: #74a3c7;
$frozen_dark: #40769F;
$frozen_light: rgba($frozen,.43);
$frozen_lighten: rgba($blue,.1);
$yellow: #ffc82c;
$orange: #ff7849;
$orange_light: #ff944d;
$red: #FF4949;
$red_light: #ff665a;
$crimson: #fc576b;
$chery: #d33682;
$green: #13CE66;
$green_light: #4cd964;
$emerald: #2ac2a0;

$cubic215: cubic-bezier(.215,.61,.355,1);
$cubic57: cubic-bezier(.57,.06,.05,.95);
$cubic645: cubic-bezier(.645,.045,.355,1);
$cubic34: cubic-bezier(.34,.1,.34,1);
$cubic25: cubic-bezier(.25,.46,.45,.94);
$cubic2501: cubic-bezier(.25,.1,.25,1);
$cubic42: cubic-bezier(.42,0,.05,1);
$cubic345: cubic-bezier(.345,.000,.050,.995);

$cubic145: cubic-bezier(.145,.82,.34,1.015);

// .pushright, .pushleft
$cubic272: cubic-bezier(.272,.224,.265,.975);
// .pushleft.out, .pushleft.in {animation-duration: 420ms;}
// translateX(-30%)

$cubic205: cubic-bezier(.205,.735,.635,1.01);
$bounce: cubic-bezier(.175,.885,.32,1.275);
$bounceSoft: cubic-bezier(.175,.885,.32,1.1125);
$cubic68: cubic-bezier(.68,-.55,.265,1.55);

$cubic19: cubic-bezier(.19,1,.22,1);
$cubic34b: cubic-bezier(.34,.61,.7,1);
$cubic23: cubic-bezier(.23,1,.32,1);
$cubic40: cubic-bezier(.4,0,.22,1);
