@mixin abs($pos: absolute) {
    @if $pos == "absolute" {
        @extend .pos-abs-full;
    }
    @else {
        @extend .pos-fixed-full;
    }
}
@mixin abs_50($width, $height, $ed: px) {
    @extend .pos-abs-half;
    width:#{$width}#{$ed};
    height:#{$height}#{$ed};
    margin:#{-$height/2}#{$ed} 0 0 #{-$width/2}#{$ed};
}
@mixin flex($direction, $justify, $align) {
    @extend .flex;
    @if $direction {
        @extend .flexDirection-#{$direction};
    }
    @if $justify {
        @extend .justifyContent-#{$justify};
    }
    @if $align {
        @extend .alignItems-#{$align};
    }
}
@mixin animation($name, $fn: linear, $duration: .3s, $delay: false) {
    animation-name:$name;
    animation-timing-function:$fn;
    animation-duration:$duration;
    animation-fill-mode:forwards;
    @if $delay {
        animation-delay:$delay;
    }
}
@mixin accelerate($transition: false) {
    @extend .accelerate;
    @if $transition {
        transform:translate3d(0, 0, 0);
        transform:translateZ(0);
    }
}
@mixin textEllipsis($width: false, $height: false, $column: false) {
    @extend .overflow-hidden;
    @extend .text-ellipsis;
    @if $width {
        max-width:#{$width};
    }
    @if $height {
        display:-webkit-box;
        -webkit-line-clamp:#{$column};
        -webkit-box-orient:vertical;
        max-height:#{$height};
    }
    @else {
        @extend .nowrap;
    }
}
@mixin responsive($media) {
    @if $media == max-xs-width {
        @media screen and (max-width: $w767) { @content; }
    }
    @else if $media == max-md-width {
        @media screen and (max-width: $w1024) { @content; }
    }
}
