a, a:hover, input, textarea, button {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	appearance:none;
    outline:none;
}
a {
	text-decoration:none;
}
h1, h2, h3, h4, h5, h6 {
	color:$header;
}
div, a, p, span, th, td {
	color:inherit;
	font-size:inherit;
	line-height:inherit;
	font-family:inherit;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4{
    font-weight: 400;
    margin:0 0 15px;
}
h1, .h1 {
    font-size: 52px;
}
h2, .h2{
    font-size: 36px;
}
h3, .h3{
    font-size: 28px;
    margin: 0 0 10px;
}
h4, .h4{
    font-size: 22px;
}
h5, .h5 {
    font-size: 16px;
}
h6, .h6{
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
p {
    font-size: 16px;
    line-height: 1.6180em;
}
blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    border-left: 5px solid #eeeeee;
}
blockquote small {
    display: block;
    line-height: 1.428571429;
    color: #999999;
}
small, .small {
    font-size: 85%;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
    color: #999999;
    font-weight: 300;
    line-height: 1;
}
h1 small, h2 small, h3 small, h1 .small, h2 .small, h3 .small {
    font-size: 60%;
}
h1 .subtitle,
h2 .subtitle,
h3 .subtitle {
    display: block;
    margin: 12px 0 35px;
}
.text-primary, .text-primary:hover {
    color: #1D62F0;
}
.text-muted {
    color: #999999;
}
