.messenger__launcher {
    position:absolute;
    bottom:20px;
    right:20px;
    perspective:800px;
    z-index:1000;

    &__button {
        @include flex("row", "center", "center");
        width:62px;
        height:62px;
        border-radius:50%;
        cursor:pointer;
        user-select:none;
        animation:messenger__launcher__button .25s ease;
        box-shadow:0 1px 6px rgba(0,0,0,.06), 0 2px 32px rgba(0,0,0,.16);
        transition:box-shadow 80ms ease-in-out;

        &:before {
            content:"";
            display:block;
            @include abs();
            border-radius:50%;
            background:#158ffe; //#7B4CFF
            @include accelerate();
            transform:translate3d(0, 0, 0) rotate(0deg);
            z-index:0;
            pointer-events:none;
        }
        &:hover {
            box-shadow:0 2px 8px rgba(0,0,0,.09), 0 4px 40px rgba(0,0,0,.24);
        }
    }
    &__icon {
        display:block;
        width:245px * 0.12;
        height:287px * 0.12;
        @include accelerate();
        cursor:pointer;
        transform:translate3d(0, 0, 0) rotate(-22deg) scale(1);
        z-index:1;
    }
    &__close {
        opacity:0;
        @include abs_50(30, 30);
        @include ui-icon(close_strong_white);
        @include accelerate();
        cursor:pointer;
        transform:translate3d(0, 0, 0) scale(0);
    }
    &:hover {
        .messenger__launcher__icon {
            transform:translate3d(0, 0, 0) rotate(3deg) scale(1.1);
        }
    }
    &:active {
        .messenger__launcher__icon {
            transform:translate3d(0, 1px, 0) rotate(3deg) scale(0.85);
        }
    }
    &__badge {
        position:absolute;
        top:0;
        right:0;
        background:#fc576b;
        width:22px;
        height:22px;
        line-height:22px;
        border-radius:50%;
        color:#fff;
        font-family:$roboto;
        font-size:13px;
        font-weight:bold;
        text-align:center;
        z-index:1;
    }
    &__form {
        opacity:0.01;
        position:absolute;
        bottom:100%;
        right:10px;
        width:370px;
        height:57px;
        // background:#fff;
        border-radius:30px;
        visibility:hidden;
        transform:translate3d(0, -20px, 0) scale3d(0, 0.3, 1);

        &__textarea {
            @include abs();
            color:#565867;
            font-family:$helvetica;
            font-size:16px;
            font-weight:400;
            line-height:1.33;
            border-radius:30px;
            padding:18px 100px 18px 30px;
            // background:#f0f3f5;
            background:#fff;
            box-shadow:0 5px 40px rgba(#000,.16);
            appearance:none;
            border:none;
            outline:none;
            resize:none;
            user-select:text;
            white-space:pre;
            white-space:pre-wrap;
            word-wrap:break-word;
            transition:background-color ease .2s, box-shadow ease .2s;
            z-index:0;

            &::-webkit-input-placeholder {
                color:#a8b6c2;
                font-family:$helvetica;
                font-size:16px;
                font-weight:400;
                line-height:1.33;
                opacity:0.7;
            }
            &::-moz-placeholder {
                color:#a8b6c2;
                font-family:$helvetica;
                font-size:16px;
                font-weight:400;
                line-height:1.33;
                opacity:0.7;
            }
            &:-ms-input-placeholder {
                color:#a8b6c2;
                font-family:$helvetica;
                font-size:16px;
                font-weight:400;
                line-height:1.33;
                opacity:0.7;
            }
            // &:focus {
            //     background:#fff;
            //     box-shadow:0 0 100px 0 rgba(150,165,190,.24);
            // }
        }
        &__buttonSend {
            position:absolute;
            top:50%;
            right:11px;
            width:38px;
            height:38px;
            margin-top:-16px;
            transform:translate3d(0, 0, 0) scale(1);
            cursor:pointer;
            transition:transform 0.12s $cubic215;
            z-index:1;

            &__color {
                fill:$blue;
            }
            &:active {
                transform:translate3d(0, 1px, 0) scale(0.9);
            }
        }
    }
    .messenger__launcher__form,
    .WD__messenger__item,
    .messenger__launcher__icon,
    .messenger__launcher__close {
        will-change:transform, opacity;
    }
    .messenger__launcher__form {
        transition:transform 0.32s $bounceSoft, opacity 0.25s $cubic2501, visibility 0s 0.32s;
    }
    .WD__messenger__items {
        transition:visibility 0s 0.45s;
    }
    .WD__messenger__item {
        transition:transform 0.45s $bounceSoft 0.18s, opacity 0.35s $cubic2501 0.18s;
    }
    .messenger__launcher__icon,
    .messenger__launcher__close {
        transition:transform 0.35s $bounce, opacity 0.25s $cubic2501;
    }
    .messenger__launcher__button:before {
        will-change:transform, border-radius;
        transition:transform 0.25s $cubic25, border-radius 0.25s $cubic2501;
    }
    &[data-firstOpen="true"] {
        .messenger__launcher__form {
            opacity:1;
            visibility:visible;
            transform:translate3d(0, -30px, 0) scale3d(1, 1, 1);
            transition:transform 0.32s $bounceSoft, opacity 0.25s $cubic2501, visibility 0s;
        }
        .WD__messenger__items {
            visibility:visible;
            transition:visibility 0s;
        }
        .WD__messenger__item {
            opacity:1;
            transform:rotate3d(1, 0, 0, 0deg) translate3d(0, 0, 0) scale3d(1, 1, 1);
        }
        .messenger__launcher__button {
            &:before {
                border-radius:0 100% 100%;
                transform:translate3d(0, 0, 0) rotate(45deg);
            }
        }
        .messenger__launcher__icon {
            opacity:0;
            transform:translate3d(0, 0, 0) rotate(0deg) scale(0);
        }
        .messenger__launcher__close {
            opacity:1;
            transform:translate3d(0, 0, 0) scale(1);
        }
    }
}
.WD__messenger__items {
    position:absolute;
    width:320px;
    bottom:158px;
    right:50px;
    visibility:hidden;
}
.WD__messenger__item {
    opacity:0.01;
    position:relative;
    font-family:$helvetica;
    background-color:#fff;
    border-radius:8px;
    padding-bottom:12px;
    box-shadow:0 1px 6px rgba(#000,.06), 0 2px 32px rgba(#000,.16);
    // box-shadow:0 3px 32px 0 rgba(0,0,0,.14);
    transform:rotate3d(1, 0, 0, 90deg) translate3d(0, -10px, 0) scale3d(0, 0.3, 1);

    &:after {
        content:"";
        position:absolute;
        right:100%;
        bottom:15px;
        width:9px;
        height:21px;
        background-image:url(/assets/images/messenger-client/caret.png);
        background-size:9px 21px;
        background-repeat:no-repeat;
    }
    &__avatar {
        position:absolute;
        bottom:21px;
        left:-65px;
        width:53px;
        height:53px;
        background-position:top center;
        background-repeat:no-repeat;
        background-size:cover;
        box-shadow:0 1px 6px rgba(#000,0.06), 0 2px 32px rgba(#000,0.16);
        border-radius:50%;
    }
    &__title {
        color:$blue;
        font-size:15.5px;
        line-height:1.2;
        font-weight:bold;
        white-space:nowrap;
        text-overflow:ellipsis;
        overflow:hidden;
        padding:12px 20px 8px;

        &__post {
            font-size:15px;
            padding-left:5px;
            color:#8f919d;
            font-weight:400;
        }
    }
    &__body {
        color:#6e7a89;
        font-size:15px;
        line-height:1.33;
        margin:0 0 10px;
        padding:0 20px;
    }
}

@keyframes messenger__launcher__button {
    0% {
        opacity:0;
        transform:scale(.5);
    }
    100% {
        opacity:1;
        transform:scale(1);
    }
}
