.messenger__sidebar__left {
    display:block;
    background:#fff;
    border-right:1px solid $smoke;

    &__tabs {
        height:42px;
        border-bottom:1px solid $smoke_darken;
    }
}
.messenger__sidebar__right {
    display:block;
    background:$snow;
    border-left:1px solid $smoke;
}
