.screen__messenger__inner {
    @include flex("column", "flex-start", "center");
    @include abs();
}
.messenger__header {
    width:100%;
    height:55px;
}
.messenger__body {
    @include flex("row", "flex-start", "stretch");
    width:100%;
    height:calc(100% - 55px);
}
.messenger__header,
.messenger__body {
    .borderTop {
        border-top:1px solid #E1E4E8;
    }
    .borderRight {
        border-right:1px solid #E1E4E8;
    }
    .borderBottom {
        border-bottom:1px solid #E1E4E8;
    }
    .borderLeft {
        border-left:1px solid #E1E4E8;
    }               
}
