.messenger__room {
    @include flex("row", "flex-start", "stretch");

    &__inner {
        position:relative;
        background:$snowDark;
        background:linear-gradient(to bottom, $snowDark, #F5F8FA);
    }
    &__content {
        display:block;
        @include abs();
        height:calc(100% - 142px);
        padding:53px 15px 65px;
        overflow-y:auto;
        overflow-x:hidden;
        -webkit-overflow-scrolling:touch;
    }
    &__panel {
        display:block;
        position:absolute;
        bottom:0;
        left:0;
        width:100%;
        height:142px;
    }
}
