.messenger__pharses {
    @include flex("row", "flex-start", "center");
    display:none;
    position:absolute;
    bottom:100%;
    left:0;
    width:100%;
    height:70px;
    overflow:hidden;
    padding:30px 0 8px 20px;
    background:linear-gradient(to top, #F4F7F9 60%, rgba(#F4F7F9,0));

    &__item {
        height:32px;
        border:1px solid $smoke_darken;
        border-radius:20px;
        margin-right:10px;
        background-color:#fff;
        font-family:$default;
        font-size:13.5px;
        line-height:30px;
        padding:0 10px 0 11px;
        box-shadow:0 1px 2px 0 rgba(234,236,238,.8);
        cursor:pointer;
        transition:border-color 0.15s $cubic645, color 0.15s $cubic645, background-color 0.15s $cubic645;
        @include textEllipsis(27.5%);

        &:hover {
            color:$black_soft;
            border-color:#c7dce7;
            background-color:#edf9ff;
        }
    }
    &__button {
        margin-left:10px;
        opacity:0.8;
        transition:opacity 0.12s $cubic645, transform 0.12s $cubic645;
        cursor:pointer;

        &--more {
            @include ui-icon(more_h, 26px, 26px);
            margin-top:2px;
        }
        &--plus {
            @include ui-icon(plus, 28px, 28px);
        }
        &:hover {
            opacity:1;
        }
        &:active {
            transform:translate3d(0, 1px, 0) scale(0.85);
        }
    }
    &[data-active="true"] {
        display:flex;
    }
}
