<section-content id="content">

    <div id="menu">
        <div class="container menu__wrapper">
            <section-data-menu>
            </section>
        </div>
    </div>
    <section-data-options></section-data-options>
    <div class="container">
        <div class="row content__wrapper slide-right">
            <section-data-sidebar class="data__sidebar col-md-5 col-lg-4">
            </section-data-sidebar>
            <div class="data__content">
                <section-data-list class="data__list col-md-15 col-md-offset-1 col-lg-offset-0 col-lg-13">
                </section-data-list>
                <section-dashboard class="dashboard col-md-8 col-lg-11">
                </section-dashboard>
            </div>
        </div>
    </div>

<script>

    var $ = this;

    this.on("mount", function(){

        $Data = {
            menu: $.tags["section-data-menu"],
            sidebar: $.tags["section-data-sidebar"],
            options: $.tags["section-data-options"],
            list: $.tags["section-data-list"],
            dashboard: $.tags["section-dashboard"]
        }

        app.request('getDataInit').then(function(data){
            console.dir(data);
            //$root.tags["data-section"].tags["data-menu"].init(data.menu);
            $Data.list.init(data.list);
            $Data.sidebar.init(data.status);
            // $root.tags["dashboard-section"].tags["dashboard-list"].init({
            //     weather: data.weather,
            //     currency: data.currency
            // });
        });

    });

</script>

</section-content>
