<section-nav id="nav">

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="profile__panel">
                    <div class="profile__panel__avatar">
                        <div class="profile__panel__avatar__image" style="background-image:url(https://marketing.intercomassets.com/assets/_redesign/support/cta/josh-2970f0e920f70deddcab34b0dfa933ab3a3c3e96255efd4afd731bf335980bd3.png)"></div>
                        <!-- <div class="profile__panel__score__left">24</div>
                        <div class="profile__panel__score">
                            <div class="profile__panel__score__item">36</div>
                            <div class="profile__panel__score__item">22</div>
                            <div class="profile__panel__score__item">25</div>
                        </div> -->
                    </div>
                    <!-- <div class="profile__panel__title">Александр</div> -->
                </div>
            </div>
            <div class="col-md-20 col-lg-21 nav__menu">
                <a href="#/" data-item="inbox" class="col-md-4 nav__menu__item">
                    <span class="nav__menu__item__button">Входящие</span>
                </a>
                <a href="#/contacts" data-item="contacts" class="col-md-4 nav__menu__item">
                    <span class="nav__menu__item__button">Контакты</span>
                </a>
                <a href="#/sites" data-item="sites" class="col-md-4 nav__menu__item">
                    <span class="nav__menu__item__button">Сайты</span>
                </a>
                <a href="#/operators" data-item="operators" class="col-md-4 nav__menu__item">
                    <span class="nav__menu__item__button">Операторы</span>
                </a>
                <a href="#/settings" data-item="settings" class="col-md-4 nav__menu__item">
                    <span class="nav__menu__item__button">Настройки</span>
                </a>
                <a href="#/vitrina" data-item="vitrina" class="col-md-4 nav__menu__item">
                    <span class="nav__menu__item__button nav__menu__item__button--products">Витрина</span>
                </a>
                <div id="btn-fullscreen" class="nav__menu__fullscreen"></div>
            </div>
        </div>
    </div>

<script>

    var $ = this;

    this.on("mount", function(){


    });

</script>

</section-nav>
