<section-nav id="nav">

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="profile__panel">
                    <div class="profile__panel__avatar">
                        <div class="profile__panel__avatar__image" style="background-image:url(https://pp.vk.me/c631525/v631525862/31fa6/wGLCQfdOO4g.jpg)"></div>
                        <!-- <div class="profile__panel__score__left">24</div>
                        <div class="profile__panel__score">
                            <div class="profile__panel__score__item">36</div>
                            <div class="profile__panel__score__item">22</div>
                            <div class="profile__panel__score__item">25</div>
                        </div> -->
                    </div>
                    <!-- <div class="profile__panel__title">Александр</div> -->
                </div>
            </div>
            <div class="col-md-20 col-lg-21 nav__menu">
                <div class="col-md-4 nav__menu__item nav__menu__item--active">
                    <a href="#" class="nav__menu__item__button">Входящие</a>
                </div>
                <div class="col-md-4 nav__menu__item">
                    <a href="#" class="nav__menu__item__button">Контакты</a>
                </div>
                <div class="col-md-4 nav__menu__item">
                    <a href="#" class="nav__menu__item__button">Сайты</a>
                </div>
                <div class="col-md-4 nav__menu__item">
                    <a href="#" class="nav__menu__item__button">Операторы</a>
                </div>
                <div class="col-md-4 nav__menu__item">
                    <a href="#" class="nav__menu__item__button">Настройки</a>
                </div>
                <div class="col-md-4 nav__menu__item">
                    <a href="#" class="nav__menu__item__button nav__menu__item__button--products">Витрина</a>
                </div>
                <div class="nav__menu__logout"></div>
            </div>
        </div>
    </div>

<script>

    var $ = this;

    this.on("mount", function(){


    });

</script>

</section-nav>
