.dashboard__item {
    border-radius:4px;
    border:solid 2px lighten(#c9d7df,7.5%);
    min-height:264px;
    padding:17px 22px 0 22px;
    margin-bottom:25px;
    cursor:pointer;
    transition:border-color 0.25s $cubic645;

    &:hover {
        border-color:darken(#c9d7df,5%);
    }
    &--active,
    &--active:hover {
        border-color:lighten(#c9d7df,2%);
        cursor:default;
    }
    &__title {
        font-family:$default;
        text-transform:uppercase;
    }
}
