.data__item {
    position:relative;
    will-change:height;
    transition:height 0.35s $cubic2501, box-shadow 0.3s $cubic25;
    overflow:hidden;
    perspective:800px;

    &[data-new="true"] {
        .data__item__icon {
            background-color:rgba($azure,.06);
            border-color:$azure;

            &:before {
                opacity:1;
            }
            &:after {
                content: "";
                position: absolute;
                top: 17px;
                right: 15px;
                width: 15px;
                height: 15px;
                border: 2px solid #fff;
                background: $azure;
                border-radius: 50%;
                box-shadow:0 2px 5px -2px rgba($azure,.5);
            }
        }
    }
    &__row {
        @include flex("row", "center", "center");
        position:relative;
        height:88px;
        transform:translate3d(0, -2px, 0);
        z-index:2;

        &--num,
        &--text,
        &--email {
            justify-content:flex-start;

            .data__item__label {
                text-align:left;
            }
        }
    }
    &__content {
        opacity:0;
        will-change:opacity, transform;
        transition:opacity 0.25s $cubic57, transform 0.3s $cubic57;
        transform:translate3d(0, 10px, 0) scale(0.98);
    }
    &--active {
        height:264px;
        box-shadow:0 12px 40px -10px rgba($bg_color,.15);

        .data__item__content {
            opacity:1;
            transform:translate3d(0, 0, 0) scale(1);
            transition:opacity 0.2s $cubic215 0.06s, transform 0.3s $cubic215 0.06s;
        }
        .data__item__label--hidden {
            opacity:1;
            transition:opacity 0.2s $cubic215 0.06s;
        }
    }
}
