.data__menu {
    &__left,
    &__right {
        @include flex("row", "flex-start", "center");
        height:44px;
    }
    &__left {
        z-index:1;
    }
}
.sidebarSwither {
    opacity:0.8;
    position:absolute;
    top:0;
    left:0;
    width:43px;
    height:43px;
    cursor:pointer;
    will-change:transform;
    transform:translate3d(-40px, 3px, 0) scaleX(-1);
    transition:transform 0.25s $cubic2501, opacity 0.2s $cubic215;

    &__color {
        fill:$blue;
    }
    &--active {
        transform:translate3d(-45px, 3px, 0) scaleX(1);
    }
    &:hover {
        opacity:1;
    }
}

@media screen and (max-width:$md-width){
    .sidebarSwither {
        left:20px;
    }
}
