<section-events-calendar id="fullCalendar">

<script>

    var $ = this;
    $.el = $$($.root);

    $.init = function(data){

        $.el.fullCalendar($Events.config($, data));

        $.el.on("mouseenter mouseleave", ".fc-day", function(e){
            var $elem = $$(this),
                index = $elem.index(),
                $bg = $elem.closest(".fc-bg"),
                $row = $bg.parent(),
                $number = $bg
                .next()
                .find(".fc-day-number")
                .eq(index),
                $weekday = $.calendarHeader.find(".fc-day-header").eq(index);

            if ($bg.next().find("tbody").find("td").eq(index).hasClass("fc-event-container")){
                if (e.type === "mouseenter"){
                    $elem.addClass("fc-day-event-hover");
                    $number.addClass("fc-day-hover");
                    $weekday.addClass("fc-day-header-hover");
                }
                else {
                    $elem.removeClass("fc-day-event-hover");
                    $number.removeClass("fc-day-hover");
                    $weekday.removeClass("fc-day-header-hover");
                }
            }
            else {
                if (e.type === "mouseenter"){
                    // $row.addClass("fc-row-hover");
                    $elem.addClass("fc-day-hover");
                    $number.addClass("fc-day-hover");
                    $weekday.addClass("fc-day-header-hover");
                }
                else {
                    // $row.removeClass("fc-row-hover");
                    $elem.removeClass("fc-day-hover");
                    $number.removeClass("fc-day-hover");
                    $weekday.removeClass("fc-day-header-hover");
                }
            }
        });

        $.el.on("mouseenter mouseleave", ".fc-content-skeleton tbody td", function(e){
            var $elem = $$(this);
            if ($elem.parent().index() > 0 || $elem[0].innerHTML) return;

            var index = $elem.index(),
                $skeleton = $elem.closest(".fc-content-skeleton"),
                $bg = $skeleton.prev(),
                $number = $skeleton
                .find("thead > .fc-day-number")
                .eq(index),
                $day = $bg
                .find(".fc-day")
                .eq(index),
                $weekday = $.calendarHeader.find(".fc-day-header").eq(index);

            if (e.type === "mouseenter"){
                $day.addClass("fc-day-event-hover");
                $number.addClass("fc-day-hover");
                $weekday.addClass("fc-day-header-hover");
            }
            else {
                $day.removeClass("fc-day-event-hover");
                $number.removeClass("fc-day-hover");
                $weekday.removeClass("fc-day-header-hover");
            }
        });
    };

    $.insert = function(item, event){
        app.request('addEvents', event).then(function(data){
            $store.events.push(event);
            $.el.fullCalendar('renderEvent', item);
        });
    };

    $.set = {
        event: function(item, event){
            app.request('setEvents', {
                id: event._id,
                data: event
            })
            .then(function(data){
                $store.events.select({"_id": event._id}).set(event);
                $.el.fullCalendar('updateEvent', item);
            });
        },
        date: function(event, revertFunc){
            var startDate = event.start.format(),
                endDate = event.end ? event.end.format() : null;

            app.request('setEventsDate', {
                id: event._id,
                start: startDate,
                end: endDate
            })
            .then(function(data){
                var item = $store.events.select({"_id": event._id});
                item.set("start", startDate);
                item.set("end", endDate);
            },
            function(){
                revertFunc();
            });
        }
    };

    $.delete = function(id){
        app.request('delEvents', {
            id: id
        })
        .then(function(data){
            $store.events.select({"_id": id}).unset();
            $.el.fullCalendar('removeEvents', id);
        });
    };

    this.on("unmount", function(){
        $.el.off();
        $.el.fullCalendar('destroy');
    });

</script>

</section-events-calendar>
