<section-events-calendar-list class="event__calendar__list" data-align="{ align }" data-active="{ active }" style="top: { top }px; left: { left }px;">

    <div if={ editable } class="event__editable">
        <div class="event__header">
            <event-title value={ item.title }></event-title>
            <event-color value={ item.color }></event-color>
            <div class="event__header__important">
                <div onClick={ set.onImportant } class="event__header__important__item { active : item.fire }"></div>
            </div>
        </div>
        <div class="event__date">
            <div class="event__date__item event__date__value">{ get.date(item.start, item.end) }</div>
            <div onClick={ set.offAllDay } class="event__date__item event__date__time { active : !item.allDay }">
                <input type="text" value="{ get.time(item.start) }" class="event__date__time__input" autocomplete="off" readonly="">
            </div>
            <div><input onClick={ set.swAllDay } type="checkbox" class="switcher small" checked="{ item.allDay }"></div>
            <div onClick={ set.onAllDay } class="event__date__item event__date__allday { active : item.allDay }">весь день</div>
        </div>
        <event-attach type="email" value="{ item.email }"></event-attach>
        <event-attach type="phone" value="{ item.phone }"></event-attach>
        <event-attach type="comments" value="{ item.comments }"></event-attach>
        <div class="event__buttons">
            <div class="btn-group">
                <div if={ !created } onClick={ onRemove } class="btn btn-danger btn-hover-fill btn-md">Удалить</div>
                <div onClick={ onHide } class="btn btn-hover-fill btn-md">Отменить</div>
                <div onClick={ onSave } class="btn btn-hover-fill btn-md">{ created ? 'Создать событие' : 'Сохранить' }</div>
            </div>
        </div>
    </div>
    <div if={ !editable }>
        <div class="event__list__timeline"></div>
        <div class="event__list__item">
            <div if={ item.fire } class="event__list__item__important"></div>
            <div class="event__list__item__time { event__list__item__time--allday : item.allDay }">{ item.allDay ? 'Весь день' : get.time(item.start) }</div>
            <div class="event__list__item__color">
                <div class="event__list__item__color__item fc-event-color-border{ item.color }"></div>
            </div>
            <div class="event__list__item__container">
                <div class="event__list__item__title">{ item.title }</div>
                <div if={ item.phone } class="event__list__item__strong">{ item.phone }</div>
                <a if={ item.email } href="mailto:{ item.email }" class="event__list__item__link">{ item.email }</a>
                <div if={ item.comments } class="event__list__item__text">{ item.comments }</div>
            </div>
        </div>
    </div>

<script>

    var $ = this,
    $scope = $$($.root),
    defaultTime = "10:00";
    defaultColor = 3;

    $.top = 0;
    $.left = 0;
    $.align = "down-right";
    $.item = null;
    $._item = null;
    $.created = false;
    $.editable = false;
    $.callback = null;
    $.active = false;

    $.create = function(start, end, cords, callback){
        if (start && callback){
            $.callback = callback;
            $.created = true;
            $.editable = true;
            $.onShow($.normalize.create(start, end), cords);
        }
    };

    $.edit = function(item, cords, callback){
        if (item && callback){
            if ($.editable && $.item && $.item._id == item._id){
                $.editable = false;
                $.hide();
            }
            else {
                $.callback = callback;
                $.editable = true;
                $.onShow(item, cords);
            }
        }
    };

    $.show = function(item, cords){
        if ($.editable) return;
        $.onShow(item, cords);
    };

    $.onShow = function(item, cords){
        $._item = item;
        if ($.editable && !$.created) $.item = $.normalize.get(item);
        else $.item = item;

        var offsetX = $$(cords.currentTarget).offset();

        if (offsetX) $.left = offsetX.left + cords.currentTarget.clientWidth;
        else $.left = cords.pageX;

        $.top = cords.pageY - cords.offsetY + app.$dom.scroll[0].scrollTop;
        $.active = true;

        $.update();

        if ($.editable) {
            $.init.clockpicker();
            $.init.daterange();
            $.tags["event-color"].init();
        }
    };

    $.init = {
        clockpicker: function(){
            if (!$.clockpicker){
                $.clockpicker = $scope.find(".event__date__time");
                $.clockInput = $.clockpicker.find("input");
                $.clockpicker.clockpicker({
                    parentEl: '.screen__main__inner',
                    donetext: 'Применить',
                    align: 'left',
                    afterDone: function(){
                        $.set.time($.clockInput.val());
                    }
                });
            }
        },
        daterange: function(){
            var end_ = $.item.end ? moment($.item.end.format()) : null;
            if (end_) end_.subtract(1, 'days');

            if ($.daterange){
                $.daterange.data('daterangepicker')
                .setStartDate($.item.start.format("DD/MM/YYYY"));

                if ($.item.end){
                    $.daterange.data('daterangepicker')
                    .setEndDate(end_.format("DD/MM/YYYY"));
                }
                else {
                    $.daterange.data('daterangepicker')
                    .setEndDate($.item.start.format("DD/MM/YYYY"));
                }
            }
            else {
                $.daterange = $scope.find(".event__date__value");
                $.daterange.daterangepicker({
                    buttonClasses: ['btn btn-hover-fill', 'btn-sm'],
                    parentEl: '.screen__main__inner',
                    opens: 'right',
                    singleDatePicker: true,
                    showDropdowns: false,
                    startDate: $.item.start.format("DD/MM/YYYY"),
                    endDate: end_ ? end_.format("DD/MM/YYYY") : $.item.start.format("DD/MM/YYYY"),
                    autoApply: true,
                    locale: {
                        format: 'DD/MM/YYYY',
                        applyLabel: 'OK',
                        cancelLabel: 'Отменить',
                        daysOfWeek: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
                        monthNames: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
                        firstDay: 1
                    }
                }, function (start, end) {
                    $.set.date(start, end);
                    $.update();
                });
            }
        }
    };

    $.normalize = {
        create: function(start, end){
            var start_ = moment(start.format());
            $.set.time(defaultTime, start_);

            var end_ = moment(end.format());
            $.set.time("0:00", end_);

            return {
                _id: moment().unix(),
                title: null,
                start: start_,
                end: end_,
                email: null,
                phone: null,
                comments: null,
                fire: false,
                allDay: true,
                color: defaultColor
            }
        },
        get: function(item){
            var start = moment(item.start.format());
            if ($._item.allDay) $.set.time(defaultTime, start);

            return {
                _id: item._id,
                title: item.title,
                start: start,
                end: item.end ? moment(item.end.format()) : null,
                email: item.email ? item.email : null,
                phone: item.phone ? item.phone : null,
                comments: item.comments ? item.comments : null,
                fire: item.fire ? true : false,
                allDay: item.allDay ? true : false,
                color: item.color
            }
        },
        set: function(item){
            if ($._item && item){
                $._item.title = _.clearField(item.title, 'Новое событие');
                $._item.start = item.start;
                $._item.end = item.end;
                $._item.email = _.clearField(item.email);
                $._item.phone = _.clearField(item.phone);
                $._item.comments = _.clearField(item.comments);
                $._item.allDay = item.allDay;
                $._item.fire = item.fire;
                $._item.color = item.color;
                return $._item;
            }
        }
    };

    $.get = {
        date: function(start, end){
            var end_ = end ? moment(end.format()) : null;
            if (end_) end_.subtract(1, 'days');
            if (start && end_ && start.format('D/MM') != end_.format('D/MM')) {
                return start.format('D/MM') + " - " + end_.format('D/MM');
            }
            else if (start) {
                return start.format('D MMMM');
            }
        },
        time: function(date){
            if (date) return date.format('HH:mm');
        }
    };

    $.set = {
        onImportant: function(){
            $.item.fire = !$.item.fire;
        },
        swAllDay: function(e){
            $.item.allDay = !$.item.allDay;
        },
        onAllDay: function(e){
            $.item.allDay = true;
        },
        offAllDay: function(e){
            $.item.allDay = false;
        },
        date: function(start, end){
            if (start) $.item.start = start;
            if (end && end.diff(start, 'days') > 0) $.item.end = end;
            else $.item.end = null;
            $.set.time($.clockInput.val());
        },
        time: function(time, data){
            if (time){
                var h = time.match(/(\d+):\d+/)[1],
                    m = time.match(/\d+:(\d+)/)[1];

                if (data){
                    data.set({'hour': h, 'minute': m});
                }
                else {
                    $.item.start.set({'hour': h, 'minute': m});
                }
            }
        }
    };

    $.onSave = function(){
        $.callback($.normalize.set($.item));
        $.onHide();
    };

    $.onRemove = function(){
        $Events.calendar.el.fullCalendar('removeEvents', $.item._id);
        $.onHide();
    };

    $.hide = function(){
        if ($.editable) return;
        $.onHide();
        $.update();
    };

    $.onHide = function(){
        $.editable = false;
        $.created = false;
        $.active = false;
        $.callback = null;

        _.each($.tags["event-attach"], function(tag){
            tag.onHide();
        });
    };

    this.on("unmount", function(){
        if ($.clockpicker) {
            $.clockpicker.clockpicker('remove');
        }
        if ($.daterange) {
            $.daterange.data('daterangepicker').remove();
        }
    });

</script>

</section-events-calendar-list>
