<section-events-calendar-list class="event__calendar__list" data-align="{ align }" data-active="{ active }" style="top: { top }px; left: { left }px;">

    <div if={ editable } class="event__editable">
        <div class="event__header">
            <event-title value={ item.title }></event-title>
            <event-color value={ item.color }></event-color>
            <div class="event__header__important">
                <div onClick={ set.onImportant } class="event__header__important__item { active : item.fire }"></div>
            </div>
        </div>
        <div class="event__date">
            <div class="event__date__item event__date__value">{ get.date(item.start, item.end) }</div>
            <div onClick={ set.offAllDay } class="event__date__item event__date__time { active : !item.allDay }">
                <input type="text" value="{ get.time(item.start) }" class="event__date__time__input" autocomplete="off" readonly="">
            </div>
            <div><input onClick={ set.swAllDay } type="checkbox" class="switcher small" checked="{ item.allDay }"></div>
            <div onClick={ set.onAllDay } class="event__date__item event__date__allday { active : item.allDay }">весь день</div>
        </div>
        <event-attach type="email" value="{ item.email }"></event-attach>
        <event-attach type="phone" value="{ item.phone }"></event-attach>
        <event-attach type="comments" value="{ item.comments }"></event-attach>
        <div class="event__buttons">
            <div class="btn-group">
                <div onClick={ onRemove } class="btn btn-danger btn-hover-fill btn-md">Удалить</div>
                <div onClick={ onHide } class="btn btn-hover-fill btn-md">Отменить</div>
                <div dgClick={ onSave } id="events-calendar-list-save" class="btn btn-hover-fill btn-md">Сохранить</div>
            </div>
        </div>
    </div>
    <div if={ !editable }>
        <div class="event__list__timeline"></div>
        <div class="event__list__item">
            <div if={ item.fire } class="event__list__item__important"></div>
            <div class="event__list__item__time { event__list__item__time--allday : item.allDay }">{ item.allDay ? 'Весь день' : get.time(item.start) }</div>
            <div class="event__list__item__color">
                <div class="event__list__item__color__item fc-event-color-border{ item.color }"></div>
            </div>
            <div class="event__list__item__container">
                <div class="event__list__item__title">{ item.title }</div>
                <div if={ item.type === "callphone" } class="event__list__item__strong">{ item.phone }</div>
                <a if={ item.type === "sendmail" } href="mailto:{ item.email }" class="event__list__item__link">{ item.email }</a>
                <div if={ item.comments } class="event__list__item__text">{ item.comments }</div>
            </div>
        </div>
    </div>

<script>

    var $ = this,
    $scope = $$($.root);

    $.top = 0;
    $.left = 0;
    $.align = "down-right";
    $.item = null;
    $.editable = false;
    $.callback = null;
    $.active = false;

    $.edit = function(item, cords, callback){
        if (item && callback){
            if ($.editable && $.item && $.item._id == item._id){
                $.editable = false;
                $.hide();
            }
            else {
                $.callback = callback;
                $.editable = true;
                $.onShow(item, cords);
            }
        }
    };

    $.show = function(item, cords){
        if ($.editable) return;
        $.onShow(item, cords);
    };

    $.onShow = function(item, cords){
        $.item = item;
        $.top = cords.pageY - cords.offsetY + app.$dom.scroll[0].scrollTop;
        $.left = $$(cords.currentTarget).offset().left + cords.currentTarget.clientWidth;
        $.active = true;
        $.update();
        if ($.editable) {
            $.init.clockpicker();
            $.init.daterange();
        }
    };

    $.init = {
        clockpicker: function(){
            if (!$.clockpicker){
                $.clockpicker = $scope.find(".event__date__time").clockpicker({
                    parentEl: '.screen__main__inner',
                    donetext: 'Применить',
                    align: 'left'
                });
                $.clockinput = $.clockpicker.find("input");
                $.clockinput.on("change", function(e){
                    var value = this.value;
                });
            }
        },
        daterange: function(){
            if (!$.daterange){
                $.daterange = $scope.find(".event__date__value");
                $.daterange.daterangepicker({
                    buttonClasses: ['btn btn-hover-fill', 'btn-sm'],
                    parentEl: '.screen__main__inner',
                    opens: 'right',
                    singleDatePicker: $.item.end ? false : true,
                    showDropdowns: false,
                    startDate: $.item.start && $.item.start._d ? $.item.start._d : moment(),
                    endDate: $.item.end && $.item.end._d ? $.item.end._d : $.item.start._d,
                    autoApply: true,
                    locale: {
                        format: 'DD/MM/YYYY',
                        applyLabel: 'OK',
                        cancelLabel: 'Отменить',
                        daysOfWeek: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
                        monthNames: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
                        firstDay: 1
                    }
                }, function (start, end) {
                    $.daterange.text(moment(start).format('D MMMM'));
                });
            }
        }
    };

    $.get = {
        time: function(date){
            if (date) return moment(date._d).format('h:mm');
        },
        date: function(start, end){
            if (start && end) {
                return moment(start._d).format('D/MM') + " - " + moment(end._d).format('D/MM');
            }
            else if (start && !end) {
                return moment(start._d).format('D MMMM');
            }
        }
    };

    $.set = {
        onImportant: function(){
            $.item.fire = !$.item.fire;
        },
        swAllDay: function(e){
            $.item.allDay = !$.item.allDay;
        },
        onAllDay: function(e){
            $.item.allDay = true;
        },
        offAllDay: function(e){
            $.item.allDay = false;
        }
    };

    $.onSave = function(){

    };

    $.onRemove = function(){

    };

    $.hide = function(){
        if ($.editable) return;
        $.onHide();
        $.update();
    };

    $.onHide = function(){
        $.editable = false;
        $.active = false;
        $.callback = null;

        _.each($.tags["event-attach"], function(tag){
            tag.onHide();
        });
    };

    this.on("unmount", function(){
        if ($.clockpicker) {
            $.clockinput.off("change");
            $.clockpicker.clockpicker('remove');
        }
        if ($.daterange) {
            $.daterange.data('daterangepicker').remove();
        }
    });

</script>

</section-events-calendar-list>
