<section-events-calendar id="fullCalendar">

<script>

    var $ = this;
    $.el = $$($.root);

    this.on("mount", function(){
        var today = new Date(),
            y = today.getFullYear(),
            m = today.getMonth(),
            d = today.getDate();

        $.el.fullCalendar({
            customButtons: {
                titleHelp: {
                    text: 'Нажмите на день для доб. события'
                }
            },
			header: {
				left: 'titleHelp',
				center: 'title',
				right: 'prev,next,today'
			},
			defaultDate: today,
            timeFormat: 'H:mm',
			selectable: true,
			selectHelper: true,
            editable: true,
			// eventLimit: true,
			titleFormat: {
                month: 'MMMM YYYY / D', // September 2015
                week: "MMMM D YYYY", // September 2015
                day: 'D MMM, YYYY'  // Tuesday, Sep 8, 2015
            },
            eventAfterAllRender: function(){
                $.calendarHeader = $.el.find(".fc-head-container");
            },
            eventRender: function(item, element) {
                if (item.fire){
                    element.append('<div class="fc-important"></div>');
                }
                if (item.color !== undefined){
                    element[0].setAttribute('data-color', item.color);
                }
            },
            eventMouseover: function(item, jsEvent, view) {
                $Events.list.show(item, jsEvent);
            },
            eventMouseout: function(item, jsEvent, view) {
                $Events.list.hide();
            },
			select: function(start, end, jsEvent, view) {
                $Events.list.create(start, end, jsEvent, function(item){
                    $.el.fullCalendar('renderEvent', item);
                });

			},
            eventClick: function(item, jsEvent, view) {
                $Events.list.edit(item, jsEvent, function(item){
                    $.el.fullCalendar('updateEvent', item);
                });
            },
            events: $store.events.get()
		});

        $.el.on("mouseenter mouseleave", ".fc-day", function(e){
            var $elem = $$(this),
                index = $elem.index(),
                $bg = $elem.closest(".fc-bg"),
                $row = $bg.parent(),
                $number = $bg
                .next()
                .find(".fc-day-number")
                .eq(index),
                $weekday = $.calendarHeader.find(".fc-day-header").eq(index);

            if ($bg.next().find("tbody").find("td").eq(index).hasClass("fc-event-container")){
                if (e.type === "mouseenter"){
                    $elem.addClass("fc-day-event-hover");
                    $number.addClass("fc-day-hover");
                    $weekday.addClass("fc-day-header-hover");
                }
                else {
                    $elem.removeClass("fc-day-event-hover");
                    $number.removeClass("fc-day-hover");
                    $weekday.removeClass("fc-day-header-hover");
                }
            }
            else {
                if (e.type === "mouseenter"){
                    // $row.addClass("fc-row-hover");
                    $elem.addClass("fc-day-hover");
                    $number.addClass("fc-day-hover");
                    $weekday.addClass("fc-day-header-hover");
                }
                else {
                    // $row.removeClass("fc-row-hover");
                    $elem.removeClass("fc-day-hover");
                    $number.removeClass("fc-day-hover");
                    $weekday.removeClass("fc-day-header-hover");
                }
            }
        });

        $.el.on("mouseenter mouseleave", ".fc-content-skeleton tbody td", function(e){
            var $elem = $$(this);
            if ($elem.parent().index() > 0 || $elem[0].innerHTML) return;

            var index = $elem.index(),
                $skeleton = $elem.closest(".fc-content-skeleton"),
                $bg = $skeleton.prev(),
                $number = $skeleton
                .find("thead > .fc-day-number")
                .eq(index),
                $day = $bg
                .find(".fc-day")
                .eq(index),
                $weekday = $.calendarHeader.find(".fc-day-header").eq(index);

            if (e.type === "mouseenter"){
                $day.addClass("fc-day-event-hover");
                $number.addClass("fc-day-hover");
                $weekday.addClass("fc-day-header-hover");
            }
            else {
                $day.removeClass("fc-day-event-hover");
                $number.removeClass("fc-day-hover");
                $weekday.removeClass("fc-day-header-hover");
            }
        });
    });

    this.on("unmount", function(){
        $.el.off();
        $.el.fullCalendar('destroy');
    });

</script>

</section-events-calendar>
