<section-dashboard>

    <div class="dashboard__item dashboard__item--active">
        <h5 class="dashboard__item__title">resumekraft.ru</h5>
        <!-- <div class="dropdown dashboard__select" data-type="select">
            <div class="dropdown__button dashboard__select__button">Сегодня</div>
            <ul class="dropdown__menu" data-align="down-right">
                <li class="selected">Сегодня</li>
                <li>Вчера</li>
                <li>Неделя</li>
                <li>Месяц</li>
                <li>Квартал</li>
            </ul>
        </div> -->

    </div>
    <div class="dashboard__item">
        <h5 class="dashboard__item__title">yandex.ru</h5>

    </div>

<script>

    var $ = this;

    this.on("mount", function(){


    });

</script>

</section-dashboard>
