<section-data-content>

    <div id="menu">
        <div class="container menu__wrapper">
            <section-data-menu>
            </section>
        </div>
    </div>
    <section-data-options></section-data-options>
    <div class="container">
        <div class="row content__wrapper slide-right">
            <section-data-sidebar class="data__sidebar col-md-5 col-lg-4">
            </section-data-sidebar>
            <div class="data__content">
                <section-data-list class="data__list col-md-15 col-md-offset-1 col-lg-offset-0 col-lg-13">
                </section-data-list>
                <section-dashboard class="dashboard col-md-8 col-lg-11">
                </section-dashboard>
            </div>
        </div>
    </div>

<script>

    var $ = this;

    $Data = {
        menu: $.tags["section-data-menu"],
        sidebar: $.tags["section-data-sidebar"],
        options: $.tags["section-data-options"],
        list: $.tags["section-data-list"],
        dashboard: $.tags["section-dashboard"],
        config: new Baobab({
            mode: "inbox",
            itemsPage: 10,
            currentPage: 1,
            countPages: null,
            sidebarExpand: true
        }, { autoCommit: true })
    };

    this.on("mount", function(){
        if (!$store.data){
            app.request('getDataInit').then(function(data){
                $Data.list.init(data.list);
                $Data.sidebar.init(data.status);
            });
        }
        else {
            $Data.list.init($store.data.get());
            $Data.sidebar.init($store.status.get());
        }
        $Data.menu.change.sidebarState($Data.config.get('sidebarExpand'));
    });

</script>

</section-data-content>
