<section-data-options class="data__panel__options" data-active="{ active }">

    <div class="container">
        <div class="row">
            <div class="data__panel__options__left col-lg-7 col-md-9">
                <div class="col-md-9 data__panel__options__count__title">выбрано</div>
                <div class="col-md-4 data__panel__options__count">{ counts }</div>
                <div onClick={ onClear } class="col-md-9 data__panel__options__count__title text-right data__panel__options__cancel">отменить</div>
            </div>
            <div class="data__panel__options__right col-lg-10 col-md-10">
                <div onClick={ onViewed } data-help="viewed" class="data__panel__options__button data__panel__options__button__viewed"></div>
                <div onClick={ onImportant } data-help="important" class="data__panel__options__button data__panel__options__button__important"></div>
                <div data-help="remove" class="data__panel__options__button data__panel__options__button__remove"></div>
                <div data-help="folder" class="data__panel__options__button data__panel__options__button__folder"></div>
                <div onClick={ onCheckAll } data-help="selectAll" class="data__panel__options__button data__panel__options__button__selectAll"></div>
                <div help-item=".data__panel__options__right" help-data="dataPanelOptions" class="data__panel__options__help getHelp"></div>
            </div>
        </div>
    </div>

<script>

    var $ = this,
    $scope = $$(this.root);

    $.active = false;

    $.init = function(counts){

        if (counts) $.active = true;
        else $.active = false;

        if (!app.device.isMobile && counts == 1) $.onScroll(app.$dom.scroll[0].scrollTop);

        $.counts = counts;
        $.update();

        if (!app.device.isMobile && !counts) $.onScroll(true, true);
    };

    $.onClear = function(){
        $Data.list.set.unChecked();
        $.active = false;
        $.counts = 0;
    };

    $.onCheckAll = function(){
        _.each($Data.list.get.data(), function(item){
            if (!item.checked){
                item.checked = true;
                $.counts++;
            }
        });
        $Data.list.update();
    };

    $.onViewed = function(){
        var list = $.isChecked(true);
        app.request('setDataListViewed', list).then(function(result){
            if (result) $.checkedUpdate(list, "new", false);
        });
        $.onClear();
    };

    $.onImportant = function(){
        var list = $store.data.isChecked($Data.config.get("mode"));

        if (list && !list.length) return;

        var important = _.pluck(_.where(list, {"important": false}), "_id"),
            unimportant = _.pluck(_.where(list, {"important": true}), "_id");

        if (important && important.length){
            app.request('setDataListImportant', important).then(function(result){
                if (result) $.checkedUpdate(important, "important", true);
            });
        }
        if (unimportant && unimportant.length){
            app.request('setDataListUnimportant', unimportant).then(function(result){
                if (result) $.checkedUpdate(unimportant, "important", false);
            });
        }

        $.onClear();
    };

    $.isChecked = function(getIds){
        return $store.data.isChecked($Data.config.get("mode"), getIds);
    };

    $.checkedUpdate = function(list, prop, value){
        _.each(list, function(id){
            $store.data.select({'_id': id}).set(prop, value);
        });
        $Data.list.update();
    };

    $.onScroll = function(scroll, force){
        if (scroll > 93 && !force) {
            $scope[0].style[PREFIX["transform"]] = "translate3d(0, " + scroll + "px, 0)";
        }
        else {
            $scope[0].style[PREFIX["transform"]] = "translate3d(0, 93px, 0)";
        }
    };

    this.on("mount", function(){

        if ($store.data) $.init($store.data.isChecked($Data.config.get("mode")).length);

        if (!app.device.isMobile){
            var top = 93;
            app.$dom.scroll.on("scroll.filterPanel", function(e){
                if ($.active){
                    var scroll = this.scrollTop,
                    scrollContent = function(){
                        $.onScroll(scroll);
                    };
                    app.utils.raf(scrollContent);
                    scrollContent();
                }
            });
        }
    });

    this.on("unmount", function(){
        app.$dom.scroll.off("scroll.filterPanel");
    });

</script>

</section-data-options>
