<section-data>

    <div id="menu">
        <div class="container menu__wrapper">
            <section-data-menu></section-data-menu>
        </div>
    </div>
    <section-data-options></section-data-options>
    <div class="container">
        <div class="row content__wrapper slide-right">
            <section-data-sidebar></section-data-sidebar>
            <div class="data__content">
                <section-data-list></section-data-list>
                <section-dashboard></section-dashboard>
            </div>
        </div>
    </div>

<script>

    var $ = this;

    $Data = {
        tag: $,
        el: $$($.root),
        menu: $.tags["section-data-menu"],
        sidebar: $.tags["section-data-sidebar"],
        options: $.tags["section-data-options"],
        list: $.tags["section-data-list"],
        dashboard: $.tags["section-dashboard"],
        config: new Baobab({
            mode: "inbox",
            itemsPage: 10,
            currentPage: 1,
            countPages: null,
            sidebarExpand: true
        }, { autoCommit: true })
    };

    this.on("mount", function(){
        $Data.list.init();
        $Data.sidebar.init($store.status.get());
        $Data.menu.change.sidebarState($Data.config.get('sidebarExpand'));
    });

</script>

</section-data>
