<section-data-content>

    <div id="menu">
        <div class="container menu__wrapper">
            <section-data-menu>
            </section>
        </div>
    </div>
    <section-data-options></section-data-options>
    <div class="container">
        <div class="row content__wrapper slide-right">
            <section-data-sidebar class="data__sidebar col-md-5 col-lg-4">
            </section-data-sidebar>
            <div class="data__content">
                <section-data-list class="data__list col-md-15 col-md-offset-1 col-lg-offset-0 col-lg-13">
                </section-data-list>
                <section-dashboard class="dashboard col-md-8 col-lg-11">
                </section-dashboard>
            </div>
        </div>
    </div>

<script>

    var $ = this;

    this.on("mount", function(){

        $Data = {
            menu: $.tags["section-data-menu"],
            sidebar: $.tags["section-data-sidebar"],
            options: $.tags["section-data-options"],
            list: $.tags["section-data-list"],
            dashboard: $.tags["section-dashboard"]
        }

        if (!$store.data){
            app.request('getDataInit').then(function(data){
                console.time("initData");
                $Data.list.init(data.list);
                $Data.sidebar.init(data.status);
                console.timeEnd("initData");
            });
        }
        else {
            console.time("reInitData");
            $Data.list.init($store.data.get());
            $Data.sidebar.init($store.status.get());
            console.timeEnd("reInitData");
        }
    });

</script>

</section-data-content>
