<section-data-sidebar>

    <div class="sidebar__filter__item open">
        <div class="sidebar__filter__title">Каналы</div>
        <div class="sidebar__filter__container">
            <div class="sidebar__filter__body">
                <virtual each={ item in $store.chanels.get() } no-reorder>
                    <div onClickUpdate={ change.chanel } data-hidden="{true : item.hidden}" class="filter__checkbox ch {checked: item.active, focus: item.focus}">
                        <label class="filter__checkbox__item">{ item.title }</label>
                        <span if={ item.count > 0 } class="filter__checkbox__count">{ item.count }</span>
                    </div>
                </virtual>
                <div class="pos-rel" data-balloon="Показывать и тех, кто были перенесены в контакты" data-balloon-pos="up" data-balloon-length="medium"><label class="filter__checkbox__item">Включая всех</label></div>
            </div>
        </div>
    </div>
    <div class="sidebar__filter__item open">
        <div class="sidebar__filter__title">Статусы</div>
        <div class="sidebar__filter__container">
            <div class="sidebar__filter__body">
                <div onClickUpdateAll={ change.statusAll } class="filter__checkbox stAll { checked : statusAll }">
                    <label class="filter__checkbox__item">Все</label>
                </div>
                <virtual each={ item in $store.status.get() } no-reorder>
                    <div onClickUpdateAll={ change.status } data-hidden="{true : item.hidden}" class="filter__checkbox st {checked: item.active & !statusAll, focus: item.focus}">
                        <label class="filter__checkbox__item">{ item.title }</label>
                        <span class="filter__checkbox__color color__bg{ item.color }"></span>
                    </div>
                </virtual>
            </div>
        </div>
    </div>

<script>

    var $ = this,
    $scope = $$($.root);

    $.statusAll = true;

    $.init = function(status){
        var chanels = [
            {
                chanel: 'callback',
                title: 'Звонки'
            },
            {
                chanel: 'messenger',
                title: 'Онлайн-чат'
            },
            {
                chanel: 'reviews',
                title: 'Отзывы'
            },
            {
                chanel: 'tweet',
                title: 'Твиты'
            },
            {
                chanel: 'orders',
                title: 'Заявки'
            }
        ];

        _.each(chanels, function(item){
            item.count = 0;
            item.active = true;
        });

        // var status = [];
		// for (var i = 1; i < 15; ++i){
        //     status.push({
        // 		_id: i,
        // 		title: "Новый",
        // 		color: i
        // 	});
		// }

        _.each(status, function(item){
            item.active = true;
        });

        $store.chanels = new Baobab(chanels);

        $store.status = new Baobab(status);

        $.set.chanelsCount();

        $.update();
        $Data.list.update();

        $Data.menu.set.countAll($Data.list.get.isActive().length);
    };

    $.change = {
        chanel: function(e){
            this.item.active = !this.item.active;
            $.change.unfocus(e, this);
            $Data.list.search.run();
        },
        status: function(e){
            if ($.statusAll) $.statusAll = false;
            else {
                this.item.active = !this.item.active;
                $.change.unfocus(e, this);
            }
            $Data.list.search.run();
        },
        statusAll: function(e){
            $.statusAll = !$.statusAll;
            if ($.statusAll){
                $store.status.get(function(item) {
                    item.active = true;
                });
                $Data.list.search.run();
            }
        },
        unfocus: function(e, $this){
            if (!app.device.isMobile && !$this.item.active){
                var $item = $$(e.target);
                $this.item.focus = true;
                $item.on("mouseleave", function(){
                    $this.item.focus = false;
                    $this.update();
                    $item.off("mouseleave");
                });
            }
        }
    };

    $.set = {
        chanelsCount: function(update){
            var items = $store.data.get();
            $store.chanels.get(function(item) {
                $store.chanels.select({'chanel': item.chanel}).set(
                    'count', _.filter(items, function(dataItem){return dataItem.active && dataItem.chanel === item.chanel}).length
                );
            });
            if (update) $.update();
        }
    };

</script>

</section-data-sidebar>
