<section-data-sidebar class="data__sidebar col-md-5 col-lg-4">

    <div class="sidebar__filter__item open">
        <div class="sidebar__filter__title">Каналы</div>
        <div class="sidebar__filter__container">
            <div class="sidebar__filter__body">
                <virtual each={ item in $store.chanels.get() } no-reorder>
                    <div onClick={ change.chanel } data-hidden="{true : item.hidden}" class="filter__checkbox ch {checked: item.active, focus: item.focus}">
                        <label class="filter__checkbox__item">{ item.title }</label>
                        <span if={ item.count > 0 } class="filter__checkbox__count">{ item.count }</span>
                    </div>
                </virtual>
                <div class="pos-rel" data-balloon="Показывать и тех, кто были перенесены в контакты" data-balloon-pos="up" data-balloon-length="medium"><label class="filter__checkbox__item">Включая всех</label></div>
            </div>
        </div>
    </div>
    <div class="sidebar__filter__item open">
        <div class="sidebar__filter__title">Статусы</div>
        <div class="sidebar__filter__container">
            <div class="sidebar__filter__body">
                <div onClick={ change.statusAll } class="filter__checkbox stAll { checked : statusAll }">
                    <label class="filter__checkbox__item">Все</label>
                </div>
                <virtual each={ item in $store.status.get() } no-reorder>
                    <div onClick={ change.status } data-hidden="{true : item.hidden}" class="filter__checkbox st {checked: item.active & !statusAll, focus: item.focus}">
                        <label class="filter__checkbox__item">{ item.title }</label>
                        <span class="filter__checkbox__color color__bg{ item.color }"></span>
                    </div>
                </virtual>
            </div>
        </div>
    </div>

<script>

    var $ = this,
    $scope = $$($.root);

    $.statusAll = true;

    $.init = function(){
        var chanels = [
            {
                chanel: 'callback',
                title: 'Звонки'
            },
            {
                chanel: 'messenger',
                title: 'Онлайн-чат'
            },
            {
                chanel: 'reviews',
                title: 'Отзывы'
            },
            {
                chanel: 'tweet',
                title: 'Твиты'
            },
            {
                chanel: 'orders',
                title: 'Заявки'
            }
        ];

        _.each(chanels, function(item){
            item.count = 0;
            item.active = true;
        });

        $store.chanels = new Baobab(chanels);

        $.refresh();
        $Data.list.update();
        $Data.menu.set.countAll();
    };

    $.refresh = function(){
        var items = $store.data.get();
        $store.chanels.get(function(item) {
            $store.chanels.select({'chanel': item.chanel}).set(
                'count', _.filter(items, function(dataItem){return dataItem.active && dataItem.state === $Data.list.config.mode && dataItem.chanel === item.chanel}).length
            );
        });
        $.update();
    };

    $.change = {
        chanel: function(e){
            this.item.active = !this.item.active;
            $.change.unfocus(e, this);
            $Data.list.refresh();
        },
        status: function(e){
            if ($.statusAll) $.statusAll = false;
            else {
                this.item.active = !this.item.active;
                $.change.unfocus(e, this);
            }
            $Data.list.refresh();
        },
        statusAll: function(e){
            $.statusAll = !$.statusAll;
            if ($.statusAll){
                $store.status.get(function(item) {
                    item.active = true;
                });
                $Data.list.refresh();
            }
        },
        unfocus: function(e, $this){
            if (!app.device.isMobile && !$this.item.active){
                var $item = $$(e.target);
                $this.item.focus = true;
                $item.on("mouseleave", function(){
                    $this.item.focus = false;
                    $this.update();
                    $item.off("mouseleave");
                });
            }
        }
    };

</script>

</section-data-sidebar>
