.btn {
    color:$blue;
    border:1px solid $blue;
    opacity:0.8;
    padding:8px 16px;
    border-radius:4px;
    font-size:16px;
    user-select:none;
    cursor:pointer;
    background:none;
    appearance:none;
    outline:none;
    will-change:transform, background-color, color;
    @include accelerate(true);
    transition:all 0.12s $cubic645;

    &:hover {
        opacity:1;
    }
    &:not(.disabled):active {
        transform:translate3d(0, 1px, 0) scale(0.9);
    }
    &-lg {
        font-size:18px;
        padding:14px 60px;
        border-radius:6px;
    }
    &-md {
        font-size:15px;
        padding:8px 20px;
        border-radius:5px;
    }
    &-sm {
        font-size:14px;
        padding:5px 7px;
        border-radius:3px;
    }
    &-xs {
        font-size:12px;
        padding:1px 5px;
        border-radius:3px;
    }
    &-upper {
        font-family:$roboto;
        font-weight:500;
        text-transform:uppercase;

        &.btn-md {
            padding:11px 25px;
        }
        &.btn-sm {
            font-size:13px;
            padding:6px 7px 4px;
        }
    }
    &-round {
        border-radius:30px;
    }
    &-fill {
        color:#fff;
        border-color:#2C93FF;
        background-color:#2C93FF;
    }
    &-simple {
        border:0;
    }
    &-muted {
        color:$gray_light;
    }
    &-hover-fill {
        &__icon {
            display:inline-block;
            width:16px;
            height:16px;
            vertical-align:text-bottom;

            &__color {
                fill:#2C93FF;
                transition:fill 0.2s $cubic645;
            }
        }
        &:hover,
        &.active {
            color:#fff;
            border-color:#2C93FF;
            background-color:#2C93FF;

            .btn-hover-fill__icon__color {
                fill:#fff;
            }
        }
    }
    &:disabled,
    &:disabled:hover,
    &.disabled,
    &.disabled:hover {
        background:none;
        color:$gray_light;
        border-color:$gray_light;
        cursor:default;
        opacity:0.8;
    }
    &-loading {
        opacity:0.8 !important;
        background:none !important;
        position:relative;
        cursor:default;
        color:#fff;

        &:after {
            content:"";
            @include abs_50(16, 16);
            transform:rotate(0deg);
            animation:loading_mini 0.55s linear infinite;
            @include ui-icon("loading_mini", 16px, 16px);
        }
    }
    &-hide {
        display:none;
    }
    &-danger {
        color:$red_light;
        border:1px solid $red_light;

        &.btn-fill {
            color:#fff;
            border-color:$red_light;
            background-color:$red_light;
        }
        &.btn-hover-fill {
            &:hover,
            &.active {
                border-color:$red_light;
                background-color:$red_light;
            }
        }
    }
}
.btn-group > .btn {
    position:relative;
}
.btn-group > .btn:first-child:not(:last-child) {
    border-top-right-radius:0;
    border-bottom-right-radius:0;
}
.btn-group > .btn:last-child:not(:first-child) {
    border-top-left-radius:0;
    border-bottom-left-radius:0;
}
.btn-group > .btn:not(:first-child):not(:last-child) {
    border-radius:0;
}
.btn-group .btn + .btn, .btn-group .btn + .btn-group, .btn-group .btn-group + .btn, .btn-group .btn-group + .btn-group {
    margin-left:-1px;
}

@keyframes loading_mini {
    100% {
        transform:rotate(360deg);
    }
}
