.checkbox {
    display:inline-block;
    position:relative;
    appearance:none;
    cursor:pointer;
    border:none;
    outline:none;
    width:27px;
    height:26px;
    left:-1px;

    &:before,
    &:after {
        display:block;
        content:"";
        @include abs();
        transition:transform 0.2s $cubic215;
    }
    &:before {
        top:4px;
        left:3px;
        background-color:lighten($blue_gray, 20%);
        transform:translate3d(0, 0, 0) scale(1);
        border-radius:4px;
    }
    &:after {
        width:34px;
        height:34px;
        transform:translate3d(0, 0, 0) scale(0);
    }
    &:hover,
    &:checked {
        &:before {
            transform:translate3d(0, 0, 0) scale(0);
        }
        &:after {
            transform:translate3d(0, 0, 0) scale(1);
            @include ui-icon(checkbox_gray);
        }
    }
    &:checked:after {
        @include ui-icon(checkbox);
    }
}
.filter__checkbox {
    cursor:pointer;
    padding-bottom:12px;
    position:relative;

    &__item {
        display:block;
        font-size:16px;
        padding-left:32px;
        max-width:100%;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
        user-select:none;
        cursor:pointer;
        transition:color 0.2s $cubic215;
    }
    &:before {
        content:"";
        position:absolute;
        top:1px;
        left:0;
        @include ui-icon(checkbox_gray, 22px, 22px);
        transform:scale(0);
        transition:transform 0.2s $cubic215 0s;
    }
    &.checked {
        color:$blue;

        &:before {
            @include ui-icon(checkbox);
        }
    }
    &.checked:before,
    &:hover:before {
        transform:scale(1);
        transition:transform 0.2s $cubic215 0.05s;
    }
    &[data-hidden="true"]{
        opacity:0.3;

        &:after {
            content:"";
            @include abs();
            z-index:1;
        }
    }
    &.focus:not(.checked) {
        &:before {
            transform:scale(0);
            transition:transform 0.2s $cubic215 0s;
        }
    }
    &__count {
        position:absolute;
        top:50%;
        right:-15px;
        width:32px;
        height:24px;
        border-radius:25px;
        color:$gray_lighten;
        font-size:14px;
        font-weight:bold;
        line-height:22px;
        text-align:center;
        transform:translate3d(0, -11px, 0);

        .checked & {
            color:$gray;
        }
    }
    &__color {
        position:absolute;
        top:50%;
        right:-5px;
        width:12px;
        height:12px;
        border-radius:50%;
        transform:translate3d(0, -95%, 0);
        opacity:0.85;
    }
}
