.dropmenu {
    @extend .pos-abs;
    opacity:0.001;
    top:0;
    left:-999em;
    will-change:opacity, transform;
    @include accelerate();
    transition:opacity 0.2s $cubic215, transform 0.25s $bounceSoft, left 0s 0.25s;
    transform:translate3d(0, 0, 0) scale(0);
    z-index:100;

    &__wrapper {
        @extend .pos-abs;
        @extend .borderRadius-xl;
        @extend .bg-white;
        @extend .borderWidth-1;
        @extend .borderStyle-solid;
        @extend .borderColor-smokeDarken;
        @extend .boxShadow-15;
        top:0;
        left:50%;
        background-clip:padding-box;
        font-size:0;
        margin-top:4px;
        min-width:160px;
        transform:translate3d(-50%, 0, 0);

        .modal &,
        .popup & {
            @extend .mt-xs;
        }
        &:before,
        &:after {
            @extend .content-empty;
            @extend .display-inlineBlock;
            @extend .pos-abs;
        }
        &:before {
            border-bottom: 11px solid rgba(0, 0, 0, 0.2);
            border-left: 11px solid rgba(0, 0, 0, 0);
            border-right: 11px solid rgba(0, 0, 0, 0);
            left: 50%;
            top: -11px;
            transform:translate3d(-50%, 0, 0);
        }
        &:after {
            border-bottom: 11px solid #FFFFFF;
            border-left: 11px solid rgba(0, 0, 0, 0);
            border-right: 11px solid rgba(0, 0, 0, 0);
            left: 50%;
            top: -10px;
            transform:translate3d(-50%, 0, 0);
        }
    }
    &__item {
        @extend .pos-rel;
        @extend .text-left;
        @extend .display-listItem;
        @extend .text-ellipsis;
        @extend .overflow-hidden;
        @extend .nowrap;
        @extend .c-gray;
        @extend .fontWeight-normal;
        @extend .cursor-pointer;
        padding:8px 38px 8px 20px;
        max-width:100%;
        font-size:16px;
        line-height:20px;

        &:hover {
            @extend .c-black;
            @extend .bg-snowDark;
        }
        &:after {
            @extend .content-empty;
            @extend .display-none;
            @extend .pos-abs;
            top:50%;
            right:10px;
            margin-top:-11px;
            @include ui-icon(check, 23px, 23px);
        }
        &__title:hover,
        &__subtitle:hover,
        &__link:hover {
            cursor:default;
            background:none !important;
        }
        &__link {
            @extend .text-truncate;
            max-width:200px;
            padding-right:30px;
        }
        &__link,
        &__subtitle {
            padding-top:0;
            padding-bottom:0;
            margin-top:-5px;
            margin-bottom:10px;
        }
        &.selected {
            @extend .c-black;

            &:after {
                @extend .display-block;
            }
        }
        &.divider {
            @extend .overflow-hidden;
            height:1px;
            margin:1px 0;
            padding:0;
            background-color:#e5e5e5;
        }
        &:first-child {
            @extend .borderRadiusTop-xl;
            padding-top:10px;
        }
        &:last-child {
            @extend .borderRadiusBottom-xl;
            padding-bottom:11px;
        }
        .dropmenu[data-type="radio"] & {
            @extend .pl50;
            @extend .pr20;

            &:after {
                @extend .display-block;
                right:auto;
                left:15px;
                @include ui-icon(check_muted);
            }
            &:hover:after {
                @include ui-icon(check_gray);
            }
            &.selected:after {
                @include ui-icon(check);
            }
        }
        &__color {
            @extend .display-inlineBlock;
            @extend .vAlign-middle;
            @extend .w15;
            @extend .h15;
            @extend .borderRadius-circle;
            @extend .opacity-85;
            transform:translate3d(-3px, -1px, 0);
            margin-right:9px;
        }
        &__button {
            @extend .c-blueLight;

            &.edit:before {
                @extend .content-empty;
                @extend .display-inlineBlock;
                @extend .vAlign-middle;
                transform:translate3d(-3px, -2px, 0);
                margin-right:6px;
                @include ui-icon(edit, 18px, 18px);
            }
        }
    }
    &__palette__wrapper {
        @extend .text-left;
        width:288px;
        font-size:0;
        padding:10px 15px;
        @extend .boxShadow-default;
    }
    &__palette__item {
        @extend .pos-rel;
        @extend .display-inlineBlock;
        @extend .borderRadius-m;
        @extend .cursor-pointer;
        width:22px;
        height:22px;
        margin:6px 5px;

        &:after {
            opacity:0;
            @extend .content-empty;
            @extend .pos-abs;
            @extend .borderRadius-l;
            @extend .borderWidth-1;
            @extend .borderStyle-solid;
            @extend .borderColor-azureDark;
            top:-4px;
            left:-4px;
            width:calc(100% + 8px);
            height:calc(100% + 8px);
        }
        &:hover:after {
            @extend .opacity-100;
        }
        &.selected {
            @extend .cursor-default;

            &:after {
                @extend .opacity-100;
                @extend .borderColor-grayLighten;
            }
        }
    }
    &[data-align="left"]{
        .dropmenu__wrapper {
            top:50%;
            left:auto;
            right:100%;
            margin-top:0;
            margin-right:13px;
            transform:translate3d(0, -50%, 0);

            &:before {
                left:auto;
                right:-17px;
                top:50%;
                transform:translate3d(0, -50%, 0) rotate(90deg);
            }
            &:after {
                left:auto;
                right:-16px;
                top:50%;
                transform:translate3d(0, -50%, 0) rotate(90deg);
            }
        }
    }
    &[data-align="down-left"]{
        .dropmenu__wrapper {
            top:0;
            left:auto;
            right:100%;
            margin-top:0;
            margin-right:13px;
            transform:translate3d(0, -30px, 0);

            &:before {
                left:auto;
                right:-17px;
                top:0;
                transform:translate3d(0, 25px, 0) rotate(90deg);
            }
            &:after {
                left:auto;
                right:-16px;
                top:0;
                transform:translate3d(0, 25px, 0) rotate(90deg);
            }
        }
    }
    &[data-align="right"]{
        .dropmenu__wrapper {
            top:50%;
            left:100%;
            margin-top:0;
            margin-left:13px;
            transform:translate3d(0, -50%, 0);

            &:before {
                left:-17px;
                top:50%;
                transform:translate3d(0, -50%, 0) rotate(-90deg);
            }
            &:after {
                left:-16px;
                top:50%;
                transform:translate3d(0, -50%, 0) rotate(-90deg);
            }
        }
    }
    &[data-align="down-right"]{
        .dropmenu__wrapper {
            top:0;
            left:100%;
            margin-top:0;
            margin-left:13px;
            transform:translate3d(0, -30px, 0);

            &:before {
                left:-17px;
                top:0;
                transform:translate3d(0, 25px, 0) rotate(-90deg);
            }
            &:after {
                left:-16px;
                top:0;
                transform:translate3d(0, 25px, 0) rotate(-90deg);
            }
        }
    }
    &[data-align="up"]{
        .dropmenu__wrapper {
            top:auto;
            bottom:100%;
            margin-top:0px;
            margin-bottom:6px;

            &:before,
            &:after {
                top:auto;
                transform:translate3d(-50%, 0, 0) rotate(180deg);
            }
            &:before {
                bottom:-11px;
            }
            &:after {
                bottom:-10px;
            }
        }
    }
    &--active {
        @extend .opacity-100;
        left:0;
        transition:opacity 0.2s $cubic215, transform 0.25s $bounceSoft, left 0s;
        transform:translate3d(0, 0, 0) scale(1);
    }
}
