.dropdown {
    position:relative;
    user-select:none;
    z-index:1;

    &__button {
        cursor:pointer;
    }
    &__menu {
        position:absolute;
        top:100%;
        left:0;
        border-radius:10px;
        box-shadow:0 6px 22px -6px rgba(0,0,0,.25);
        border:1px solid #c9d7df;
        background-color:#fff;
        background-clip:padding-box;
        margin-top:6px;
        min-width:160px;
        font-size:16px;
        list-style:none;
        transform:translate3d(-999em, 0, 0);

        &:before {
            border-bottom: 11px solid rgba(0, 0, 0, 0.2);
            border-left: 11px solid rgba(0, 0, 0, 0);
            border-right: 11px solid rgba(0, 0, 0, 0);
            content: "";
            display: inline-block;
            position: absolute;
            left: 100%;
            margin-left: -60%;
            top: -11px;
        }
        &:after {
            border-bottom: 11px solid #FFFFFF;
            border-left: 11px solid rgba(0, 0, 0, 0);
            border-right: 11px solid rgba(0, 0, 0, 0);
            content: "";
            display: inline-block;
            position: absolute;
            left: 100%;
            margin-left: -60%;
            top: -10px;
        }
        li {
            position:relative;
            display:list-item;
            padding:8px 35px 8px 20px;
            white-space:nowrap;
            cursor:pointer;

            &:hover {
                color:$black;
                background-color:#E9EEF2;
            }
            &.selected {
                color:$black;

                &:after {
                    content:"";
                    position:absolute;
                    top:50%;
                    right:10px;
                    width:23px;
                    height:23px;
                    margin-top:-11px;
                    background:url(/assets/images/dropdown_selected.svg) no-repeat 0 0 / cover;
                }
            }
            &.divider {
                height:1px;
                margin:9px 0;
                overflow:hidden;
                background-color:#e5e5e5;
            }
            &:first-child {
                padding-top:10px;
                border-radius:10px 10px 0 0;
            }
            &:last-child {
                padding-bottom:11px;
                border-radius:0 0 10px 10px;
            }
        }
        &[data-align="bottom-right"]{
            top:100%;
            left:auto;
            right:0;
        }
    }
    &.open {
        .dropdown__menu {
            transform:translate3d(0, 0, 0);
        }
    }
}
