@each $icon in (
    loading, loading_white,
    close, close_white, close_strong,
    edit, edit_white, basket, print, search,
    calendar, date_change, date_change_fill, date_from, date_to,
    important, plus, plus_white, cog, cogs, settings, more_h,
    sendEmail, link_source, link_action,
    writeEmail,
    cursor_fill,
    alarm_white,
    help_black, help_white,
    arrowLeft, arrowRight,
    checkbox, checkbox_gray, checkbox_big, checkbox_big_white,
    callback, messenger, reviews,
    facebook_white, vkontakte_white, odnoklassniki_white, twitter_white,
    yandex, google, rambler, mailru, yahoo, bing
){
    %ui-#{$icon} {
        @if $icon == 'rambler' or $icon == 'mailru' {
            background:url('/assets/images/ui/ui-#{$icon}.png') no-repeat 0 0 / cover;
        }
        @else {
            background:url('/assets/images/ui/ui-#{$icon}.svg') no-repeat 0 0 / cover;
        }
    }
}
@mixin ui-icon($icon, $width: false, $height: false) {
    @if $width {
        width:#{$width};
    }
    @if $height {
        height:#{$height};
    }
    @extend %ui-#{$icon};
}
