.form__group {
    padding-top:22px;
    margin-bottom:15px;
}
.input__group {
    position:relative;
    display:block;
    width:100%;
}
.input__group__addon {
    @include flex("row", "center", "center");
    position:absolute;
    top:0;
    right:0;
    height:100%;

    &__icon {
        margin:0 5px;

        &__writeEmail {
            display:block;
            cursor:pointer;
            @include ui-icon(writeEmail, 32px, 32px);
        }
        &__close {
            display:block;
            cursor:pointer;
            @include ui-icon(close_strong, 28px, 28px);
        }
    }
}
.form__control {
    display: block;
    width: 100%;
    background-color: #fff;
    border: 1px solid darken(#e9eef2, 5%);
    border-radius: 4px;
    color:$black_dark;
    padding: 8px 35px 8px 16px;
    height: 40px;
    font-family:$roboto;
    font-size:15px;
    font-weight:300;
    appearance:none;
    outline:none;
    transition:border-color ease-in-out .15s;

    &.sm {
        padding:5px 11px;
        border-radius:2px;
        height:30px;
    }
    &:hover {
        border-color:#c0ccda;
    }
    &:focus {
        border-color:#1fb6ff;
    }
    &--hovered {
        border-color:#c0ccda;

        &:hover,
        &:focus {
            border-color:#1fb6ff;
        }
    }
}
textarea.form__control {
    padding:8px 16px 15px;
    resize:none;
}
.textarea {
    &-lg {
        min-height:200px;
    }
    &-md {
        min-height:180px;
    }
    &-sm {
        min-height:140px;
    }
    &-xs {
        min-height:120px;
    }
    &-xxs {
        min-height:90px;
    }
}
%caret {
    &:after {
        content:"";
        display:inline-block;
        vertical-align:middle;
        margin-left:10px;
        border-top:5px solid #00a7eb;
        border-right:5px solid transparent;
        border-bottom:none;
        backface-visibility:hidden;
        border-left:5px solid transparent;
        transition:transform 0.15s linear;

        .active & {
            transform:rotate(180deg);
        }
    }
    &:hover,
    .active & {
        color:$blue;
    }
}
