.modal {
    opacity:0.001;
    @include abs();
    @include flex("row", "center", "flex-start");
    @include accelerate();
    background-color:rgba(#fff,.95);
    left:101%;
    will-change:opacity;
    transition:opacity 0.25s $cubic57, left 0s 0.25s;
    padding-top:30px;
    overflow-y:scroll;
    z-index:100;

    &__wrapper {
        @include accelerate();
        position:relative;
        min-height:480px;
        background-color:#fff;
        box-shadow:0 30px 30px #fff;
        will-change:transform;
        transform:translate3d(0, 0, 0) scale3d(0.77, 0.77, 1);
        transition:transform 0.2s $cubic57;
    }
    &__container {
        position:relative;
        font-family:$roboto;
        font-weight:300;
        padding:32px 25px 110px 25px;
    }
    &__status {
        position:absolute;
        top:0;
        right:45px;
        font-size:0;
        white-space:nowrap;

        &__icon {
            display:inline-block;
            vertical-align:top;
            width:52px;
            height:52px;
            transform:scaleX(-1) rotate(-28deg);
        }
        &__title {
            font-family:$roboto;
            font-size:18px;
            line-height:36px;
            padding-left:5px;
            @extend .caret;
        }
    }
    &__panel__right {
        @include accelerate(true);
        position:fixed;
        top:32px;
        left:50%;
        margin-left:453px;
        z-index:2;
    }
    &__panel__item {
        position:relative;
        @include flex("row", "center", "center");
        width:54px;
        margin-bottom:32px;
        cursor:default;

        &__count {
            font-size:22px;
        }
    }
    &__button {
        display:block;
        cursor:pointer;
        opacity:0.7;
        transition:opacity 0.2s $cubic215, transform 0.2s $cubic215;

        &:active {
            transform:translate3d(0, 1px, 0) scale(0.8);
        }
        &:hover {
            opacity:1;
        }
        &__close {
            opacity:0.4;
            @include ui-icon(close, 29px, 29px);
            @extend .modal__button;
            margin-bottom:5px;

            &:hover {
                opacity:0.7;
            }
        }
        &__print {
            @include ui-icon(print, 28px, 28px);
            @extend .modal__button;
        }
        &__sendEmail {
            @include ui-icon(sendEmail, 40px, 40px);
            @extend .modal__button;
            margin-bottom:-10px;
            transform:translate3d(-4px, -8px, 0) scale3d(1, 1.2, 1);

            &:active {
                transform:translate3d(-4px, -7px, 0) scale3d(0.8, 1, 1);
            }
        }
    }
    &__title {
        font-family:$roboto;
        font-weight:300;
        margin-bottom:35px;
        color:lighten($black_light, 50%);

        &__inner {
            position:relative;
            display:inline-block;
            vertical-align:top;
        }
    }
    &__cover {
        @include flex("row", "center", "center");
        position:absolute;
        top:0;
        left:100%;
        width:84px;
        height:84px;
        border-radius:50%;
        font-size:40px;
        color:#fff;
        transform:translate3d(30px, -25px, 0);
    }
    &__footer {
        @include accelerate(true);
        position:fixed;
        bottom:0;
        left:50%;
        margin-left:-433px;
        width:866px;
        height:88px;
        background-color:#fff;
        font-weight:400;
        z-index:2;

        &:before {
            content:"";
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:1px;
            background:linear-gradient(to right, rgba(#e9eef2,0) 0%, #e9eef2 25%, #e9eef2 75%, rgba(#e9eef2,0) 100%);
        }
        &__wrapper {
            text-align:center;
            padding-top:30px;

            .btn {
                margin:0 13px;
            }
        }
    }
    &[data-open="true"]{
        opacity:1;
        left:0;
        transition:opacity 0.25s $cubic2501, left 0s;

        .modal__wrapper {
            transform:translate3d(0, 0, 0) scale3d(1, 1, 1);
            transition:transform 0.28s $cubic215;
        }
    }
}

@media screen and (max-width:$md-width){
    .modal__panel__right {
        margin-left:433px;
    }
}
