.pagination {
    @include flex("row", "center", "center");
}
.paginate_button {
    position:relative;
    display:block;
    color:$blue_gray;
    font-size:15px;
    width:35px;
    height:35px;
    line-height:35px;
    outline:none;
    cursor:pointer;
    text-align:center;
    border-radius:50%;
    margin:0 2px;

    &.previous,
    &.next {
        @include flex("row", "center", "center");
        opacity:0.8;
        transition:transform 0.2s $cubic215, opacity 0.2s $cubic215;

        &:active:not(.disabled) {
            transform:translate3d(0, 1px, 0) scale(0.8);
        }
        &:hover {
            opacity:1;
        }
        a {
            display:none;
        }
        &.disabled {
            opacity:0.6;
        }
    }
    &.previous:after,
    &.next:after {
        content:"";
        display:block;
        width:24px;
        height:24px;
        margin-top:1px;
    }
    &.previous:after {
        @include ui-icon(arrowLeft);

        &.disabled {
            @include ui-icon(arrowLeft_gray);
        }
    }
    &.next:after {
        @include ui-icon(arrowRight);

        &.disabled {
            @include ui-icon(arrowRight_gray);
        }
    }
    &.active {
        color:#fff;
        font-size:16px;
        background-color:$blue_light;
    }
    &.disabled {
        cursor:default;
    }
    &:hover:not(.disabled, .active) {
        color:$blue;
        font-weight:bold;
    }
}
