.tile {
    background-color:#fff;
    min-height:88px;
    border-radius:4px;
    box-shadow:0 12px 40px 0 rgba(162,172,191,.06);
    margin-bottom:25px;
    user-select:none;
    transition:box-shadow 0.3s $cubic25;

    .m-no-touch &:hover {
        box-shadow:0 12px 40px -10px rgba(121,136,161,.3);
    }
}
