<section-contact-tags onClick={ onEdit }>

    <div if={ !item.tags.length } class="tag add">Добавить тэг...</div>

    <virtual if={ item.tags.length }>
        <div class="tag">
            <span class="tag__text">{ $store.tags.getTitle(item.tags[0]) }</span>
        </div>
        <div if={ item.tags.length == 1 } class="tag add icon"></div>
        <div if={ item.tags.length > 1 } class="tag edit icon"><span class="tag__count">{ item.tags.length }</span></div>
    </virtual>

<script>

    var $ = this;

    $.init = function(item){
        $.item = item ? item : (!item && $.item ? $store.data.get({"_id": $.item._id}) : null);
        $.update();
    };

    $.onEdit = function(){
        $Router.nav("/contact/" + $.item._id + "/tags");
    };

</script>

</section-contact-tags>
