.data__item {
    &__content {
        position:relative;
        margin:0 -25px 0 -5px;
        user-select:text;

        .data__item__cell {
            padding:0;
            height:102px;

            &--email {
                padding-left:10px;

                .data__item__label {
                    padding-left:10px;
                }
            }
        }
        .data__item__label {
            opacity:1;
        }
        &--last {
            .data__item__cell {
                transform:translate3d(0, -16px, 0);
            }
        }
        &:after {
            display:block;
            content:"";
            clear:both;
        }
    }
    &__text {
        display:block;
        color:$black;
        font-size:16px;
        line-height:18px;
        width:100%;
        user-select:text;

        &--nowrap {
            display:block;
            white-space:nowrap;
            max-width:95%;
            overflow:hidden;
            text-overflow:ellipsis;
        }
        &__gray {
            color:$gray_lighten;
        }
        &__link {
            display:inline-block;
            vertical-align:top;
            color:$blue;
            font-size:16px;
            border-bottom:1px solid rgba($blue,.3);
            white-space:nowrap;
            max-width:95%;
            overflow:hidden;
            text-overflow:ellipsis;
        }
    }
    &__number {
        font-size:20px;
    }
    &__link__label {
        @include flex("row", "center", "center");
        position:absolute;
        width:14px;
        height:14px;
        border-radius:50%;
        background-color:$blue_light;
        color:#fff;
        font-family:$roboto;
        font-size:14px;
        line-height:15px;
        font-weight:500;
        padding-bottom:2px;
        opacity:0.8;
    }
    &__link__source {
        position:relative;
        display:block;
        width:30px;
        height:30px;
        background:url(/assets/images/tile/tile_link_source.svg) no-repeat 0 0 / cover;
        margin-top:6px;
        user-select:none;

        .data__item__link__label {
            top:-4px;
            left:-12px;
        }
    }
    &__link__action {
        position:relative;
        display:block;
        width:30px;
        height:30px;
        background:url(/assets/images/tile/tile_link_action.svg) no-repeat 0 0 / cover;
        margin-top:6px;
        user-select:none;

        .data__item__link__label {
            top:-4px;
            left:-8px;
        }
    }
    &__link__email {
        display:block;
        width:32px;
        height:32px;
        background:url(/assets/images/tile/tile_link_email.svg) no-repeat 0 0 / cover;
        margin-top:6px;
    }
    &__links__equal {
        position:absolute;
        top:29.5%;
        left:100%;
        color:$blue;
        font-family:$roboto;
        font-size:36px;
        font-weight:300;
        opacity:0.75;
        transform:translate3d(-10px, 0, 0);
        user-select:none;
    }
    &__help {
        position:absolute;
        bottom:25px;
        right:10px;
        opacity:0.7;
        cursor:pointer;
        transition:opacity 0.2s $cubic215;
        @include ui-icon(help_black, 30px, 30px);

        &:hover {
            opacity:1;
        }
    }
}
