.data__item {
    &__source {
        position:relative;
        @include flex("row", "center", "center");
        color:#fff;
        width:54px;
        height:54px;
        border-radius:50%;
        font-family:$roboto;
        font-size:24px;
        font-weight:400;
        background-color:#D1D8DD;

        &--active {
            background-color:#6ad19f;
        }
        &__engine {
            @include flex("row", "center", "center");
            position:absolute;
            top:3px;
            left:75%;
            width:48px;
            height:48px;
            border-radius:50%;
            background-color:#fff;

            &--yandex:before {
                content:"";
                @include ui-icon(yandex, 32px, 32px);
            }
            &--google:before {
                content:"";
                @include ui-icon(google, 29px, 29px);
            }
            &--rambler:before {
                content:"";
                @include ui-icon(rambler, 29px, 29px);
            }
            &--mail:before {
                content:"";
                @include ui-icon(mailru, 30px, 30px);
            }
            &--yahoo {
                &:before {
                    content:"";
                    @include ui-icon(yahoo, 30px, 30px);
                    border-radius:50%;
                }
                &:after {
                    content:"";
                    @include abs();
                    border-radius:50%;
                    border:3px solid #fff;
                    transform:scale(0.67);
                }
            }
            &--bing:before {
                content:"";
                @include ui-icon(bing, 29px, 29px);
            }
            &--link:before {
                content:"";
                @include ui-icon(cursor_fill, 27px, 27px);
                transform:rotate(-10deg) translate3d(0, 1px, 0);
            }
        }
    }
}
