.WD__messenger__item {
    padding:0 46px;
    position:relative;

    &--absolute {
        position:absolute;
        width:100%;
        max-width:91%;
        @include accelerate(true);

        .WD__messenger__item__text {
            box-shadow:none !important;
        }
        .WD__messenger__item__emoji,
        .WD__messenger__item__metadata {
            display:none;
        }
    }
    &[data-type="products"]{
        margin-top:10px;
    }
}
.WD__messenger__item__operator {
    text-align:right;

    .WD__messenger__item__avatar {
        right:-3px;
    }
    strong {
        font-family:sans-serif;
    }
}
.WD__messenger__item__user {
    text-align:left;

    .WD__messenger__item__avatar {
        left:-3px;
    }
}
.WD__messenger__item__avatar {
    position:absolute;
    top:3px;
    width:38px;
    height:38px;
    border-radius:60% 46% 62% 46%;
    background-repeat:no-repeat;
    background-position:top center;
    background-size:cover;

    .WD__messenger__item[data-type="products"] & {
        top:-9px;
    }
}
.WD__messenger__item__text {
    padding:12px 17px;
    border-radius:15px;
    color:#37474F;
    border:1px solid;
    font-size:15px;
    line-height:20px;
    word-wrap:break-word;
    margin-bottom:4px;
    text-align:left;
    box-shadow:0 1px 2px 0 rgba(234,236,238,.8);
    min-width:40%;
    max-width:75%;

    a {
        border:none;
        text-decoration:underline;
    }
}
.WD__messenger__item__text:before,
.WD__messenger__item__text:after {
    content:"";
    position:absolute;
    pointer-events:none;
}
.WD__messenger__item__operator {
    .WD__messenger__item__text {
        border-color:#c7dce7;
        background-color:#edf9ff;
        border-bottom-right-radius:9px;
    }
    .WD__messenger__item__text:before,
    .WD__messenger__item__text:after {
        top:19px;
        left:100%;
        height:0;
        width:0;
        border:solid transparent;
    }
    .WD__messenger__item__text:before {
        border-left-color:#c7dce7;
        border-width:7px;
    }
    .WD__messenger__item__text:after {
        border-left-color:#edf9ff;
        border-width:6px;
        margin-top:1px;
    }
}
.WD__messenger__item__user {
    .WD__messenger__item__text {
        background-color:#fff;
        border-color:#d5dee3;
        // border-color:#dadee2;
        border-bottom-left-radius:9px;
    }
    .WD__messenger__item__text:before,
    .WD__messenger__item__text:after {
        top:19px;
        right:100%;
        height:0;
        width:0;
        border:solid transparent;
    }
    .WD__messenger__item__text:before {
        border-right-color:#d5dee3;
        border-width:7px;
    }
    .WD__messenger__item__text:after {
        border-right-color:#fff;
        border-width:6px;
        margin-top:1px;
    }
}
.WD__messenger__item__text,
.WD__messenger__item__image {
    display:inline-block;
    vertical-align:top;
    position:relative;
}
.WD__messenger__item__image__file {
    border-radius:7px;
    max-width:90%;
    opacity:0.95;
    border:1px solid transparent;
}
.WD__messenger__item__metadata {
    font-size:12px;
    line-height:20px;
    color:#b0bec5;
    padding-bottom:16px;
}
.WD__messenger__item__emoji {
    position:absolute;
    top:-14px;
    right:-19px;
    width:40px;
    height:40px;
    border:2px solid #fff;
    border-radius:50%;
    @include accelerate();

    &:before,
    &:after {
        content:'';
        position:absolute;
        bottom:-2px;
        right:-3px;
        height:14px;
        width:14px;
        border-radius:50%;
    }
    &:after {
        height:7px;
        width:7px;
        right:-9px;
        bottom:-7px;
    }
    &__icon {
        @include abs_50(68, 68, "%");
        @include accelerate();

        &--love {
            background:url(/public/images/emoji/emoji_love.svg) no-repeat 0 0 / cover;
            transform:translate3d(0, 2px, 0);
        }
        &--like {
            background:url(/public/images/emoji/emoji_like.svg) no-repeat 0 0 / cover;
            transform:translate3d(0, -1px, 0);
        }
        &--dislike {
            background:url(/public/images/emoji/emoji_like.svg) no-repeat 0 0 / cover;
            transform:translate3d(0, 2px, 0) scale3d(-1, -1, 1);
        }
        &--haha {
            background:url(/public/images/emoji/emoji_haha.svg) no-repeat 0 0 / cover;
            transform:translate3d(0, 0, 0);
        }
        &--warning {
            @include abs_50(75, 75, "%");
            background:url(/public/images/emoji/emoji_warning.svg) no-repeat 0 0 / cover;
            transform:translate3d(0, 0, 0);
        }
        &--question {
            @include abs_50(75, 75, "%");
            background:url(/public/images/emoji/emoji_question.svg) no-repeat 0 0 / cover;
            transform:translate3d(0, 0, 0);
        }
    }
    &--animate {
        opacity:0;
        animation:WD__messenger__item__emoji 0.333s cubic-bezier(.42,0,.05,1.5) forwards 0.1s;
    }
}
@keyframes WD__messenger__item__emoji {
    from {
        opacity:0;
        transform:translate3d(0, 0, 0) scale(0);
    }
    to {
        opacity:1;
        transform:translate3d(0, 0, 0) scale(1);
    }
}
.WD__messenger__item__user--prev + .WD__messenger__item__operator[data-type="text"] {
    .WD__messenger__item__text {
        border-bottom-left-radius:15px;
        border-top-left-radius:9px;
    }
    .WD__messenger__item__avatar,
    .WD__messenger__item__text:before,
    .WD__messenger__item__text:after {
        display:none;
    }
}
.WD__messenger__item__text__file {
    text-align:right;

    &:before {
        content:"";
        position:absolute;
        top:10px;
        left:13px;
        width:22px;
        height:22px;
        opacity:0.85;
        background:url(/public/images/messenger_file.svg) no-repeat 0 0 / cover;
    }
    &:after {
        content:"";
        position:absolute;
        top:21%;
        left:42px;
        width:1px;
        height:58%;
        background:#b0bec5;
    }
}
.WD__messenger__item__text__file__name {
    display:inline-block;
    vertical-align:top;
    max-width:84%;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.WD__messenger__item__typing {
    $WD__messenger__typing__color:#E6E7ED;
    display:inline-block;
    vertical-align:top;
    position:relative;
    background-color:$WD__messenger__typing__color;
    border-radius:50px;
    padding:17px;

    &:before,
    &:after {
        content:'';
        position:absolute;
        bottom:-2px;
        left:-2px;
        height:20px;
        width:20px;
        border-radius:50%;
        background-color:$WD__messenger__typing__color;
    }
    &:after {
        height:10px;
        width:10px;
        left:-10px;
        bottom:-10px;
    }
    span {
        display:block;
        float:left;
        height:15px;
        width:15px;
        margin:0 1.5px;
        background-color:#9E9EA1;
        border-radius:50%;
        @include accelerate(true);
        opacity:0.4;

        @for $i from 1 through 3 {
            &:nth-of-type(#{$i}) {
                animation:WD__messenger__typing__blink 1s ease infinite ($i * .3333s);
            }
        }
    }
}
.WD__messenger__item__button {
    @include flex("row", "space-between", "center");
    border-radius:4px;
    font-size:18px;
    line-height:24px;
    padding:0 15px;
    border:1px solid transparent;
    margin:10px auto 3px;
    max-width:90%;
    height:52px;
    text-align:center;
    white-space:nowrap;

    &__text {
        display:block;
        width:100%;
        margin-right:-12px;
    }
    &__cursor {
        display:block;
        width:24px;
        height:24px;
        animation:WD__messenger__button__cursor__blink .7s linear infinite;
    }
    &__icon {
        display:block;
        width:27px;
        height:27px;
    }
}

@keyframes WD__messenger__button__cursor__blink {
    50% {
        opacity:0;
    }
}
@keyframes WD__messenger__typing__blink {
    50% {
        opacity:1;
    }
}
