.popup {
    opacity:0.01;
    @include abs(fixed);
    @include flex("row", "center", "center");
    @include accelerate();
    visibility:hidden;
    background:linear-gradient(135deg, rgba($bg_color,.76), rgba(40,47,51,.76));
    text-align:center;
    will-change:opacity;
    transition:opacity 0.15s $cubic57, visibility 0s 0.15s;
    z-index:200;

    &__wrapper {
        position:relative;
        padding:40px 50px;
        background-color:#fff;
        border-radius:9px;
        min-width:540px;
        will-change:transform;
        transform:translate3d(0, 0, 0) scale3d(0.75, 0.75, 1);
        transition:transform 0.15s $cubic57;
    }
    &__title {
        color:$blue;
        margin-bottom:25px;

        .subtitle {
            color:$gray;
        }
    }
    &__footer {
        padding-top:45px;
    }
    &__icon {
        display:block;
        position:absolute;
        top:30px;
        right:30px;

        &__sendEmail {
            top:0px;
            @include ui-icon(sendEmail, 102px, 102px);
            transform:translate3d(0, 0, 0) scale3d(1, 1.2, 1);
        }
    }
    &__close {
        position:absolute;
        top:20px;
        right:20px;
        @include ui-icon(close_strong, 29px, 29px);
        cursor:pointer;
    }
    &[data-align="center-right"]{
        @include flex("row", "flex-end", "center");
        text-align:left;

        .popup__wrapper {
            min-width:480px;
            padding:30px 40px 40px;
            border-radius:9px 0 0 9px;
            transform:translate3d(25%, 0, 0) scale3d(0.75, 0.5, 1);
        }
        .popup__footer {
            padding-top:40px;
        }
    }
    &[data-open="true"]{
        opacity:1;
        visibility:visible;
        transition:opacity 0.25s $cubic2501, visibility 0s;

        .popup__wrapper {
            transform:translate3d(0, 0, 0) scale3d(1, 1, 1);
            transition:transform 0.25s $cubic215;
        }
    }
}
