<!DOCTYPE html>
<html lang="en">
<head>
    <title>Yuap.Admin</title>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=1000, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="HandheldFriendly" content="true" />
    <meta name="MobileOptimized" content="width" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
	<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="format-detection" content="telephone=no" />
	<meta name="google" content="notranslate" />
    <link rel="stylesheet" href="/assets/css/server.css">
</head>
<body>

    <h1>{{ message }}</h1>
    <h2>{{ error.status }}</h2>

</body>
</html>
