<!DOCTYPE html>
<html lang="en">
<head>
    <title>Yuap.Admin</title>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=1000, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="HandheldFriendly" content="true" />
    <meta name="MobileOptimized" content="width" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
	<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="format-detection" content="telephone=no" />
	<meta name="google" content="notranslate" />
    <link id="styles" rel="stylesheet" href="/assets/css/style.min.css">
    <!-- <link rel="stylesheet" href="/assets/js/libs/vendors/font-awesome/css/font-awesome.min.css"> -->
</head>
<body>

    <root-main></root-main>

    <!--/ VENDORS /-->
    <script src="/assets/js/libs/modernizr.custom.js"></script>
    <!-- <script src="https://yastatic.net/jquery/2.2.3/jquery.min.js"></script> -->
    <script src="/assets/js/libs/jquery.min.js"></script>
    <script src="/assets/js/libs/fastclick.js"></script>
    <!-- <script src="/assets/js/libs/jquery.tap.js"></script> -->
    <!-- <script src="/assets/js/libs/zepto.min.js"></script> -->
    <script src="/assets/js/libs/vendors/riot/riot+compiler.update.js"></script>
    <!-- <script src="/assets/js/libs/tempusjs.min.js"></script> -->
    <script src="/assets/js/libs/baobab.js"></script>
    <script src="/assets/js/libs/vendors/underscore/underscore-min.js"></script>
    <!-- <script src="/assets/js/libs/vendors/underscore.string/dist/underscore.string.min.js"></script> -->
    <script src="/assets/js/libs/vendors/store.js/store.min.js"></script>
    <!-- <script src="/assets/js/libs/vendors/history.js/scripts/bundled/html5/jquery.history.js"></script> -->
    <script src="/assets/js/libs/iscroll.js"></script>
    <script src="/assets/js/libs/faye-browser-min.js"></script>

    <!--/ DataTables /-->
    <script src="/assets/js/libs/datatables/jquery.dataTables.min.js"></script>
    <script src="/assets/js/libs/datatables/dataTables.bootstrap.js"></script>
    <script src="/assets/js/libs/datatables/dataTables.buttons.min.js"></script>
    <script src="/assets/js/libs/datatables/dataTables.colVis.js"></script>
    <script src="/assets/js/libs/datatables/buttons.bootstrap.min.js"></script>
    <script src="/assets/js/libs/datatables/jszip.min.js"></script>
    <script src="/assets/js/libs/datatables/pdfmake.min.js"></script>
    <script src="/assets/js/libs/datatables/vfs_fonts.js"></script>
    <script src="/assets/js/libs/datatables/buttons.html5.min.js"></script>
    <script src="/assets/js/libs/datatables/buttons.print.min.js"></script>

    <!--/ DateRangePicker /-->
    <script src="/assets/js/libs/daterangepicker/moment.min.js"></script>
    <!-- <script src="/assets/js/libs/vendors/moment-timezone/moment-timezone.js"></script> -->
    <script src="/assets/js/libs/daterangepicker/locale/ru.js"></script>
    <script src="/assets/js/libs/daterangepicker/daterangepicker.js"></script>

    <!--/ ClockPicker /-->
    <script src="/assets/js/libs/vendors/clockpicker/dist/bootstrap-clockpicker.js"></script>

    <!--/ Calendar /-->
    <script src="/assets/js/libs/vendors/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="/assets/js/libs/vendors/fullcalendar/dist/lang/ru.js"></script>

    <!--/ Partials /-->
    <script src="/assets/templates/root.html" type="riot/tag"></script>
    <script src="/assets/templates/partials/nav.html" type="riot/tag"></script>
    <script src="/assets/templates/partials/panel.html" type="riot/tag"></script>

    <!--/ Section Data /-->
    <script src="/assets/templates/sections/data/data.html" type="riot/tag"></script>
    <script src="/assets/templates/sections/data/dataList.html" type="riot/tag"></script>
    <script src="/assets/templates/sections/data/dataMenu.html" type="riot/tag"></script>
    <script src="/assets/templates/sections/data/dataSidebar.html" type="riot/tag"></script>
    <script src="/assets/templates/sections/data/dataOptions.html" type="riot/tag"></script>
    <script src="/assets/templates/sections/data/dashboard.html" type="riot/tag"></script>

    <!--/ Section Contacts /-->
    <script src="/assets/templates/sections/contacts/contacts.html" type="riot/tag"></script>
    <script src="/assets/templates/sections/contacts/contactsFilterStatus.html" type="riot/tag"></script>
    <script src="/assets/templates/sections/contacts/contactsOptions.html" type="riot/tag"></script>
    <script src="/assets/templates/sections/contacts/contactsTable.html" type="riot/tag"></script>

    <!--/ Section Contact /-->
    <script src="/assets/templates/sections/contact/contact.html" type="riot/tag"></script>
    <script src="/assets/templates/sections/contact/contactTags.html" type="riot/tag"></script>
    <script src="/assets/templates/sections/contact/contactStatus.html" type="riot/tag"></script>
    <script src="/assets/templates/sections/contact/statusMark.html" type="riot/tag"></script>

    <!--/ Section Events /-->
    <script src="/assets/templates/sections/events/events.html" type="riot/tag"></script>
    <script src="/assets/templates/sections/events/eventsCalendar.html" type="riot/tag"></script>
    <script src="/assets/templates/sections/events/eventsCalendarList.html" type="riot/tag"></script>
    <script src="/assets/templates/sections/events/eventTitle.html" type="riot/tag"></script>
    <script src="/assets/templates/sections/events/eventColor.html" type="riot/tag"></script>
    <script src="/assets/templates/sections/events/eventAttach.html" type="riot/tag"></script>

    <!--/ Section Messenger /-->
    <script src="/assets/templates/sections/messenger/messenger.html" type="riot/tag"></script>
    <script src="/assets/templates/sections/messenger/messengerHeader.html" type="riot/tag"></script>
    <script src="/assets/templates/sections/messenger/messengerList.html" type="riot/tag"></script>
    <script src="/assets/templates/sections/messenger/messengerListUsers.html" type="riot/tag"></script>
    <script src="/assets/templates/sections/messenger/messengerListOperators.html" type="riot/tag"></script>
    <script src="/assets/templates/sections/messenger/messengerRoom.html" type="riot/tag"></script>
    <script src="/assets/templates/sections/messenger/messengerPanel.html" type="riot/tag"></script>
    <script src="/assets/templates/sections/messenger/messengerMetrika.html" type="riot/tag"></script>

    <!--/ Section other /-->
    <script src="/assets/templates/sections/launcher.html" type="riot/tag"></script>
    <script src="/assets/templates/sections/auth.html" type="riot/tag"></script>

    <!--/ Modules /-->
    <script src="/assets/templates/modules/popup/popupManagerStatus.html" type="riot/tag"></script>
    <script src="/assets/templates/modules/popup/popupContactTags.html" type="riot/tag"></script>
    <script src="/assets/templates/modules/popup/popupManagerTags.html" type="riot/tag"></script>
    <script src="/assets/templates/modules/popup/popup.html" type="riot/tag"></script>
    <script src="/assets/templates/modules/alert.html" type="riot/tag"></script>
    <script src="/assets/templates/modules/loader.html" type="riot/tag"></script>

    <!--/ UI components /-->
    <script src="/assets/templates/ui/dropMenu.html" type="riot/tag"></script>
    <script src="/assets/templates/ui/select.html" type="riot/tag"></script>
    <script src="/assets/templates/ui/switcher.html" type="riot/tag"></script>

    <!--/ JS components /-->
    <script src="/assets/js/components/app.js"></script>
    <script src="/assets/js/components/fetch.js"></script>
    <script src="/assets/js/components/store.js"></script>
    <script src="/assets/js/components/common.js"></script>
    <script src="/assets/js/components/modules.js"></script>
    <script src="/assets/js/components/plugins.js"></script>
    <script src="/assets/js/components/screens.js"></script>
    <script src="/assets/js/components/nav.js"></script>
    <script src="/assets/js/components/router.js"></script>
    <script src="/assets/js/components/help/help.js"></script>
    <script src="/assets/js/components/help/help.Data.js"></script>
    <script src="/assets/js/components/utils.js"></script>
    <script src="/assets/js/components/functions/functions.js"></script>
    <script src="/assets/js/components/functions/fn.fullscreen.js"></script>
    <script src="/assets/js/init.js"></script>

</body>
</html>
