<!DOCTYPE html>
<html lang="en">
<head>
    <title>Yuap.Enter // Authorization</title>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="HandheldFriendly" content="true" />
    <meta name="MobileOptimized" content="width" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
	<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="format-detection" content="telephone=no" />
	<meta name="google" content="notranslate" />
    <link id="styles" rel="stylesheet" href="/assets/css/style.min.css">
    <!-- <link rel="stylesheet" href="/assets/js/libs/vendors/font-awesome/css/font-awesome.min.css"> -->
</head>
<body class="appAuth appAuthShow">

    <div id="auth" class="pos-abs-full flex-centered">
        <form method="post" action="/auth" class="text-center pt-l" style="width:350px">
            <input type="hidden" name="logined" value="true">
            <div class="pt-l mb-l c-grayLighten fontSize-xs text-uppercase letterSpacing-xxl">Авторизация</div>
            <div class="mb-m pos-rel tooltip">
                <input class="input input-light input-xl" type="text" placeholder="Логин" autocomplete="off" name="username" value="admin">
            </div>
            <div class="mb-xs">
                <input class="input input-light input-xl" type="text" placeholder="Пароль" autocomplete="off" name="password" value="1234">
            </div>
            <div class="mb-l text-right pr-xxs">
                <a class="link link-primary-hover text-uppercase fontSize-xs fontFamily-helvetica letterSpacing-l caret-right" href="#">Забыли пароль?</a>
            </div>
            <div id="submit" class="btn btn-xl btn-primary-hover text-uppercase letterSpacing-xl plr-l">Войти</div>
        </form>
    </div>

<div id="authLine" class="pos-bl w100p bg-blue" style="height:8px; z-index:1002"></div>

<script src="/assets/js/libs/modernizr.custom.js"></script>
<script src="/assets/js/libs/jquery.min.js"></script>
<script>
(function(){
    var $body = $("body"),
        $form = $("#auth").find("form"),
        $tooltip = $form.find(".tooltip"),
        $username = $form.find("input[name='username']"),
        $password = $form.find("input[name='password']"),
        $submit = $form.find("#submit");

    $username.on("keydown", function(e){
        if (e.which == 13) auth();
    });

    $password.on("keydown", function(e){
        if (e.which == 13) auth();
    });

    $submit.on("click", function(){
        auth();
    });

    var auth = function(){
        var username = $username.val(),
            password = $password.val();

        if ($submit.hasClass("loading")){
            return;
        }
        else if (!username.length || !password.length){
            $tooltip.attr("data-errballoon", "Введите свой логин и пароль");
            $username.addClass("input-error");
            $password.addClass("input-error");
            return;
        }

        $username.removeClass("input-error");
        $password.removeClass("input-error");
        $submit.addClass("btn-loading");
        $tooltip.removeAttr("data-errballoon");

        setTimeout(function(){
            $.post({
                url: '/auth',
                data: {
                    username: $form.find("input[name='username']").val(),
                    password: $form.find("input[name='password']").val()
                },
                dataType : "json",
                success: function(data, status){
                    if (data && data.status){
                        if (data.status == "error"){
                            $tooltip.attr("data-errballoon", data.error);
                        }
                        else if (data.status == "OK"){
                            $body.removeClass("appAuth");
                            utils.onEndTransition($body[0], function(){
                                $form.submit();
                            });
                        }
                    }
                },
                error: function(){
                    alert("Ошибка авторизации, повторите попытку чуть позже");
                },
                complete: function(data, status){
                    $submit.removeClass("btn-loading");
                }
            });
        }, 300);
    };

    var utils = {};
    utils.support = {transitions: Modernizr.csstransitions},
	utils.transEndEventNames = {'WebkitTransition': 'webkitTransitionEnd', 'MozTransition': 'transitionend', 'OTransition': 'oTransitionEnd', 'msTransition': 'MSTransitionEnd', 'transition': 'transitionend'};
	utils.transEndEventName = utils.transEndEventNames[Modernizr.prefixed('transition')];
	utils.animEndEventNames = {'WebkitAnimation': 'webkitAnimationEnd', 'MozAnimation': 'animationend', 'OAnimation': 'oAnimationEnd', 'msAnimation': 'MSAnimationEnd', 'animation': 'animationend'};
	utils.animEndEventName = utils.animEndEventNames[Modernizr.prefixed('animation')];

	utils.onEndTransition = function(el, callback){
		var onEndCallbackFn = function( ev ) {
			if ( utils.support.transitions ) {
				if( ev.target != this ) return;
				this.removeEventListener( utils.transEndEventName, onEndCallbackFn );
			}
			if( callback && typeof callback === 'function' ) { callback.call(this); }
		};
		if( utils.support.transitions ) {
			el.addEventListener( utils.transEndEventName, onEndCallbackFn );
		}
		else {
			onEndCallbackFn();
		}
	};

    utils.onEndAnimation = function(el, callback){
		var onEndCallbackFn = function( ev ) {
			if ( utils.support.transitions ) {
				if( ev.target != this ) return;
				this.removeEventListener( utils.animEndEventName, onEndCallbackFn );
			}
			if( callback && typeof callback === 'function' ) { callback.call(this); }
		};
		if( utils.support.transitions ) {
			el.addEventListener( utils.animEndEventName, onEndCallbackFn );
		}
		else {
			onEndCallbackFn();
		}
	};

    utils.onEndAnimation($submit[0], function(){
        $body.removeClass("appAuthShow");
    });

})();
</script>

</body>
</html>
