<raw>
  this.root.innerHTML = opts.content;
</raw>

<section-messenger class="screen__messenger__inner">

    <div class="messenger__header">

    </div>
    <div class="messenger__body">
        <div class="messenger__list col-md-6 p0">
            <div class="messenger__list__header"></div>
            <div class="messenger__list__item">

            </div>
        </div>
        <div class="messenger__room col-md-18 p0">
            <div class="messenger__room__inner col-md-17">
                <div class="messenger__room__header">

                </div>
                <div class="messenger__room__content">
                    <div data-id="1" data-type="text" data-who="operator" class="WD__messenger__item WD__messenger__item__operator">
                        <div class="WD__messenger__item__avatar" style="background-image:url(/assets/images/avatar.png)"></div>
                        <div class="WD__messenger__item__text">Добрый день, я рада приветствовать Вас, ожидаю ваших вопросов.
                        </div>
                        <div class="WD__messenger__item__metadata">10:17</div>
                    </div>
                    <div data-id="2" data-type="text" data-who="user" class="WD__messenger__item WD__messenger__item__user">
                        <div class="WD__messenger__item__text">Вас интересует сделки по недвижимостью?
                        </div>
                        <div class="WD__messenger__item__metadata">10:17</div>
                    </div>
                    <div data-id="5" data-type="text" data-who="operator" class="WD__messenger__item WD__messenger__item__operator">
                        <div class="WD__messenger__item__avatar" style="background-image:url(/assets/images/avatar.png)"></div>
                        <div class="WD__messenger__item__text">Все в порядке)!
                        </div>
                        <div class="WD__messenger__item__metadata">10:17</div>
                    </div>
                </div>
                <div class="messenger__room__footer">

                </div>
            </div>
            <div class="messenger__sidebar col-md-7 p0">

            </div>
        </div>
    </div>

<script>

    var $ = this;

</script>

</section-messenger>
