<messenger-room class="messenger__room__content">

        <div class="messenger__msg__dateLine">Новый диалог</div>
        <div data-id="2" data-type="text" data-who="user" class="messenger__msg messenger__msg__user">
            <div class="messenger__msg__avatar messenger__msg__avatar--cover color__bg2">М</div>
            <div class="messenger__msg__text">Я могу задать вопрос?
            </div>
            <div class="messenger__msg__metadata">10:17</div>
        </div>
        <div data-id="1" data-type="text" data-who="operator" class="messenger__msg messenger__msg__operator">
            <div class="messenger__msg__avatar" style="background-image:url(https://randomuser.me/api/portraits/men/31.jpg)"></div>
            <div class="messenger__msg__text">Добрый день, я рада приветствовать Вас, ожидаю ваших вопросов.
            </div>
            <div class="messenger__msg__metadata">10:17</div>
        </div>
        <div data-id="2" data-type="text" data-who="user" class="messenger__msg messenger__msg__user">
            <div class="messenger__msg__avatar messenger__msg__avatar--cover color__bg2">М</div>
            <div class="messenger__msg__text">Вас интересует сделки по недвижимостью?
            </div>
            <div class="messenger__msg__metadata">10:17</div>
        </div>
        <div data-id="5" data-type="text" data-who="operator" class="messenger__msg messenger__msg__operator">
            <div class="messenger__msg__avatar" style="background-image:url(https://randomuser.me/api/portraits/men/31.jpg)"></div>
            <div class="messenger__msg__text">Все в порядке)!
            </div>
            <div class="messenger__msg__metadata">10:17</div>
        </div>
        <div data-id="2" data-type="text" data-who="user" class="messenger__msg messenger__msg__user messenger__msg__user--prev">
            <div class="messenger__msg__avatar messenger__msg__avatar--cover color__bg2">М</div>
            <div class="messenger__msg__text">Quick question – when’s our next charge coming through? Thanks!</div>
        </div>
        <div data-id="2" data-type="text" data-who="user" class="messenger__msg messenger__msg__user">
            <div class="messenger__msg__avatar messenger__msg__avatar--cover color__bg2">М</div>
            <div class="messenger__msg__text">Quick question – when’s our next charge coming through? Thanks!</div>
            <div class="messenger__msg__metadata">10:17</div>
        </div>

</messenger-room>
