<messenger-panel class="messenger__room__panel">

    <div class="messenger__pharses">
        <div class="messenger__pharses__item">Добрый день я могу вам чем то помочь</div>
        <div class="messenger__pharses__item">Как ваши дела?</div>
        <div class="messenger__pharses__item">Как вы поживаете?</div>
        <div class="messenger__pharses__button messenger__pharses__button--more"></div>
        <div class="messenger__pharses__button messenger__pharses__button--plus"></div>
    </div>
    <div class="messenger__form">
        <div class="messenger__form__header">
            <div class="messenger__tabs">
                <div class="messenger__tabs__item active">Ответить</div>
                <div class="messenger__tabs__item">Комментарий</div>
            </div>
            <div class="messenger__form__control">

            </div>
        </div>
        <div class="messenger__form__content" data-active="true">
            <textarea class="messenger__form__content__textarea" placeholder="Введите свое сообщение..."></textarea>
            <div class="disabled btn btn-upper btn-hover-fill btn-sm">Отправить</div>
        </div>
        <div class="messenger__form__content">
            <textarea class="messenger__form__content__textarea messenger__form__content__textarea--reply" placeholder="Оставьте комментарий к диалогу..."></textarea>
            <div class="disabled btn btn-upper btn-hover-fill btn-sm">Отправить</div>
        </div>
    </div>

</messenger-panel>
