<section-messenger>

    <messenger-header></messenger-header>
    <div class="messenger__body">
        <messenger-list></messenger-list>
        <div class="messenger__room col-md-18 p0">
            <div class="messenger__room__inner col-md-16 col-lg-17">
                <messenger-room></messenger-room>
                <messenger-panel></messenger-panel>
            </div>
            <div class="messenger__sidebar__right col-md-8 col-lg-7 p0">
                <messenger-metrika></messenger-metrika>
            </div>
        </div>
    </div>

    <ui-dropmenu></ui-dropmenu>

<script>

    var $ = this;

    $Messenger = {
        el: $$($.root),
        header: $.tags["messenger-header"],
        list: $.tags["messenger-list"],
        room: $.tags["messenger-room"],
        panel: $.tags["messenger-panel"],
        metrika: $.tags["messenger-metrika"],
        dropMenu: $.tags["ui-dropmenu"],
        config: new Baobab({
            online: true,
            filters: {
                sitesList: "all",
                statusList: "all"
            }
        })
    };

    this.on("mount", function(){
        // console.dir($Messenger);
    });

</script>

</section-messenger>
