.logo__wrapper {
    @include flex("row", "flex-start", "center");
    width:100%;
    height:$header_height;
    padding-top:17px;
}
.logo__icon {
    position:relative;
    width:92px;
    height:92px;

    &:before {
        display:none;
        content:"";
        position:absolute;
        top:8px;
        left:25px;
        width:15px;
        height:15px;
        border-radius:50%;
        background:linear-gradient(135deg, $emerald_light, $emerald_bright);
    }
}
.logo__icon1 {
    display:none;
    position:absolute;
    top:20px;
    left:33px;
    width:50px;
    height:50px;
    transform:rotate(-15deg);
}
.logo__icon2 {
    position:absolute;
    top:-5px;
    left:17px;
    width:31px;
    height:31px;
    transform:rotate(-38deg);
}
.logo__icon3 {
    display:none;
    position:absolute;
    top:26px;
    left:42px;
    width:28px;
    height:28px;
    opacity:0.8;
}
#logo {
    width:95px;
    height:95px;
}
.nav {
    &__menu {
        user-select:none;
        position:relative;

        &__item {
            @include flex("row", "center", "center");
            height:$header_height;
            position:relative;
            cursor:pointer;
            white-space:nowrap;

            &:before {
                content:"";
                position:absolute;
                bottom:0;
                left:0;
                width:100%;
                height:5px;
                border-radius:4px 4px 0 0;
                background:$blue;
                box-shadow:0 0 13px 0 rgba(53,99,193,0.21);
                transform:translate3d(0, 0, 0) scale3d(0, 0, 1);
                transition:transform 0.2s $cubic215, border-radius 0.2s $cubic215;
            }
            &__button {
                display:block;
                transition:color 0.2s $cubic345;

                &--products {
                    margin-left:-30px;
                    transform:translate3d(0, 2px, 0);

                    &:before {
                        content:"";
                        display:inline-block;
                        width:48px;
                        height:48px;
                        background-repeat:no-repeat;
                        background-size:cover;
                        vertical-align:middle;
                        margin-right:2px;
                        margin-top:-6px;
                        background-image:url(/assets/images/nav/nav_products.svg);
                    }
                }
            }
            &:not(.nav__menu__item--active):hover {
                color:$blue;

                &:before {
                    border-radius:20px 20px 0 0;
                    transform:translate3d(0, 1px, 0) scale3d(0.4, 0.85, 1);
                }
            }
            &--active {
                color:$blue;

                &:before {
                    border-radius:4px 4px 0 0;
                    transform:translate3d(0, 0, 0) scale3d(1, 1, 1);
                }
            }
        }
        &__logout {
            position:absolute;
            top:50%;
            right:-25px;
            width:32px;
            height:32px;
            margin-top:-16px;
            background:url(/assets/images/nav/nav_logout.svg) no-repeat 0 0 / cover;
            cursor:pointer;
        }
    }
}

@media screen and (max-width:$md-width){
    .nav__menu__item__button--products {
        margin-left:-15px;
    }
    .nav__menu__logout {
        right:-50px;
    }
}
