.boxShadow-default {
    box-shadow:0 6px 22px -6px rgba(0,0,0,.25);
}
.boxShadow-15 {
    box-shadow:0 1px 15px 0 rgba(0,0,0,.1);
}
.boxShadow-24 {
    box-shadow:0 14px 24px 1px rgba($blackLight,.1);
}
