.color {
    $i:0;
    @each $color in (#9471DB, #4D71DB, #FFB84D, #B871B8, #71B84D, #FFDB71, #4DB8B8, #4DB8DB, #DB94DB, #FFACC5, #FF944D, #B8DB4D, #FF7194, #6AD19F){
        $i: $i + 1;
        &__bg#{$i} {
            background-color:$color;
        }
        &__fill#{$i} {
            fill:$color;
        }
    }
    // &__color1 {
    //     background-color:$green;
    // }
    // &__color2 {
    //     background-color:#00bbaf;
    // }
    // &__color3 {
    //     background-color:$azure;
    // }
    // &__color4 {
    //     background-color:#ff0079;
    // }
    // &__color5 {
    //     background-color:#ffd700;
    // }
    // &__color6 {
    //     background-color:#ff6700;
    // }
    // &__color7 {
    //     background-color:#7380d9;
    // }
}
