.status {
    &__color1 {
        background-color:#fffeb2;
    }
    &__color2 {
        background-color:#fffd7f;
    }
    &__color3 {
        background-color:#fff000;
    }
    &__color4 {
        background-color:#ffeab2;
    }
    &__color5 {
        background-color:#ffdc7f;
    }
    &__color6 {
        background-color:#ffce5a;
    }
    &__color7 {
        background-color:#ffdbdb;
    }
    &__color8 {
        background-color:#ffc8c8;
    }
    &__color9 {
        background-color:#ff8f92;
    }
    &__color10 {
        background-color:#d6eaff;
    }
    &__color11 {
        background-color:#c1e0ff;
    }
    &__color12 {
        background-color:#98cbff;
    }
    &__color13 {
        background-color:#ebffb1;
    }
    &__color14 {
        background-color:#deff81;
    }
    &__color15 {
        background-color:#87f2c0;
    }
    &__color16 {
        background-color:#f9deff;
    }
    &__color17 {
        background-color:#f3beff;
    }
    &__color18 {
        background-color:#ccc8f9;
    }
    &__color19 {
        background-color:#eb93ff;
    }
    &__color20 {
        background-color:#f2f3f4;
    }
    &__color21 {
        background-color:#e6e8ea;
    }
}
