.status {
    $i:-1;
    @each $color in (#ebebeb, #3658c3, #3ec845, #45b0e2, #fbca35, #e96154, #60667a, #aa81f3, #ff8acc, #57c5a5){
        $i: $i + 1;
        &__bg#{$i} {
            background-color:$color;
        }
        &__fill#{$i} {
            fill:$color;
        }
        &__color#{$i} {
            color:$color;
        }
    }
}
