.text-center {
    text-align:center !important;
}
.text-left {
    text-align:left !important;
}
.text-right {
    text-align:right !important;
}
.text-ellipsis {
    display:inline-block;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    max-width:100%;
    vertical-align:middle;
}
.nowrap {
    display:inline-block;
    text-decoration:inherit;
    white-space:nowrap;
}
.textAnliasedAuto {
    -webkit-font-smoothing:auto;
}
