<section-data-sidebar>

    <div class="sidebar__filter__item open">
        <div class="sidebar__filter__title">Каналы</div>
        <div class="sidebar__filter__container">
            <div class="sidebar__filter__body">
                <label class="filter__checkbox checked">Звонки</label>
                <label class="filter__checkbox checked">Онлайн-чат</label>
                <label class="filter__checkbox checked">Отзывы</label>
                <div class="pos-rel" data-balloon="Показывать и тех, кто были перенесены в контакты" data-balloon-pos="up" data-balloon-length="medium"><label class="filter__checkbox">Включая всех</label></div>
            </div>
        </div>
    </div>
    <div class="sidebar__filter__item open">
        <div class="sidebar__filter__title">Статусы</div>
        <div class="sidebar__filter__container">
            <div class="sidebar__filter__body">
                <label class="filter__checkbox checked">Все</label>
                <label class="filter__checkbox">В работе<span class="filter__checkbox__color color__bg3"></span></label>
                <label class="filter__checkbox">Думает<span class="filter__checkbox__color color__bg4"></span></label>
                <label class="filter__checkbox">Доставлен<span class="filter__checkbox__color color__bg7"></span></label>
                <label class="filter__checkbox">Отложен<span class="filter__checkbox__color color__bg1"></span></label>
                <label class="filter__checkbox">Отказник<span class="filter__checkbox__color color__bg5"></span></label>
                <label class="filter__checkbox">Оплачен<span class="filter__checkbox__color color__bg9"></span></label>
            </div>
        </div>
    </div>

<script>

    var $ = this;

    this.on("mount", function(){


    });

</script>

</section-data-sidebar>
