<section-data-sidebar>

    <div class="sidebar__filter__item open">
        <div class="sidebar__filter__title">Каналы</div>
        <div class="sidebar__filter__container">
            <div class="sidebar__filter__body">
                <label class="checkbox checked">Звонки</label>
                <label class="checkbox checked">Онлайн-чат</label>
                <label class="checkbox checked">Отзывы</label>
            </div>
        </div>
    </div>
    <div class="sidebar__filter__item">
        <div class="sidebar__filter__title">Статусы</div>
        <div class="sidebar__filter__container">
            <div class="sidebar__filter__body">
                <label class="checkbox checked">Все</label>
                <label class="checkbox">Новый</label>
                <label class="checkbox">Думает</label>
                <label class="checkbox">Доставлен</label>
                <label class="checkbox">Оплачен</label>
            </div>
        </div>
    </div>

<script>

    var $ = this;

    this.on("mount", function(){


    });

</script>

</section-data-sidebar>
