<section-data-list>

    <div class="data__item tile" data-new="false" data-status="2">
        <div data-help="date" class="data__item__date color__bg7">20:48</div>
        <div class="data__item__edit"></div>
        <div data-help="options" class="dropdown data__item__more">
            <div class="dropdown__button data__item__more__button"></div>
            <ul class="dropdown__menu" data-align="center">
                <li>Редактировать</li>
                <li>Передать в контакты</li>
                <li>Удалить</li>
            </ul>
        </div>
        <div class="data__item__wrapper">
            <div class="data__item__header">
                <div data-help="numOrder" class="data__item__cell data__item__cell--num col-md-3">
                    <div class="data__item__num">27</div>
                </div>
                <div class="data__item__cell col-md-4">
                    <div data-help="type" class="data__item__icon data__item__icon--callback">
                        <div class="data__item__checked"></div>
                        <div class="data__item__alarm"></div>
                        <!-- <div class="data__item__status data__item__status--success"></div> -->
                        <div class="data__item__icon__ring">
                            <span class="data__item__icon__ring__item"></span>
                            <span class="data__item__icon__ring__item"></span>
                        </div>
                    </div>
                </div>
                <div data-help="cover" class="data__item__cell col-md-4">
                    <div class="data__item__cover color__bg7">М</div>
                </div>
                <div data-help="visits" class="data__item__cell col-md-4">
                    <span class="data__item__label data__item__label--hidden">визиты</span>
                    <div class="data__item__count">+1</div>
                </div>
                <div data-help="adv" class="data__item__cell col-md-4">
                    <div class="data__item__source">₽
                        <div class="data__item__source__engine data__item__source__engine--yandex"></div>
                    </div>
                </div>
                <div data-help="time" class="data__item__cell col-md-5">
                    <span class="data__item__label data__item__label--hidden">время</span>
                    <div class="data__item__time">1:12</div>
                </div>
            </div>
            <div class="data__item__content">
                <div class="data__item__cell data__item__cell--text col-md-6">
                    <span class="data__item__label">город</span>
                    <span title="Москва" class="data__item__text data__item__text--nowrap">Москва</span>
                </div>
                <div class="data__item__cell data__item__cell--text col-md-7">
                    <span class="data__item__label">имя</span>
                    <span class="data__item__text">Виктория Владимировна</span>
                </div>
                <div class="data__item__cell data__item__cell--text col-md-5">
                    <span class="data__item__label">телефон</span>
                    <span title="Москва" class="data__item__text">9160172086</span>
                </div>
                <div class="data__item__cell col-md-3">
                    <span class="data__item__label">email</span>
                    <div class="pos-rel" data-balloon="нажмите, чтобы написать на owebme@gmail.com" data-balloon-pos="up" data-balloon-ellipsis="true">
                        <a href="#" title="#" class="data__item__link__email"></a>
                    </div>
                </div>
                <div data-help="pages" class="data__item__cell col-md-3">
                    <span class="data__item__label">просм.</span>
                    <span class="data__item__number">7</span>
                </div>
            </div>
            <div class="data__item__content data__item__content--last">
                <div data-help="operator" class="data__item__cell data__item__cell--text col-md-6">
                    <span class="data__item__label">принял</span>
                    <span title="Москва" class="data__item__text data__item__text--nowrap">Александр</span>
                </div>
                <div data-help="source" class="data__item__cell data__item__cell--text col-md-8">
                    <span class="data__item__label">источник перехода</span>
                    <!-- <div class="data__item__text"><a class="data__item__text__link" href="#">https://e.mail.ru/messages/inboxsadasd/</a></div> -->
                    <div class="data__item__text">Яндекс.Директ
                        <div class="data__item__text data__item__text__gray data__item__text--nowrap">купить phone 6 plus</div>
                    </div>
                </div>
                <div data-help="pageStart" class="data__item__cell col-md-4">
                    <span class="data__item__label">стр. входа</span>
                    <a href="#" data-balloon="главная: http://coderthemes.com/flacto/green/index.html" data-balloon-pos="down" data-balloon-ellipsis="true" class="data__item__link__source">
                        <span class="data__item__link__label">г</span>
                    </a>
                    <span class="data__item__links__equal">=</span>
                </div>
                <div data-help="pageAction" class="data__item__cell col-md-4">
                    <span class="data__item__label">стр. обращ.</span>
                    <a href="#" data-balloon="http://yabs.yandex.ru/count/ERPjE502KoK40000Zh0_oda5KfK1cm9kGxS198YxpTv-1ecZuPbyc7QTdzK1fd2AjeZvnmVSiCwpXmczkYSNYmQgBgMZ2W8AlAU-xmED0Tq1tf0az96suqaO1vVmLyV1SPJjW0EJXGsP1KACc0L8jfIR5RMOJnAWeDn02w-O1KYpe6pS0hIOJnBPeDn02zgWRDm2b98G6wUJknoei41PSmUai00000skyiL0f2PkJiW3iG6of1000hcVrG6xucoHFSr8Zv71__________yFmk2-IzhmMNlTn075Zm_J0ku1s_XOkwg2pSrE0z-53UMGyYljWoXv7G00?q=%D0%BA%D1%83%D0%BF%D0%B8%D1%82%D1%8C+%D0%B0%D0%B2%D1%82%D0%BE" data-balloon-pos="down" data-balloon-ellipsis="true" class="data__item__link__action">
                        <span class="data__item__link__label">г</span>
                    </a>
                </div>
                <div class="data__item__cell col-md-2">
                    <div class="data__item__help"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="data__item tile" data-new="false" data-status="2">
        <div class="data__item__date color__bg9">20 апр</div>
        <div class="dropdown data__item__more">
            <div class="dropdown__button data__item__more__button"></div>
            <ul class="dropdown__menu" data-align="center">
                <li>Редактировать</li>
                <li>Передать в контакты</li>
                <li>Изменить статус</li>
                <li>Удалить</li>
            </ul>
        </div>
        <div class="data__item__wrapper">
            <div class="data__item__header">
                <div class="data__item__cell data__item__cell--num col-md-3">
                    <div class="data__item__user__icon"></div>
                    <!-- <div class="data__item__num">26</div> -->
                </div>
                <div class="data__item__cell col-md-4">
                    <div class="data__item__icon data__item__icon--messenger">
                        <div class="data__item__checked"></div>
                    </div>
                </div>
                <div class="data__item__cell col-md-4">
                    <div class="data__item__cover data__item__cover--profile" style="background-image:url(https://pp.vk.me/c630130/v630130894/36980/3rRR8OR_TY4.jpg)">C
                        <a href="#" class="data__item__profile data__item__profile--vk"></a>
                    </div>
                </div>
                <div class="data__item__cell data__item__cell--text col-md-7">
                    <span class="data__item__label">имя</span>
                    <span class="data__item__text">Виктория Владимировна</span>
                </div>
                <div class="data__item__cell data__item__cell--text col-md-6">
                    <span class="data__item__label">телефон</span>
                    <span title="Москва" class="data__item__text">9160172086</span>
                </div>
            </div>
            <div class="data__item__content">
                <div class="data__item__cell data__item__cell--text col-md-6">
                    <span class="data__item__label">город</span>
                    <span title="Москва" class="data__item__text data__item__text--nowrap">Москва</span>
                </div>
                <div class="data__item__cell col-md-3">
                    <span class="data__item__label">визиты</span>
                    <div class="data__item__count">+2</div>
                </div>
                <div class="data__item__cell col-md-3">
                    <span class="data__item__label">просм.</span>
                    <span class="data__item__number">7</span>
                </div>
                <div class="data__item__cell col-md-3">
                    <span class="data__item__label">время</span>
                    <div class="data__item__number">2:17</div>
                </div>
                <div class="data__item__cell data__item__cell--email col-md-9">
                    <span class="data__item__label">email</span>
                    <!-- <a href="#" title="#" class="data__item__link__email"></a> -->
                    <a href="mailto:inbox@resumekraft.ru" class="data__item__text__link">inbox@resumekraft.ru</a>
                </div>
            </div>
            <div class="data__item__content data__item__content--last">
                <div class="data__item__cell data__item__cell--text col-md-6">
                    <span class="data__item__label">принял</span>
                    <span title="Москва" class="data__item__text data__item__text--nowrap">Александр</span>
                </div>
                <div class="data__item__cell data__item__cell--text col-md-8">
                    <span class="data__item__label">переход на сайт</span>
                    <!-- <div class="data__item__text"><a class="data__item__text__link" href="#">https://e.mail.ru/messages/inboxsadasd/</a></div> -->
                    <div class="data__item__text">Яндекс.Директ
                        <div class="data__item__text data__item__text__gray data__item__text--nowrap">купить phone 6 plus</div>
                    </div>
                </div>
                <div class="data__item__cell col-md-4">
                    <span class="data__item__label">стр. входа</span>
                    <a href="#" title="Главная: #" class="data__item__link__source">
                        <span class="data__item__link__label">г</span>
                    </a>
                    <span class="data__item__links__equal">=</span>
                </div>
                <div class="data__item__cell col-md-4">
                    <span class="data__item__label">стр. обращ.</span>
                    <a href="#" title="Главная: #" class="data__item__link__action">
                        <span class="data__item__link__label">г</span>
                    </a>
                </div>
                <div class="data__item__cell col-md-2">
                    <div class="data__item__help"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="data__item tile" data-new="false">
        <div class="data__item__date">18 апр</div>
        <div class="dropdown data__item__more">
            <div class="dropdown__button data__item__more__button"></div>
            <ul class="dropdown__menu" data-align="center">
                <li>Редактировать</li>
                <li>Передать в контакты</li>
                <li>Изменить статус</li>
                <li>Удалить</li>
            </ul>
        </div>
        <div class="data__item__wrapper">
            <div class="data__item__header">
                <div class="data__item__cell data__item__cell--num col-md-3">
                    <div class="data__item__user__icon"></div>
                    <!-- <div class="data__item__num">25</div> -->
                </div>
                <div class="data__item__cell col-md-4">
                    <div class="data__item__icon data__item__icon--reviews">
                        <div class="data__item__checked"></div>
                    </div>
                </div>
                <div class="data__item__cell col-md-4">
                    <div class="data__item__cover data__item__cover--profile" style="background-image:url(https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-1/10252059_1376718889279443_1913568119627860401_n.jpg?oh=7708a1ee6ac7512288371666b46e55b4&oe=5835849E)">М
                        <a href="#" class="data__item__profile data__item__profile--fb"></a>
                    </div>
                    <!-- <div class="data__item__cover color__bg3">М</div> -->
                </div>
                <div class="data__item__cell col-md-4">
                    <span class="data__item__label data__item__label--hidden">визиты</span>
                    <div class="data__item__count">+2</div>
                </div>
                <div class="data__item__cell col-md-4">
                    <div class="data__item__source">₽
                        <div class="data__item__source__engine data__item__source__engine--google"></div>
                    </div>
                </div>
                <div class="data__item__cell col-md-5">
                    <span class="data__item__label data__item__label--hidden">время</span>
                    <div class="data__item__time">0:54</div>
                </div>
            </div>
        </div>
    </div>
    <div class="data__item tile" data-new="false" data-status="2">
        <div class="data__item__date color__bg3">18 апр</div>
        <div class="dropdown data__item__more">
            <div class="dropdown__button data__item__more__button"></div>
            <ul class="dropdown__menu" data-align="center">
                <li>Редактировать</li>
                <li>Передать в контакты</li>
                <li>Изменить статус</li>
                <li>Удалить</li>
            </ul>
        </div>
        <div class="data__item__wrapper">
            <div class="data__item__header">
                <div class="data__item__cell data__item__cell--num col-md-3">
                    <div class="data__item__num">24</div>
                </div>
                <div class="data__item__cell col-md-4">
                    <div class="data__item__icon data__item__icon--callback">
                        <div class="data__item__checked"></div>
                    </div>
                </div>
                <div class="data__item__cell col-md-4">
                    <div class="data__item__cover color__bg3">М</div>
                </div>
                <div class="data__item__cell col-md-4">
                    <span class="data__item__label data__item__label--hidden">визиты</span>
                    <div class="data__item__count">+1</div>
                </div>
                <div class="data__item__cell col-md-4">
                    <div class="data__item__source">₽
                        <div class="data__item__source__engine data__item__source__engine--rambler"></div>
                    </div>
                </div>
                <div class="data__item__cell col-md-5">
                    <span class="data__item__label data__item__label--hidden">время</span>
                    <div class="data__item__time">0:54</div>
                </div>
            </div>
        </div>
    </div>
    <div class="data__item tile" data-new="false">
        <div class="data__item__date">18 апр</div>
        <div class="dropdown data__item__more">
            <div class="dropdown__button data__item__more__button"></div>
            <ul class="dropdown__menu" data-align="center">
                <li>Редактировать</li>
                <li>Передать в контакты</li>
                <li>Изменить статус</li>
                <li>Удалить</li>
            </ul>
        </div>
        <div class="data__item__wrapper">
            <div class="data__item__header">
                <div class="data__item__cell data__item__cell--num col-md-3">
                    <div class="data__item__num">23</div>
                </div>
                <div class="data__item__cell col-md-4">
                    <div class="data__item__icon data__item__icon--messenger">
                        <div class="data__item__checked"></div>
                    </div>
                </div>
                <div class="data__item__cell col-md-4">
                    <div class="data__item__cover color__bg0">М</div>
                </div>
                <div class="data__item__cell col-md-4">
                    <span class="data__item__label data__item__label--hidden">визиты</span>
                    <div class="data__item__count">+1</div>
                </div>
                <div class="data__item__cell col-md-4">
                    <div class="data__item__source">₽
                        <div class="data__item__source__engine data__item__source__engine--mail"></div>
                    </div>
                </div>
                <div class="data__item__cell col-md-5">
                    <span class="data__item__label data__item__label--hidden">время</span>
                    <div class="data__item__time">0:54</div>
                </div>
            </div>
        </div>
    </div>
    <div class="data__item tile" data-new="true">
        <div class="data__item__date">18 апр</div>
        <div class="dropdown data__item__more">
            <div class="dropdown__button data__item__more__button"></div>
            <ul class="dropdown__menu" data-align="center">
                <li>Редактировать</li>
                <li>Передать в контакты</li>
                <li>Изменить статус</li>
                <li>Удалить</li>
            </ul>
        </div>
        <div class="data__item__wrapper">
            <div class="data__item__header">
                <div class="data__item__cell data__item__cell--num col-md-3">
                    <div class="data__item__num">22</div>
                </div>
                <div class="data__item__cell col-md-4">
                    <div class="data__item__icon data__item__icon--messenger">
                        <div class="data__item__checked"></div>
                    </div>
                </div>
                <div class="data__item__cell col-md-4">
                    <div class="data__item__cover">М</div>
                </div>
                <div class="data__item__cell col-md-4">
                    <span class="data__item__label data__item__label--hidden">визиты</span>
                    <div class="data__item__count">+1</div>
                </div>
                <div class="data__item__cell col-md-4">
                    <div class="data__item__source">₽
                        <div class="data__item__source__engine data__item__source__engine--yahoo"></div>
                    </div>
                </div>
                <div class="data__item__cell col-md-5">
                    <span class="data__item__label data__item__label--hidden">время</span>
                    <div class="data__item__time">0:54</div>
                </div>
            </div>
        </div>
    </div>
    <div class="data__item tile" data-new="true">
        <div class="data__item__date">18 апр</div>
        <div class="dropdown data__item__more">
            <div class="dropdown__button data__item__more__button"></div>
            <ul class="dropdown__menu" data-align="center">
                <li>Редактировать</li>
                <li>Передать в контакты</li>
                <li>Изменить статус</li>
                <li>Удалить</li>
            </ul>
        </div>
        <div class="data__item__wrapper">
            <div class="data__item__header">
                <div class="data__item__cell data__item__cell--num col-md-3">
                    <div class="data__item__num">21</div>
                </div>
                <div class="data__item__cell col-md-4">
                    <div class="data__item__icon data__item__icon--messenger">
                        <div class="data__item__checked"></div>
                    </div>
                </div>
                <div class="data__item__cell col-md-4">
                    <div class="data__item__cover">М</div>
                </div>
                <div class="data__item__cell col-md-4">
                    <span class="data__item__label data__item__label--hidden">визиты</span>
                    <div class="data__item__count">+1</div>
                </div>
                <div class="data__item__cell col-md-4">
                    <div class="data__item__source">₽
                        <div class="data__item__source__engine data__item__source__engine--bing"></div>
                    </div>
                </div>
                <div class="data__item__cell col-md-5">
                    <span class="data__item__label data__item__label--hidden">время</span>
                    <div class="data__item__time">0:54</div>
                </div>
            </div>
        </div>
    </div>
    <div class="data__item tile" data-new="true">
        <div class="data__item__date">18 апр</div>
        <div class="dropdown data__item__more">
            <div class="dropdown__button data__item__more__button"></div>
            <ul class="dropdown__menu" data-align="center">
                <li>Редактировать</li>
                <li>Передать в контакты</li>
                <li>Изменить статус</li>
                <li>Удалить</li>
            </ul>
        </div>
        <div class="data__item__wrapper">
            <div class="data__item__header">
                <div class="data__item__cell data__item__cell--num col-md-3">
                    <div class="data__item__num">20</div>
                </div>
                <div class="data__item__cell col-md-4">
                    <div class="data__item__icon data__item__icon--messenger">
                        <div class="data__item__checked"></div>
                    </div>
                </div>
                <div class="data__item__cell col-md-4">
                    <div class="data__item__cover">М</div>
                </div>
                <div class="data__item__cell col-md-4">
                    <span class="data__item__label data__item__label--hidden">визиты</span>
                    <div class="data__item__count">+1</div>
                </div>
                <div class="data__item__cell col-md-4">
                    <div class="data__item__source">₽
                        <div class="data__item__source__engine data__item__source__engine--link"></div>
                    </div>
                </div>
                <div class="data__item__cell col-md-5">
                    <span class="data__item__label data__item__label--hidden">время</span>
                    <div class="data__item__time">0:54</div>
                </div>
            </div>
        </div>
    </div>

    <ul class="pigination">
        <li class=""></li>
    </ul>

<script>

    var $ = this;

    this.on("mount", function(){


    });

</script>

</section-data-list>
