.data__menu {
    cursor:default;
    user-select:none;

    &__cell {
        @include flex("row", "flex-start", "center");
        height:44px;
        padding-bottom:1px;
    }
    &__title {
        @include flex("row", "flex-start", "center");
        position:relative;
        font-size:13.5px;
        text-transform:uppercase;
        white-space:nowrap;
        height:44px;
        transform:translate3d(0, 1px, 0);
    }
    &__nav__item {
        transition:color 0.2s $cubic215;

        &:after {
            content:"";
            position:absolute;
            bottom:0;
            left:-25px;
            height:2px;
            background:rgba($blue,.8);
            width:calc(100% + 25px);
            will-change:transform;
            transform:translate3d(0, 0, 0) scale3d(0, 0, 1);
            transition:transform 0.2s $cubic215;
        }
        &.active {
            &:after {
                transform:translate3d(0, 0, 0) scale3d(1, 1, 1);
            }
            .data__menu__number {
                color:$gray;
            }
        }
        &:not(.active):hover {
            color:$blue;
            cursor:pointer;

            &:after {
                transform:translate3d(-10px, 0, 0) scale3d(0.7, 1, 1);
            }
        }
    }
    &__number {
        color:$frozen;
        display:inline-block;
        font-size:14.5px;
        font-weight:bold;
        width:54px;
        text-align:center;
        transform:translate3d(0, -1px, 0);
        transition:color 0.2s $cubic215;
    }
    &__basket {
        margin-left:4px;

        &__count {
            margin-left:40px;
        }
        &__badge {
            position:absolute;
            top:0;
            left:0;
            @extend .badge-circle;
            transform:translate3d(-10px, 3px, 0);
        }
    }
    &__nav {
        @include flex("row", "flex-end", "center");
    }
    &__button {
        cursor:pointer;
        opacity:0.8;
        transition:transform 0.2s $cubic215, opacity 0.2s $cubic215;

        &:active {
            transform:translate3d(0, 1px, 0) scale(0.8);
        }
        &:hover {
            opacity:1;
        }
    }
    &__pigination {
        color:$frozen;
        font-size:16px;
        margin-left:10px;
        @include flex("row", "flex-end", "center");

        span {
            display:block;
            margin-left:15px;
        }
        &__arrow {
            @include flex("row", "center", "center");
            margin-left:0;

            &:before {
                display:block;
                content:"";
                width:24px;
                height:24px;

                &.prev {
                    @include ui-icon(arrowLeft);
                }
                &.next {
                    @include ui-icon(arrowRight);
                }
            }
        }
        &__page {
            font-weight:bold;
            margin-left:0;
            font-size:18px;
        }
    }
    &__search {
        margin-left:25px;

        &__button {
            @include ui-icon(search, 24px, 24px);
            cursor:pointer;
        }
    }
    &__dateRange {
        @include flex("row", "center", "center");
        cursor:pointer;
        font-size:0;

        &__button {
            &:before {
                content:"";
                display:inline-block;
                vertical-align:middle;
                @include ui-icon(date_change, 22px, 22px);
            }
        }
        &__value {
            display:none;
            color:$blue_light;
            height:24px;
            font-size:14px;
            line-height:22px;
            margin-left:10px;
            border:1px solid $blue_light;
            padding:0 8px;
            border-radius:4px;
            vertical-align:middle;
        }
        &__cancel {
            display:none;
            vertical-align:middle;
            @include ui-icon(close_strong, 28px, 28px);
            margin:0 -15px 0 2px;
        }
        &--show {
            .data__menu__dateRange__button:before {
                @include ui-icon(date_change_fill, 23px, 23px);
            }
        }
        &--active {
            .data__menu__dateRange__value,
            .data__menu__dateRange__cancel {
                display:inline-block;
            }
        }
    }
    &__date__rangepicker {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        cursor:pointer;
        overflow:hidden;
        opacity:0;
    }
    &__pages {
        padding-left:10px;

        .select {
            width:36px;
            text-align:center;
            transform:translate3d(20px, -1px, 0);

            &__current {
                color:$frozen;
                font-weight:bold;
                font-size:15px;
            }
        }
    }
}
.sidebarSwither {
    opacity:0.8;
    position:absolute;
    top:0;
    left:0;
    width:43px;
    height:43px;
    cursor:pointer;
    will-change:transform;
    transform:translate3d(-40px, 3px, 0) scaleX(-1);
    transition:transform 0.25s $cubic2501, opacity 0.2s $cubic215;

    &__color {
        fill:$blue;
    }
    &--active {
        transform:translate3d(-45px, 3px, 0) scaleX(1);
    }
    &:hover {
        opacity:1;
    }
}

@media screen and (max-width:$md-width){
    .data__menu__basket {
        margin-left:7px;
    }
    .sidebarSwither {
        left:20px;
    }
}
