<section-modal class="modal">

    <div class="modal__panel__right">
        <div class="modal__panel__item">
            <span class="modal__button__close"></span>
        </div>
        <div class="modal__panel__item">
            <span class="modal__button__print"></span>
        </div>
        <div class="modal__panel__item">
            <span class="modal__button__sendEmail"></span>
        </div>
        <div data-balloon="Количество визитов на ваш сайт совершенных клиентом" data-balloon-pos="down" data-balloon-length="large" class="modal__panel__item modal__panel__item__count">+1</div>
        <div data-balloon="Просмотренно страниц клиентом, во время последнего визита" data-balloon-pos="down" data-balloon-length="large" class="modal__panel__item modal__panel__item__count">7</div>
        <div data-balloon="Проведенное время клиентом на сайте, во время последнего визита" data-balloon-pos="down" data-balloon-length="large" class="modal__panel__item modal__panel__item__time">2:04</div>
    </div>

    <div class="container">
        <div class="modal__wrapper col-md-22 col-lg-18 center-block">
            <div class="modal__status dropdown" data-type="status">
                <status-mark color="9" iclass="modal__status__icon"></status-mark>
                <span class="modal__status__title dropdown__button">Думает</span>
                <ul class="dropdown__menu" data-align="center">
                    <li><span class="dropdown__menu__color color__bg3"></span>В работе</li>
                    <li><span class="dropdown__menu__color color__bg4"></span>Думает</li>
                    <li><span class="dropdown__menu__color color__bg7"></span>Доставлен</li>
                    <li><span class="dropdown__menu__color color__bg1"></span>Отложенные</li>
                    <li><span class="dropdown__menu__color color__bg5"></span>Отказник</li>
                    <li><span class="dropdown__menu__color color__bg9"></span>Оплачен</li>
                    <li class="divider"></li>
                    <li class="dropdown__menu__button dropdown__menu__button__edit">Изменить статусы</li>
                </ul>
            </div>
            <div class="modal__container form">
                <h2 class="modal__title">
                    <div class="modal__title__inner">Редактирование<div class="modal__cover color__bg2">М</div></div>
                </h2>
                <div class="row">
                    <div class="col-md-12 cell">
                        <fieldset>
                            <legend><h4 class="form__header">Имя</h4></legend>
                            <p>Введите по возможности полное ФИО</p>
                            <div class="form__group">
                                <div class="input__group">
                                    <input type="text" class="form__control" placeholder="Введите имя" value="Александр" autocomplete="off" spellcheck="off">
                                    <span class="input__group__addon"></span>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-md-12 cell">
                        <fieldset>
                            <legend><h4 class="form__header">Email</h4></legend>
                            <p>Укажите email для связи с клиентом</p>
                            <div class="form__group">
                                <div class="input__group">
                                    <input type="text" class="form__control" placeholder="Введите имя" value="inbox@resumekraft.ru" autocomplete="off" spellcheck="off">
                                    <span class="input__group__addon">
                                        <a href="mailto:" class="input__group__addon__icon input__group__addon__icon__writeEmail"></a>
                                    </span>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 cell">
                    </div>
                    <div class="col-md-12 cell">
                        <fieldset>
                            <legend><h4 class="form__header">Телефон</h4></legend>
                            <p>Укажите один или несколько телефонов</p>
                            <div class="form__group">
                                <div class="input__group">
                                    <input type="text" class="form__control" placeholder="Введите имя" value="79264571727" autocomplete="off" spellcheck="off">
                                    <span class="input__group__addon"></span>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 cell">
                        <h4 class="form__header">Комментарий</h4>
                        <p>Оставьте комментарий к клиенту</p>
                    </div>
                    <div class="col-md-12 cell">
                        <div class="form__group">
                            <div class="input__group">
                                <textarea class="form__control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal__footer">
        <div class="modal__footer__wrapper">
            <span class="btn btn-md btn-upper btn-hover-fill">Сохранить</span>
            <span class="btn btn-md btn-upper btn-simple">Отменить</span>
        </div>
    </div>

<script>

    var $ = this;

    this.on("mount", function(){


    });

</script>

</section-modal>
