<ui-dropmenu class="dropmenu { dropmenu--active : active }" data-align="{ align }">

    <div if={ !type } class="dropmenu__wrapper">
        <div onClick={ onSelect } native="true" each={ items } no-reorder class="dropmenu__item">
            { title }
        </div>
    </div>
    <div if={ type === "status" } class="dropmenu__wrapper">
        <div onClick={ onSelect } native="true" each={ items } no-reorder class="dropmenu__item { selected : _id == value }">
            <span class="dropmenu__item__color color__bg{ color }"></span>{ title }
        </div>
        <div class="dropmenu__item divider"></div>
        <div onClick={ openStatusMenu } class="dropmenu__item dropmenu__item__button edit">Изменить статусы</div>
    </div>

<script>

    var $ = this,
    $scope = $$($.root);

    $.active = false;

    $.items = {};

    $.rootScroll = null;

    $.show = function(params){
        if (params && params.elem){
            if ($._id && $._id === params.id && $.type === params.type){
                $.onClose();
                return;
            }
            if ($.active) $.onClose();
            if (params.id) $._id = params.id;
            $.type = params.type;
            $.align = params.align ? params.align : "center";
            $.items = params.data;
            $.value = params.value;
            $.callback = params.callback;
            $.active = true;

            var offset = params.elem.offset(),
                marginLeft = 0, marginTop = 0;

            if ($.align === "center"){
                marginLeft = params.elem.outerWidth() / 2;
            }
            else if ($.align === "left" || $.align === "down-left"){
                marginTop = -(params.elem.outerHeight() / 2);
            }
            else if ($.align === "right"){
                marginLeft = params.elem.outerWidth();
                marginTop = -(params.elem.outerHeight() / 2);
            }

            $.rootScroll = params.rootScroll ? params.rootScroll : app.$dom.scroll;

            setTimeout(function(){
                $.rootScroll.on(EV.click + ".dropdown", function(e){
                    $.onClose();
                });
            }, 100);

            $.update();

            $scope.css({
                top: ($.rootScroll[0].scrollTop + offset.top + params.elem.outerHeight()) + "px",
                left: offset.left + "px",
                marginLeft: marginLeft + "px",
                marginTop: marginTop + "px"
            });
        }
    };

    $.onClose = function(){
        $.rootScroll.off(EV.click + ".dropdown");
        $.active = false;
        if ($._id) $._id = null;
        $.update();
    };

    $.onSelect = function(){
        var id = this._id;
        $.value = id;
        if (this._item && _.isFunction(this._item.callback)) {
            this._item.callback();
        }
        if ($.callback) $.callback(id);
    };

    $.openStatusMenu = function(){

    };

</script>

</ui-dropmenu>
