<ui-select class="select { 'active' : active }" data-align="{ opts.align }">

    <span onClick={ onShow } class="select__current">{ current }</span>
    <span class="select__wrapper">
        <span class="select__items">
            <span onClick={ onSelect } native="true" each={ item in opts.items.get() } no-reorder class="select__item { 'selected' : item.value == value }">{ item.title }</span>
        </span>
    </span>

<script>

    var $ = this;

    $.active = false;

    $.getCurrent = function(value){
        return $.opts.items.get({'value': value}, 'title');
    };

    $.value = $.opts.data.get($.opts.value);
    $.current = $.getCurrent($.value);

    $.onShow = function(){
        if (!$.active){
            $.active = true;
            setTimeout(function(){
                app.$dom.body.on(EV.click + ".ui-select", function(e){
                    app.$dom.body.off(EV.click + ".ui-select");
                    $.active = false;
                    $.update();
                });
            }, 100);
        }
    };

    $.onSelect = function(){
        if ($.value != this.item.value) $.opts.data.set($.opts.value, this.item.value);
        $.value = this.item.value;
        $.current = $.getCurrent($.value);
    };

    if ($.opts.observer){
        this.on("mount", function(){
            $.opts.data.select($.opts.value).on('update', function(e){
                $.value = $.opts.data.get($.opts.value);
                $.current = $.getCurrent($.value);
                $.update();
            });
        });
    }

</script>

</ui-select>
