<ui-switcher>

    <input onClick={ onClick } type="checkbox" class="switcher { small : typeof opts.small !== 'undefined' } { green : typeof opts.green !== 'undefined' }" disabled="{ true : typeof opts.disabled !== 'undefined' }" checked="{ checked : value }">

<script>

    var $ = this;

    $.value = $.opts.data.get($.opts.value);

    $.onClick = function(){
        $.value = !$.value;
        $.opts.data.set($.opts.value, $.value);
    };

    if ($.opts.observer){
        this.on("mount", function(){
            $.opts.data.select($.opts.value).on('update', function(e){
                $.value = $.opts.data.get($.opts.value);
                $.update();
            });
        });
    }

</script>

</ui-switcher>
