<popup-manager-status class="popup__wrapper">

    <div class="popup__container">
        <div dgClick={ hide } class="popup__close"></div>
        <h3 class="popup__title">
            Управление статусами
        </h3>
        <div class="row">
            <div class="popup__scroll">
                <div class="popup__scroll__wrapper">
                    <table class="table table-m">
                        <thead>
                            <tr>
                                <th>Название</th>
                                <th class="text-center">Цвет</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="cell-text">
                                    <input onKeydown={ onKeydownAdd } class="input input-light input-m" type="text" autocomplete="off" placeholder="Новый статус"><span onClick={ onAdd } class="button button__add"></span></td>
                                <td><span onClick={ onColor } class="button button__color color__bg{ colorSelect }"></span></td>
                                <td></td>
                            </tr>
                            <tr each={ item in items } no-reorder>
                                <td class="cell-text" if={ item.editable }>
                                    <input onKeydown={ onKeydownApply } class="input input-light input-m" type="text" autocomplete="off" value={ item.title }><span onClickUpdate={ onApply } class="button button__apply"></span>
                                </td>
                                <td class="cell-text" if={ !item.editable }>
                                    <p>{ item.title }</p><span onClickUpdate={ onEdit } class="button button__edit"></span>
                                </td>
                                <td>
                                    <span onClick={ onColor } class="button button__color color__bg{ item.color }"></span>
                                </td>
                                <td>
                                    <span if={ item._id != 1 } onClick={ onRemove } class="button button__remove"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row popup__footer text-right">
            <button dgClick={ onCancel } id="popup-manager-status-onCancel" class="btn btn-m btn-upper btn-primary-hover">Отменить</button>
            <button dgClick={ onSave } id="popup-manager-status-onSave" class="btn btn-m btn-upper btn-primary-hover { disabled : !items.length } { btn-loading : saving }">Сохранить</button>
        </div>
    </div>

    <ui-dropmenu></ui-dropmenu>

<script>

    var $ = this,
    $scope = $$($.root);

    $.saving = false;
    $.colorDefault = 8;
    $.colorSelect = null;
    $.dropMenu = $.tags["ui-dropmenu"];
    $.items = [];

    this.on("mount", function(){
        $.init();
    });

    $.init = function(){
        $.colorSelect = $.colorDefault;
        $.items = _.copyArray($store.status.get());
        $.update();
    };

    $.onAdd = function(e){
        var $input = $$(e.currentTarget).prev(),
            value = _.clean($input.val());

        if (value && value.length) $.addItem($input, value);
    };

    $.onKeydownAdd = function(e){
        var $input = $$(e.currentTarget),
            value =_.clean($input.val());

        if (e.which === KEY.ENTER && value && value.length){
            e.preventDefault();
            $.addItem($input, value);
        }
        return true;
    };

    $.onEdit = function(){
        this.item.editable = true;
    };

    $.onApply = function(e){
        var value = _.clean($$(e.currentTarget).prev().val());
        if (value && value.length) $.setItem(this.item, value);
    };

    $.onKeydownApply = function(e){
        var value = _.clean($$(e.currentTarget).val());

        if (e.which === KEY.ENTER && value && value.length){
            e.preventDefault();
            $.setItem(this.item, value);
        }
        return true;
    };

    $.onColor = function(e){
        var $this = this,
            item = this.item;

        if (!item) {
            item = {
                _id: null,
                color: $.colorSelect
            }
        }
        $.dropMenu.show({
            id: item._id,
            type: "palette",
            rootScroll: $scope,
            elem: $$(e.currentTarget),
            data: _.range(15),
            value: item.color,
            callback: function(value){
                if (item._id){
                    $this.item.color = value;
                    $this.update();
                }
                else {
                    $.colorSelect = value;
                    $.update();
                }
            }
        });
    };

    $.onRemove = function(){
        $.items.splice($.items.indexOf(this.item), 1);
        $.update();
    };

    $.onCancel = function(e){
        if ($.isEditable()){
            $Alert.show({
                title: "Вы не сохранили изменения",
                subtitle: "Продолжить редактирование или выйти без сохранения?",
                success: {
                    title: "Продолжить"
                },
                cancel: {
                    title: "Выйти",
                    callback: function(){
                        $.hide();
                    }
                }
            });
        }
        else {
            $.hide();
        }
    };

    $.isEditable = function(){
        return _.findWhere($.items, {editable: true});
    };

    $.onSave = function(e){
        $.saving = true;
        $.update();

        var removeStatus = _.difference(
            _.pluck($store.status.get(), "_id"),
            _.pluck($.items, "_id")
        );

        var removeList = [];
        if (removeStatus.length){
            _.each($store.data.get(), function(item){
                if (_.inArray(removeStatus, item.status)){
                    removeList.push(item._id);
                }
            });
        }

        if (removeList.length){
            $Alert.show({
                title: "Среди удаленных статусов найдены " + removeList.length + " относящиеся к ним записи",
                subtitle: 'все они перейдут в статус "новый"?',
                success: {
                    callback: function(){
                        _.each(removeList, function(id){
                            $store.data.select({'_id': id}).set("status", "1");
                        });
                        $.setData(removeList);
                    }
                },
                cancel: {
                    callback: function(){
                        $.saving = false;
                        $.update();
                    }
                }
            });
        }
        else {
            $.setData();
        }
    };

    $.setData = function(removeList){
        app.request("setDataStatus", {
            status: $.clearData(),
            removeList: removeList ? removeList : []
        })
        .then(function(data){
            if (data && data.length){
                $.saveStore(data);
            }
            $.hide();
        },
        function(){
            $.saving = false;
            $.update();
        });
    };

    $.clearData = function(){
        _.each($.items, function(item){
            if (item._id.match(/new/)){
                item._id = null;
            }
            delete item.editable;
        });
        return $.items;
    };

    $.saveStore = function(data){
        $store.status.set(data);
    };

    $.setItem = function(item, value){
        item.title = value;
        item.editable = false;
    };

    $.addItem = function(input, value){
        $.items.unshift({
            _id: "new" + _.random(10, 1000),
            title: value,
            color: $.colorSelect
        });
        input.val('');
        $.colorSelect = $.colorDefault;
    };

    $.hide = function(){
        if ($.saving) $.saving = false;
        $Popup.hide();
    };

</script>

</popup-manager-status>
