<section-popup class="popup" data-align="center-right">

    <div class="popup__wrapper">
        <div class="popup__icon popup__icon__sendEmail"></div>
        <h3 class="popup__title">
            Отправить
            <p class="subtitle">Карточку клиента на email</p>
        </h3>
        <div class="row">
            <div class="input__group">
                <input type="text" class="form__control" placeholder="Куда отправляем? E-mail">
            </div>
        </div>
        <div class="row popup__footer">
            <span class="btn btn-md btn-upper btn-hover-fill">Отправить</span>
            <span class="btn btn-md btn-upper btn-simple popup__close">Отменить</span>
        </div>
    </div>

<script>

    var $ = this;

    this.on("mount", function(){


    });

</script>

</section-popup>
