<section-content id="content">

    <div id="menu">
        <div class="container menu__wrapper">
            <section-data-menu>
            </section>
        </div>
    </div>
    <div class="container">
        <div class="row content__wrapper slide-right">
            <section-data-sidebar class="data__sidebar col-md-4 col-lg-4">
            </section-data-sidebar>
            <div class="data__content">
                <section-data-list class="data__list col-md-14 col-lg-13">
                </section-data-list>
                <section-dashboard class="dashboard col-md-10 col-lg-11">
                </section-dashboard>
            </div>
        </div>
    </div>

<script>

    var $ = this;

    this.on("mount", function(){


    });

</script>

</section-content>
