<root-main id="page">

    <section-nav></section-nav>
    <section-menu id="menu">
        <section-menu-data>
        </section>
    </section-menu>
    <section-content id="content">
        <div class="container">
            <div class="row content__wrapper">
                <section-data-list class="data__list col-md-12" style="padding-right:12.5px">
                </section-data-list>
                <section-dashboard class="dashboard col-md-12" style="padding-left:12.5px">
                </section-dashboard>
            </div>
        </div>
    </section-content>
    <section-panel></section-panel>

<script>

    var $ = this;

    this.on("mount", function(){


    });

</script>

</root-main>
