<root-main id="page">

    <section-nav></section-nav>
    <section-menu id="menu">
        <div class="container">
            <section-data-menu>
            </section>
        </div>
    </section-menu>
    <section-content id="content">
        <div class="container">
            <div class="row content__wrapper slide-right">
                <section-data-sidebar class="data__sidebar col-md-4 col-lg-4">
                </section-data-sidebar>
                <section class="data__content">
                    <section-data-list class="data__list col-md-14 col-lg-13">
                    </section-data-list>
                    <section-dashboard class="dashboard col-md-10 col-lg-11">
                    </section-dashboard>
                </section>
            </div>
        </div>
    </section-content>
    <section-panel></section-panel>

    <section-modal></section-modal>
    <section-popup></section-popup>

<script>

    var $ = this;

    this.on("mount", function(){


    });

</script>

</root-main>
