<root-main id="page">

    <div class="screen screen__main" data-marquee="main">
        <div class="screen__main__inner">
            <section-nav></section-nav>
            <section-content id="content"></section-content>
            <dropdown-menu></dropdown-menu>
        </div>
        <section-panel></section-panel>
    </div>
    <div class="screen screen__messenger" data-marquee="messenger">
        <section-messenger></section-messenger>
    </div>

    <section-modal></section-modal>
    <section-popup></section-popup>

<script>

    $root = this;

    $store = {};

    this.on("mount", function(){

        SCREENS = app.screens;
        app.$dom.root = $$($root.root);
        app.$dom.content = app.$dom.root.find(".screen__main__inner");

        $Popup = $root.tags["section-popup"];
        $Modal = $root.tags["section-modal"];
        $DropMenu = $root.tags["dropdown-menu"];
        $Messenger = $root.tags["section-messenger"];

        app.nav.init();
        app.screens.init();
        app.router.init();

    });

</script>

</root-main>
