<root-main id="page">

    <div class="screen screen__main" data-marquee="main">
        <div class="screen__main__inner">
            <section-nav></section-nav>
            <section-content></section-content>
        </div>
        <section-panel></section-panel>
    </div>
    <div class="screen screen__messenger" data-marquee="messenger">
        <section-messenger></section-messenger>
    </div>

    <section-modal></section-modal>
    <section-popup></section-popup>
    <dropdown-menu></dropdown-menu>

<script>

    $root = this;

    $store = {};

    this.on("mount", function(){

        SCREENS = app.screens;
        NAV = $root.tags["section-nav"];
        CONTENT = $root.tags["section-content"];
        PANEL = $root.tags["section-panel"];

        app.$dom.root = $("#page");
        app.$dom.content = app.$dom.root.find(".screen__main__inner");

        SCREENS.init();

        $Popup = $root.tags["section-popup"];
        $Modal = $root.tags["section-modal"];
        $DropMenu = $root.tags["dropdown-menu"];
        $Messenger = $root.tags["section-messenger"];

    });

</script>

</root-main>
