<root-main id="page">

    <div class="screen screen__main" data-marquee="main">
        <div class="screen__main__inner">
            <section-nav></section-nav>
            <section-content id="content"></section-content>
            <ui-dropmenu></ui-dropmenu>
        </div>
        <section-panel></section-panel>
    </div>
    <div class="screen screen__messenger" data-marquee="messenger">
        <section-messenger class="screen__messenger__inner"></section-messenger>
    </div>

    <section-modal></section-modal>
    <section-popup></section-popup>
    <section-alert></section-alert>
    <section-loader></section-loader>
    <section-launcher></section-launcher>
    <section-auth></section-auth>
    <!-- <div class="tutorial">
        <div class="tutorial__shape"></div>
    </div> -->

<script>

    $root = this;

    this.on("mount", function(){

        SCREENS = app.screens;
        app.$dom.root = $$($root.root);
        app.$dom.scroll = app.$dom.root.find(".screen__main__inner");
        app.$dom.content = app.$dom.scroll.find("#content");

        $Modal = $root.tags["section-modal"];
        $Popup = $root.tags["section-popup"];
        $Alert = $root.tags["section-alert"];
        $DropMenu = $root.tags["ui-dropmenu"];
        $Loader = $root.tags["section-loader"];

        app.nav.init();
        app.screens.init();
        app.router.init();
        app.fixScroll(app.$dom.scroll[0]);
    });

</script>

</root-main>
