<contacts-filter-status class="dataTable__filterColumn">

    <div onClick={ onShow } class="dataTable__filterColumn__button"></div>
    <div class="dataTable__filterColumn__wrapper { active : active }">
        <div class="dropmenu__wrapper">
            <div onClick={ change.statusAll } class="dropmenu__item stAll { selected : statusAll }">
                Все
            </div>
            <div onClickUpdateAll={ change.status } each={ item in $store.status.get() } no-reorder class="dropmenu__item st {selected: item.active & !statusAll}">
                <span class="dropmenu__item__color color__bg{ item.color }"></span>{ item.title }
            </div>
            <div class="dropmenu__item divider"></div>
            <div onClick={ openStatusMenu } class="dropmenu__item dropmenu__item__button edit">Изменить статусы</div>
        </div>
    </div>

<script>

    var $ = this,
    $scope = $$($.root);

    $.statusAll = true;

    $.active = false;

    this.on("mount", function(){
        $.dropmenu = $scope.find(".dataTable__filterColumn__wrapper");
    });

    $.onShow = function(){
        $.active = !$.active;
    };

    $.change = {
        status: function(e){

            $.statusAll = false;

            $store.status.get(function(item) {
                item.active = false;
            });

            this.item.active = !this.item.active;

            $.active = false;

            var status = this.item.title;

            _.onEndTransition($.dropmenu[0], function(){
                $Contacts.table.search.column(4, status);
            });
        },
        statusAll: function(e){
            if (!$.statusAll){
                $store.status.get(function(item) {
                    item.active = true;
                });
            }
            $.statusAll = true;

            $.active = false;

            _.onEndTransition($.dropmenu[0], function(){
                $Contacts.table.search.reset();
            });
        }
    };

</script>

</contacts-filter-status>
