<section-contacts-table class="contacts__content col-md-24">

    <table id="datatable-buttons" class="dataTable">
        <thead>
            <th></th>
            <th>Фото</th>
            <th>Имя</th>
            <th>Компания</th>
            <th>Статус<contacts-filter-status></contacts-filter-status></th>
            <th>Тэг</th>
            <th>Город</th>
            <th>Email</th>
            <th>Телефон</th>
            <th>Дата</th>
        </thead>
        <tbody>
        </tbody>
    </table>

<script>

    var $ = this,
    $scope = $$($.root);

    $.init = function(data){
        $.table = $scope.find(".dataTable").DataTable(
            $Contacts.config($, data, function(){
                // Initialize dataTable
            })
        );
        $.table.elem = $$($.table.context[0].nTable);

        // Reset search result
        $.table.elem.on(EV.click, ".data__list__reset", function(){
            $.search.resetAll();
        });

        // Change status item
        $.table.elem.on(EV.click, ".dataTable__status", function(e){
            var _this = this;
                item = $.get.item(this);
                id = item._id;

            $DropMenu.show({
                id: id,
                align: "right",
                type: "status",
                elem: $$(e.currentTarget),
                data: $store.status.get(),
                value: item.status,
                callback: function(value){
                    app.request('setDataListStatus', {
                        status: value,
                        ids: [id]
                    });
                    $store.data.select({'_id': id}).set("status", value);
                }
            });
        });

        // Checked item
        $.table.elem.on(EV.click, ".dataTable__checkbox", function(){
            var $row = $$(this).closest("tr"),
                item = $.table.row($row[0]).data(),
                id = item._id;

            $row.toggleClass("selected");
            $store.data.select({'_id': id}).set("checked", !item.checked);
        });

        $.table.elem.on(EV.click, "tbody > tr", function(e){
            var item = e.target,
                cl = item.getAttribute("class");

            if (cl && !cl.match(/status/) && !cl.match(/checkbox/) && !cl.match(/link/)){
                $Router.nav("/contact/" + $.get.id(this));
            }
        });

        // Edit item
        // $.table.elem.on(EV.click, ".dataTable__button__edit", function(){
        //     $Contact.show($.get.item(this));
        // });

        //$.table.elem.find(".dataTable__button__edit:first").trigger("click");
    };

    $.refresh = {
        item: function(id){
            var row = $.table.row('#' + id);
            if (row && row[0] && row[0].length){
                row.data($store.data.get({"_id": id})).draw("page");
            }
        },
        all: function(){
            $.table.clear().draw();
            $.table.rows.add($store.filter("data", "state", "contact")).draw();
        }
    };

    $.search = {
        column: function(num, value){
            $.table.column(num).search(value, false, true, true).draw();
        },
        reset: function(){
            $.table.columns().search('').draw();
        },
        resetAll: function(){
            $.table.search('').columns().search('').draw();
        }
    };

    $.get = {
        row: function(cursor){
            return $.table.row($$(cursor).closest("tr")[0]);
        },
        item: function(cursor){
            return this.row(cursor).data();
        },
        id: function(cursor){
            return this.row(cursor).data()._id;
        },
        date: function(date){
            return moment(date).format('D/MM');
            // return moment(date).format('D MMM YYYY');
            // return tempus(date).format('%d %b %Y');
        },
        status: function(status){
            if (status > 1){
                var title = $store.status.getTitle(status),
                    color = $store.status.getColor(status);
            }
            else {
                var title = "новый",
                    color = 0;
            }
            if ((color || color == 0) && title){
                return '<span class="dataTable__status text-ellipsis color__bg'+ color +'">'+ title +'</span>';
            }
            else {
                return null;
            }
        }
    };

    this.on("unmount", function(){
        $.table.elem.off();
        $.table.destroy();
    });


</script>

</section-contacts-table>
