body {
	&:before {
		content:"";
		@include abs();
		@include accelerate(true);
		background-color:$white;
		will-change:opacity;
		transition:opacity 0.6s $cubic2501, margin-left 0s 0.6s;
		z-index:1000;
	}
	&:after {
		content:"";
		@include abs_50(245, 287);
		@include accelerate(true);
		will-change:opacity, transform;
		transform:translate3d(0, 0, 0) scale3d(0.52, 0.52, 1);
		transition:transform 0.65s $cubic272;
		background:url(/assets/images/logotype.svg) no-repeat 0 0 / cover;
		z-index:1001;
	}
	&.appAuth {
		&:after {
			transform:translate3d(0, -222px, 0) scale3d(0.35, 0.35, 1);
		}
		#auth,
		#authLine {
			opacity:1;
			transform:translate3d(0, 0, 0) scale3d(1, 1, 1);
		}
	}
	&.appAuthShow {
		#auth {
			pointer-events:auto;
			animation:authShowForm 0.65s $bounceSoft forwards;
		}
		#authLine {
			pointer-events:auto;
			animation:authShowLine 0.65s $bounceSoft forwards;
		}
		#submit {
			@include animation(rubberBand, linear, 0.65s, 0.65s);
		}
		&:after {
			animation:authShowLogo 0.65s $bounceSoft forwards;
		}
	}
	&.appLoading {
        .modal,
        .popup,
		.sidebar {
    		@extend .transitionAll-none;
    		@extend .pointerEvents-none;
        }
	}
	&.isLoading {
		&:before,
		&:after {
			opacity:0;
			margin-left:-999em;
		}
		&:after {
			transition:opacity 0.4s $cubic345, transform 0.6s $bounceSoft, margin-left 0s 0.6s;
			transform:translate3d(0, 0, 0) scale3d(0.44, 0.44, 1);
		}
	}
}
#auth {
	@include accelerate();
	will-change:opacity, transform;
	opacity:0;
	transform:translate3d(0, 400px, 0) scale3d(0.4, 0.4, 1);
	transition:opacity 0.45s $cubic272, transform 0.45s $cubic272;
	z-index:1002;
}
#authLine {
	will-change:transform;
	transition:transform 0.45s $cubic272;
	transform:translate3d(0, 0, 0) scale3d(0, 0.5, 1);
}
@keyframes authShowForm {
	from {
		opacity:0;
		transform:translate3d(0, 400px, 0) scale3d(0.4, 0.4, 1);
	}
    to {
		opacity:1;
		transform:translate3d(0, 0, 0) scale3d(1, 1, 1);
    }
}
@keyframes authShowLine {
	from {
		transform:translate3d(0, 0, 0) scale3d(0, 0.5, 1);
	}
    to {
		transform:translate3d(0, 0, 0) scale3d(1, 1, 1);
    }
}
@keyframes authShowLogo {
	from {
		transform:translate3d(0, -422px, 0) scale3d(0.7, 0.7, 1);
	}
    to {
		transform:translate3d(0, -222px, 0) scale3d(0.35, 0.35, 1);
    }
}
