.logo__wrapper {
    @include flex("row", "flex-start", "center");
    width:100%;
    height:$header_height;
    padding-top:20px;
}
.logo {
    position:relative;
    width:95px;
    height:95px;

    &__icon {
        width:95px;
        height:95px;

        &__pointer {
            position:absolute;
            top:-5px;
            left:17px;
            width:31px;
            height:31px;
            transform:rotate(-38deg);
        }
        &__inner {
            display:none;
            @include abs_50(24, 28);
            transform:translate3d(9px, -9px, 0) scale(0.78) rotate(-22deg);
            opacity:0.87;
            z-index:-1;
        }
        &__menu1 {
            display:none;
            @include abs_50(35, 35);
            transform:translate3d(8px, -8px, 0) scale3d(1, 0.68, 1);
            z-index:-1;
        }
        &__menu2 {
            display:none;
            @include abs_50(33, 33);
            transform:translate3d(9px, -6px, 0);
            z-index:-1;
        }
        &__menu3 {
            display:none;
            @include abs_50(30, 30);
            transform:translate3d(9px, -7px, 0) scale3d(1, 0.88, 1);
            z-index:-1;
        }
    }
}
.nav {
    @include accelerate(true);

    &__menu {
        user-select:none;
        position:relative;

        &__item {
            @include flex("row", "center", "center");
            height:$header_height;
            position:relative;
            cursor:pointer;
            white-space:nowrap;
            padding-bottom:7px;

            &:before {
                content:"";
                position:absolute;
                bottom:0;
                left:0;
                width:100%;
                height:5px;
                border-radius:4px 4px 0 0;
                background:$blue;
                box-shadow:0 0 13px 0 rgba(53,99,193,0.21);
                transform:translate3d(0, 0, 0) scale3d(0, 0, 1);
                transition:transform 0.2s $cubic215, border-radius 0.2s $cubic215;
            }
            &__button {
                display:block;
                transition:color 0.2s $cubic345;

                &--products {
                    margin-left:-30px;
                    transform:translate3d(0, 2px, 0);

                    &:before {
                        content:"";
                        display:inline-block;
                        width:48px;
                        height:48px;
                        background-repeat:no-repeat;
                        background-size:cover;
                        vertical-align:middle;
                        margin-right:2px;
                        margin-top:-6px;
                        background-image:url(/assets/images/nav/nav_products.svg);
                    }
                }
            }
            &:not(.nav__menu__item--active):hover {
                color:$blue;

                &:before {
                    border-radius:20px 20px 0 0;
                    transform:translate3d(0, 1px, 0) scale3d(0.4, 0.85, 1);
                }
            }
            &--active {
                color:$blue;

                &:before {
                    border-radius:4px 4px 0 0;
                    transform:translate3d(0, 0, 0) scale3d(1, 1, 1);
                    opacity:0.8;
                }
            }
        }
        &__fullscreen {
            position:absolute;
            top:50%;
            right:-25px;
            width:30px;
            height:30px;
            background:url(/assets/images/nav/nav_fullscreen.svg) no-repeat 0 0 / cover;
            cursor:pointer;
            transform:translate3d(0, -20px, 0);
        }
    }
}
.profile__panel {
    @include flex("column", "center", "center");
    width:100%;
    height:92px;
    transform:translate3d(-50px, 0, 0);

    &__avatar {
        position:relative;
        width:72px;
        height:72px;
        border:3px solid rgba($bg_color,.13);
        border-radius:50%;

        &__image {
            @include abs();
            background-position:top center;
            background-repeat:no-repeat;
            background-size:cover;
            border-radius:50%;
            opacity:0.95;
        }
    }
    // &__score {
    //     @include abs();
    //     width:200%;
    //     @include flex("column", "space-between", "flex-start");
    //     z-index:-1;
    //
    //     &__item {
    //         @include flex("row", "flex-end", "center");
    //         height:30%;
    //         border-radius:0 25px 25px 0;
    //         transform:translate3d(30px, 0, 0);
    //         text-align:right;
    //         padding-right:7px;
    //         color:#fff;
    //         font-family:$default;
    //         font-size:14px;
    //         line-height:14px;
    //         font-weight:bold;
    //
    //         &:nth-child(1) {
    //             width:75%;
    //             background-color:$blue;
    //             opacity:0.8;
    //         }
    //         &:nth-child(2) {
    //             width:55%;
    //             background-color:$blue;
    //             opacity:0.7;
    //         }
    //         &:nth-child(3) {
    //             width:64%;
    //             background-color:$blue;
    //             opacity:0.55;
    //         }
    //     }
    //     &__left {
    //         opacity:0.95;
    //         @include flex("row", "center", "center");
    //         position:absolute;
    //         top:0;
    //         right:100%;
    //         width:28px;
    //         height:28px;
    //         color:#fff;
    //         font-family:$default;
    //         font-size:14px;
    //         line-height:14px;
    //         font-weight:bold;
    //         border-radius:50%;
    //         background-color:$green;
    //         transform:translate3d(17px, -2px, 0);
    //     }
    // }
    // &__title {
    //     display:none;
    //     font-size:14px;
    //     @include textEllipsis(100%);
    //     @extend %caret;
    //     padding:2px 0 0 5px;
    //     cursor:pointer;
    //
    //     &:after {
    //         margin-left:5px;
    //     }
    // }
}

@media screen and (max-width:$md-width){
    .nav__menu__item__button--products {
        margin-left:-15px;
    }
    .nav__menu__logout {
        right:-50px;
    }
}
