.data__item {
    &__header {
        position:relative;
        cursor:pointer;
        z-index:3;

        .data__item__row--text {
            padding:0;
        }
        .data__item__text {
            padding-top:5px;
        }
        &:after {
            display:block;
            content:"";
            clear:both;
        }
    }
    &__num {
        color:$gray_lighten;
        font-size:22px;
    }
    &__user__icon {
        @include abs_50(54, 54);
        background:url(/assets/images/tile_user.svg) no-repeat 0 0 / cover;
        transform:translate3d(-6px, 0, 0);
    }
    &__icon {
        @include flex("row", "center", "center");
        width:54px;
        height:54px;
        border-radius:50%;
        border:1px solid lighten($blue_gray,7.5%);

        &:before {
            content:"";
            display:block;
            width:34px;
            height:34px;
            background-repeat:no-repeat;
            background-size:cover;
            opacity:0.8;
        }
        &--callback {
            &:before {
                background-image:url(/assets/images/tile_callback.svg);
            }
        }
        &--messenger {
            &:before {
                width:32px;
                height:32px;
                background-image:url(/assets/images/tile_messenger.svg);
            }
        }
        &--reviews {
            &:before {
                background-image:url(/assets/images/tile_reviews.svg);
            }
        }
    }
    &__alarm {
        @include flex("row", "center", "center");
        position:absolute;
        top:14px;
        left:10px;
        width:20px;
        height:20px;
        background:#ffa000;
        border-radius:50%;
        z-index:1;

        &:after {
            display:block;
            content:"";
            width:12px;
            height:12px;
            background:url(/assets/images/tile_alarm.svg) no-repeat 0 0 / cover;
            z-index:2;
        }
    }
    &__status {
        @include flex("row", "center", "center");
        position:absolute;
        bottom:15px;
        right:13px;
        width:17px;
        height:17px;
        border-radius:50%;

        &--success {
            background-color:$emerald_dark2;

            &:before {
                content:"";
                display:block;
                width:13px;
                height:13px;
                background:url(/assets/images/tile_status_success.svg) no-repeat 0 0 / cover;
                margin-left:1px;
            }
        }
        &--fail {
            background:url(/assets/images/tile_status_fail.svg) no-repeat 0 0 #fff / cover;
        }
    }
    &__cover {
        position:relative;
        @include flex("row", "center", "center");
        color:#fff;
        width:54px;
        height:54px;
        border-radius:50%;
        font-size:21px;
        background-color:$gray_lighten;
        overflow:hidden;

        // &__color1 {
        //     background-color:$green;
        // }
        // &__color2 {
        //     background-color:#00bbaf;
        // }
        // &__color3 {
        //     background-color:$azure;
        // }
        // &__color4 {
        //     background-color:#ff0079;
        // }
        // &__color5 {
        //     background-color:#ffd700;
        // }
        // &__color6 {
        //     background-color:#ff6700;
        // }
        // &__color7 {
        //     background-color:#7380d9;
        // }
        &__color1 {
            background-color:#9471DB;
        }
        &__color2 {
            background-color:#4D71DB;
        }
        &__color3 {
            background-color:#FFB84D;
        }
        &__color4 {
            background-color:#B871B8;
        }
        &__color5 {
            background-color:#71B84D;
        }
        &__color6 {
            background-color:#FFDB71;
        }
        &__color7 {
            background-color:#4DB8B8;
        }
        &__color8 {
            background-color:#4DB8DB;
        }
        &__color9 {
            background-color:#DB94DB;
        }
        &__color10 {
            background-color:#FFACC5;
        }
        &__color11 {
            background-color:#FF944D;
        }
        &__color12 {
            background-color:#B8DB4D;
        }
        &__color13 {
            background-color:#FF7194;
        }
        &__color14 {
            background-color:#6AD19F;
        }
        &--profile {
            background-position:top center;
            background-repeat:no-repeat;
            background-size:cover;
            text-indent:999em;
        }
    }
    &__profile {
        @include abs();
        @include flex("row", "center", "center");
        border-radius:50%;
        background:linear-gradient(to bottom,rgba(51,57,71,.45),rgba(77,148,219,.6));

        &:after {
            content:"";
            width:70px;
            height:70px;
            background-position:0 0;
            background-repeat:no-repeat;
            background-size:cover;
        }
        &--vk:after {
            background-image:url(/assets/images/social/vkontakte.svg);
            transform:translate3d(-7px, -1px, 0);
        }
        &--fb:after {
            background-image:url(/assets/images/social/facebook.svg);
            transform:translate3d(-8px, 0, 0);
        }
        &--tw:after {
            background-image:url(/assets/images/social/twitter.svg);
            transform:translate3d(-8px, 0, 0);
        }
        &--dk:after {
            background-image:url(/assets/images/social/odnoklassniki.svg);
            transform:translate3d(-8px, 0, 0);
        }
    }
    &__count {
        font-size:22px;
    }
    &__label {
        position:absolute;
        top:6px;
        left:0;
        width:100%;
        text-align:center;
        color:$gray_lighten;
        font-size:13px;
        white-space:nowrap;
        user-select:none;
        transition:opacity 0.25s $cubic57;

        &--hidden {
            opacity:0;
        }
    }
    &__date {
        position:absolute;
        top:0;
        right:0;
        padding:6px 0 6px 3px;
        border-radius:3px 4px 3px 13px;
        font-size:12px;
        line-height:12px;
        width:52px;
        white-space:nowrap;
        text-align:center;
        color:$gray_lighten;
        background-clip:border-box;
        border-left:1px dashed rgba($gray_lighten,.85);
        border-bottom:1px dashed rgba($gray_lighten,.85);
        cursor:pointer;
        transition:color 0.2s $cubic215, border-color 0.2s $cubic215;
        z-index:5;

        &:hover {
            color:$blue;
            border-color:rgba($blue,.85);
        }
    }
    &__time {
        color:$gray_light;
    }
    &__more {
        position:absolute;
        bottom:5px;
        right:-15px;
        z-index:5;

        &__button {
            width:20px;
            height:30px;
            opacity:0.7;
            cursor:pointer;
            transition:opacity 0.2s $cubic215;
            background:url(/assets/images/tile_more.svg) no-repeat 0 0 / cover;

            &:hover,
            .dropdown.open & {
                opacity:1;
            }
        }
    }
    // &__edit {
    //     position:absolute;
    //     bottom:12px;
    //     right:5px;
    //     width:21px;
    //     height:21px;
    //     opacity:0.8;
    //     cursor:pointer;
    //     transition:opacity 0.2s $cubic215;
    //     background:url(/assets/images/tile_edit.svg) no-repeat 0 0 / cover;
    //     z-index:5;
    //
    //     &:hover {
    //         opacity:1;
    //         background-image:url(/assets/images/tile_edit_active.svg);
    //     }
    // }
}
