.fc-event-color1 {
	border-color:rgba(135, 203, 22, 0.2);
	background-color:darken(#e7f5d0,4%);
}
.fc-event-color-bg1 {
	background-color:rgba(135, 203, 22, 1);
}
.fc-event-color-border1 {
	border-color:rgba(135, 203, 22, 0.7);
}
.fc-event-color2 {
	border-color:rgba(68, 125, 247, 0.2);
	background-color:#d9e5fe;
}
.fc-event-color-bg2 {
	background-color:rgba(68, 125, 247, 1);
}
.fc-event-color-border2 {
	border-color:rgba(68, 125, 247, 0.7);
}
.fc-event-color3 {
	border-color:rgba(#2aaef5, 0.2);
	background-color:#d1ebfd;
}
.fc-event-color-bg3 {
	background-color:rgba(#2aaef5, 1);
}
.fc-event-color-border3 {
	border-color:rgba(#2aaef5, 0.7);
}
.fc-event-color4 {
	border-color:rgba(255, 165, 52, 0.2);
	background-color:darken(#FFEDD6,4%);
}
.fc-event-color-bg4 {
	background-color:rgba(255, 165, 52, 1);
}
.fc-event-color-border4 {
	border-color:rgba(255, 165, 52, 0.7);
}
.fc-event-color5 {
	border-color:rgba(#cb77df, 0.2);
	background-color:#f2dff7;
}
.fc-event-color-bg5 {
	background-color:rgba(#cb77df, 1);
}
.fc-event-color-border5 {
	border-color:rgba(#cb77df, 0.7);
}
.fc-event-color6 {
	border-color:rgba(251, 64, 75, 0.2);
	background-color:#fed9db;
}
.fc-event-color-bg6 {
	background-color:rgba(251, 64, 75, 1);
}
.fc-event-color-border6 {
	border-color:rgba(251, 64, 75, 0.7);
}
