.event__calendar__list {
    position:absolute;
    top:0;
    left:0;
    width:375px;
    min-height:60px;
    font-family:$helvetica;
    font-size:16px;
    border-radius:10px;
    @extend .boxShadow-24;
    border:1px solid $smokeDarken;
    background-color:#fff;
    background-clip:padding-box;
    padding:10px 0 25px;
    visibility:hidden;
    transform:translate3d(999em, 0, 0);
    z-index:10;

    &:before {
        border-bottom: 11px solid rgba(0, 0, 0, 0.2);
        border-left: 11px solid rgba(0, 0, 0, 0);
        border-right: 11px solid rgba(0, 0, 0, 0);
        content: "";
        display: inline-block;
        position: absolute;
        left: 50%;
        top: -11px;
        transform:translate3d(-50%, 0, 0);
    }
    &:after {
        border-bottom: 11px solid #FFFFFF;
        border-left: 11px solid rgba(0, 0, 0, 0);
        border-right: 11px solid rgba(0, 0, 0, 0);
        content: "";
        display: inline-block;
        position: absolute;
        left: 50%;
        top: -10px;
        transform:translate3d(-50%, 0, 0);
    }
    &[data-active="true"]{
        visibility:visible;
        transform:translate3d(0, 0, 0);
        transition:transform 0s, visibility 0s 0.1s;
    }
    &[data-align-x="right"]{
        &:before {
            left:-17px;
            top:0;
            transform:translate3d(0, 25px, 0) rotate(-90deg);
        }
        &:after {
            left:-16px;
            top:0;
            transform:translate3d(0, 25px, 0) rotate(-90deg);
        }
    }
    &[data-align-x="left"]{
        &:before {
            left:auto;
            right:-17px;
            top:0;
            transform:translate3d(0, 25px, 0) rotate(90deg);
        }
        &:after {
            left:auto;
            right:-16px;
            top:0;
            transform:translate3d(0, 25px, 0) rotate(90deg);
        }
    }
    &[data-align-y="down"][data-align-x="right"]{
        transform:translate3d(5px, -21px, 0);
    }
    &[data-align-y="up"][data-align-x="right"]{
        transform:translate3d(5px, -221px, 0);

        &:before {
            transform:translate3d(0, 225px, 0) rotate(-90deg);
        }
        &:after {
            transform:translate3d(0, 225px, 0) rotate(-90deg);
        }
    }
    &[data-align-y="down"][data-align-x="left"]{
        transform:translate3d(-5px, -21px, 0);
    }
    &[data-align-y="up"][data-align-x="left"]{
        transform:translate3d(-5px, -221px, 0);

        &:before {
            transform:translate3d(0, 225px, 0) rotate(90deg);
        }
        &:after {
            transform:translate3d(0, 225px, 0) rotate(90deg);
        }
    }
}
