.event {
    &__header {
        @include flex("row", "flex-start", "center");
        margin:10px 10px 8px 20px;

        &__title {
            width:74%;
        }
        &__color {
            @include flex("row", "center", "center");
            width:13%;

            &__item {
                position:relative;
                display:block;
                width:20px;
                height:20px;
                border-radius:50%;
                transform:translate3d(4px, 0, 0);
                cursor:pointer;

                &:after {
                    opacity:0;
                    content:"";
                    @include abs_50(34, 34);
                    border:1px solid rgba($blue_gray,.4);
                    border-radius:4px;
                }
                &:hover {
                    &:after {
                        opacity:1;
                    }
                }
            }
        }
        &__important {
            @include flex("row", "center", "center");
            width:13%;

            &__item {
                position:relative;
                display:block;
                @include ui-icon(fire_muted, 27px, 27px);
                transform:translate3d(0, -1px, 0);
                cursor:pointer;

                &.active {
                    @include ui-icon(fire);
                }
                &:after {
                    opacity:0;
                    content:"";
                    @include abs_50(34, 34);
                    border:1px solid rgba($blue_gray,.4);
                    border-radius:4px;
                }
                &:hover {
                    &:after {
                        opacity:1;
                    }
                }
            }
        }
    }
    // &__tags {
    //     font-size:0;
    //     margin:0 20px;
    //
    //     &__item {
    //         opacity:0.85;
    //         display:inline-block;
    //         vertical-align:top;
    //         padding:0 10px;
    //         height:29px;
    //         border-radius:4px;
    //         border:1px solid $blue;
    //         color:$blue;
    //         font-weight:400;
    //         font-size:12px;
    //         line-height:28px;
    //         cursor:pointer;
    //         user-select:none;
    //         margin-right:6px;
    //         margin-bottom:5px;
    //         @include accelerate(true);
    //         will-change:background, border-color, color;
    //         transition:color 0.12s $cubic645, border-color 0.12s $cubic645, background 0.12s $cubic645;
    //
    //         &:hover {
    //             color:#fff;
    //             background:$blue;
    //             border-color:$blue;
    //         }
    //     }
    // }
    &__date {
        @include flex("row", "flex-start", "center");
        font-size:15px;
        line-height:20px;
        text-transform:uppercase;
        margin:12px 10px 21px 20px;
        white-space:nowrap;

        &__item {
            cursor:pointer;
        }
        &__value {
            color:$blue;
            width:125px;

            &:before {
                content:"";
                display:inline-block;
                vertical-align:top;
                @include ui-icon(calendar, 18px, 18px);
                margin-right:8px;
                transform:translate3d(0, -1px, 0);
            }
        }
        &__time {
            color:$gray_lighten;
            padding-left:10px;
            padding-right:5px;
            opacity:0.7;

            &:before {
                content:"";
                display:inline-block;
                vertical-align:top;
                @include ui-icon(time_muted, 17px, 17px);
                margin-right:8px;
                transform:translate3d(0, 0, 0);
            }
            &.active {
                color:$blue;
                opacity:1;

                &:before {
                    @include ui-icon(time);
                }
            }
        }
        &__allday {
            color:$gray_lighten;
            font-size:13px;
            padding-left:5px;
            opacity:0.7;

            &.active {
                color:$blue;
                opacity:1;
            }
        }
    }
    &__attach {
        @include flex("row", "flex-start", "center");
        position:relative;
        margin:20px 0;
        min-height:40px;

        &:before {
            content:"";
            position:absolute;
            top:50%;
            left:0;
            width:100%;
            height:1px;
            background:linear-gradient(to right, rgba($blue,.2), rgba($blue,.06));
            // background:rgba($blue,.15);
        }
        &__icon {
            @include flex("row", "center", "center");
            position:relative;
            margin:0 17px 0 30px;
            width:35px;
            height:35px;
            border-radius:50%;
            // border:1px solid rgba($gray_lighten,.4);

            &:before {
                content:"";
                @include abs();
                background-color:#fff;
                border-radius:50%;
            }
            &:after {
                position:relative;
                display:block;
                content:"";
            }
            &--email:after {
                @include ui-icon(email, 29px, 29px);
            }
            &--phone:after {
                @include ui-icon(phone, 28px, 28px);
            }
            &--location:after {
                @include ui-icon(location, 24px, 24px);
            }
            &--comments:after {
                @include ui-icon(edit, 24px, 24px);
            }
        }
        .input__group {
            width:62%;
        }
        .form__control {
            border-radius:4px;
        }
        &__button {
            position:relative;
            color:rgba($blue,.8);
            height:30px;
            font-size:11.5px;
            line-height:30px;
            padding:0 12px 0 10px;
            border-radius:20px;
            border:1px solid rgba($blue,.8);
            text-transform:uppercase;
            cursor:pointer;
            @include accelerate(true);
            will-change:background, border-color, color;
            transition:color 0.12s $cubic645, border-color 0.12s $cubic645;

            &:before {
                content:"";
                @include abs();
                background:#fff;
                border-radius:20px;
                transition:background 0.12s $cubic645;
                z-index:-1;
            }
            &:hover {
                color:#fff;
                border-color:$blue;

                &:before {
                    background:$blue;
                }
            }
            &__plus {
                padding-right:4px;
                font-size:16px;
                line-height:14px;
            }
        }
    }
    &__buttons {
        text-align:right;
        white-space:nowrap;
        font-size:0;
        padding-right:15px;
        margin-top:25px;
        margin-bottom:-8px;

        .btn-group {
            display:inline-block;
        }
        .btn {
            display:inline-block;
        }
    }
}
