.event__calendar__list {
    position:absolute;
    top:188px;
    left:726px;
    width:375px;
    min-height:60px;
    font-family:$helvetica;
    font-size:16px;
    border-radius:10px;
    box-shadow:0 1px 15px 0 rgba(0,0,0,.1);
    border:1px solid #c9d7df;
    background-color:#fff;
    background-clip:padding-box;
    padding:10px 0 25px;
    visibility:hidden;
    transform:translate3d(999em, 0, 0);
    z-index:10;

    &:before {
        border-bottom: 11px solid rgba(0, 0, 0, 0.2);
        border-left: 11px solid rgba(0, 0, 0, 0);
        border-right: 11px solid rgba(0, 0, 0, 0);
        content: "";
        display: inline-block;
        position: absolute;
        left: 50%;
        top: -11px;
        transform:translate3d(-50%, 0, 0);
    }
    &:after {
        border-bottom: 11px solid #FFFFFF;
        border-left: 11px solid rgba(0, 0, 0, 0);
        border-right: 11px solid rgba(0, 0, 0, 0);
        content: "";
        display: inline-block;
        position: absolute;
        left: 50%;
        top: -10px;
        transform:translate3d(-50%, 0, 0);
    }
    &[data-active="true"]{
        visibility:visible;
        transform:translate3d(0, 0, 0);
        transition:transform 0s, visibility 0s 0.1s;
    }
    &[data-align="right"]{
        &:before {
            left:-17px;
            top:50%;
            transform:translate3d(0, -50%, 0) rotate(-90deg);
        }
        &:after {
            left:-16px;
            top:50%;
            transform:translate3d(0, -50%, 0) rotate(-90deg);
        }
    }
    &[data-align="down-right"]{
        transform:translate3d(5px, -21px, 0);

        &:before {
            left:-17px;
            top:0;
            transform:translate3d(0, 25px, 0) rotate(-90deg);
        }
        &:after {
            left:-16px;
            top:0;
            transform:translate3d(0, 25px, 0) rotate(-90deg);
        }
    }
}
