.event__list {
    &__timeline {
        position:absolute;
        top:0;
        left:30%;
        width:1px;
        height:100%;
        background:linear-gradient(to bottom, rgba($gray_lighten,.5), rgba($gray_lighten,.1));
    }
    &__item {
        position:relative;
        @include flex("row", "space-between", "flex-start");
        padding:15px 0;
        width:100%;

        &__important {
            position:absolute;
            top:0px;
            right:10px;
            @include ui-icon(fire, 24px, 24px);
        }
        &__time {
            color:$gray_darken;
            width:30%;
            font-size:18px;
            text-align:center;

            &--allday {
                font-size:16px;
            }
        }
        &__color {
            width:20px;

            &__item {
                position:relative;
                width:20px;
                height:20px;
                border:3px solid;
                border-radius:50%;
                transform:translate3d(-3px, 1px, 0);

                &:after {
                    content:"";
                    @include abs();
                    background-color:#fff;
                    border-radius:50%;
                    z-index:-1;
                }
            }
        }
        &__container {
            width:70%;
            padding:0 15px 0 10px;
        }
        &__strong {
            color:$gray_darken;
            font-weight:bold;
        }
        &__link {
            color:$blue;
        }
        &__text {
            font-size:14px;
            // @include textEllipsis(100%, 34px, 2);
        }
    }
}
